{% extends "base.html" %}
{% load staticfiles %}
{% block title %}俄羅斯鐵路的球迷 | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/bolelshikam.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">俄羅斯鐵路的球迷</div>
<!--Left Column-->
<h1>俄羅斯鐵路的球迷</h1>
<section class="box">
<div id="tabs">
  <!-- Вкладки выполнены в виде списка с якорными ссылками -->
  <ul class="tabs">
    <li class="tab active"><a href="#info" class="active">乘客信息</a></li>
    <li class="tab"><a href="#buy-ticket">买票</a></li>
    <li class="tab"><a href="#map">世界杯举办时期免费列车时间表</a></li>
  </ul>
  <!-- Содержимое каждой вкладки имеет id в соответствии с якорной ссылкой -->
<div class="tabs-content">
  <div id="info">
  <div class="info"><div class="info-icon"><img src="{% static "img/icons-bolel/pic_info.svg" %}"></div><p>2018年足球世界杯：俄罗斯铁路乘客须知</p> </div>

  <div class="pdf"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}"><img src="{% static "img/icons-bolel/pdf-download.png" %}">下载 PDF</a></div>
<div id="container">
<div class="sub-tabs">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">免费乘车</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">上车规定</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">如果……怎么办？</label>
<input id="tab4" type="radio" name="tabs">
<label for="tab4">支持残疾人</label>
<input id="tab5" type="radio" name="tabs">
<label for="tab5">火车站额外服务</label>
<input id="tab6" type="radio" name="tabs">
<label for="tab6">通行检查</label>
<input id="tab7" type="radio" name="tabs">
<label for="tab7">安全规定</label>
<input id="tab8" type="radio" name="tabs">
<label for="tab8">可以咨询谁？</label>
<input id="tab9" type="radio" name="tabs">
<label for="tab9">主要联系方式</label>
<input id="tab10" type="radio" name="tabs">
<label for="tab10">紧急情况部门呼救电话</label>
<input id="tab11" type="radio" name="tabs">
<label for="tab11">参与2018年世界杯国家驻俄领事馆联系信息</label>
<div class="sbcont" id="content1">
 	<h2 class="title-tab">免费乘车</h2>
	<img src="/media/story_img/kassir1.jpg">
  <p><strong>如果上不了网，是否可以在售票处领取免费列车票？</strong></p>
  <p>可在火车站设有的专门售票窗口当场领取车票，也可拨打热线电话办理：8-800-775-2018。免费列车出发两个小时前结束热线电话处理免费列车票事宜。可在免费列车出发之前不早于一天/不晚于10分钟领取免费列车票。</p>
  <p><strong>如果我赶不上免费列车， 是否可以用现有列车票前往目标地？</strong></p>
  <p>需要取消座号票并重新领取列车票。可在火车站设有的专业售票窗口领取车票，也可拨打热线电话办理：8-800-775-2018。</p>
  <p><strong>失去护照时我需要联系领事馆/信息台。在我前往发放新身份证的地方之前，领事馆需要证明跟我联系过。领事馆要怎么做？是否需要以书面方式确定我跟领事馆联系过？</strong></p>
  <p>出席比赛的球迷上免费列车时需要出示下列文件：</p>
  <ul>
    <li>比赛门票或让持有者获得比赛门票的证明；</li>
    <li>身份证明；</li>
    <li>个人球迷卡纸质版。</li>
  </ul>
  <p>无国籍人士需要出示：</p>
  <ul>
    <li>临时居留许可；</li>
    <li>居留证；</li>
    <li>俄罗斯法律和国际法律规定的其它身份证。</li>
  </ul>
  <p><strong>拨打热线电话时，听说现在可以订免费列车座位，以后可以领取车票？对吗？ 是否发到我电子邮箱的电子列车票就是？还是发到电子邮箱的订票确认被视为座号票？</strong></p>
  <p>处理免费列车手续之后会把座号票发到您的电子邮箱（不早于免费列车出发90天之前）。</p>
  <p>发到电子邮箱的订票确认不是座号票。</p>
  <p><strong>球迷是否能在比赛前一天和后一天享受免费列车？游客是否可以提前前往举办地或在举办地逗留更长的时间？这是否意味着比如说球迷只可订莫斯科–伏尔加格勒–莫斯科路线的车票？还是可以安排更复杂的旅行路线，如莫斯科–伏尔加格勒–下诺夫哥罗德？</strong></p>
  <p>球迷可以根据现有的路线和列车行驶时间表享受免费列车。时间表便于球迷提前抵达举办地，列车不晚于比赛开幕2-3小时之前抵达举办地，球迷可游览举办地的名胜古迹，列车最早于比赛闭幕2-3小时之后出发。免费列车主要在莫斯科和其它举办地之间行驶，也可以根据时间表在其它举办地之间旅行。</p>
  <p><strong>根据喀山市的有关资料，在列车禁止买酒，在火车站和列车上都不可以喝酒，餐车为例外。是否只可在餐车买酒喝酒？</strong></p>
  <p>餐车根据俄罗斯联邦法律出售酒精饮料。在公共空间不可喝酒。</p>
  <p><strong>免费车票需要网上购买，确认邮件发到电子邮箱。这是否意味车票不会丢失或损坏？</strong></p>
  <p>如果晚于列车出发1小时之前您才在火车站售票处处理免费旅行，上车时就需要出示座号票。在其它的条件下不要出示座号票。上免费列车时必须出示比赛门票或让持有者获得比赛门票的身份证、身份证以及个人球迷卡纸质版。不单独坐在座位上的孩子上车时必须出示无座的车票（纸板或电子版）和身份证。</p>

</div>

<div class="sbcont" id="content2">
  <h2 class="title-tab">上车规定</h2>
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>为顺利通过检查，建议提前到达火车站：提前<span class="number-bold">30</span>分钟。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>根据车票信息上车（在中间站可在任何车厢上车）。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>乘客上车之后人员 将再次检查车票。</p> </div>
  <h2>列车服务时需要的文件</h2>
  <p>2018年足球世界杯： 使用举办比赛城市之间 行驶增开列车服务时需要的文件 </p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>足球比赛门票</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>能证明身份的证件</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>纸质个人球迷护照/FAN ID （非电子版）。为了安排乘车， 建议使用纸质车票。</p> </div>
</div>

<div class="sbcont" id="content3">
  <h2 class="title-tab">如果……怎么办？</h2>
  <img src="/media/story_img/opozdanie.jpg">
  <h2>车票丢失/被偷/破损</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>车票丢失/被偷/破损联系信息台人员或火车站站长值班助手，按照他们的建议（车票丢失/破损时乘客须付费</p> </div>
  <h2>没赶上火车</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>联系信息台人员、火车站站长值班助手或志愿者，遵循他们的建议。</p> </div>
  <h2>身份证丢失/被偷</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>联系信息台人员、火车站站长值班助手或警察，遵循他们的建议（建议提前记下中国驻俄罗斯领事馆的电话）。</p> </div>
  <h2>球迷护照/FAN ID丢失/被偷</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>联系球迷护照发出中心，出示您用来办球迷护照手续的身份证（为确定球迷护照发出中心的所在地，联系信息台人员或志愿者，遵循他们的建议）。</p> </div>
</div>

<div class="sbcont" id="content4">
  <h2 class="title-tab">支持残疾人</h2>
  <img src="/media/story_img/kolyaska.jpg">
  <h2>准备旅行</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>可以买到列车特别座位车票（需要向协助残疾人中心出示有关医疗文件）。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>在最早提前三天/最晚提前24小时可以预订下列服务（如果 没有预订服务，可以联系火车站信息台）。</p> </div>
  <h2>检查程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>坐着轮椅的乘客和游客无须通过金属探机，可以绕过金属探机。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>工作人员手动进行检查。</p> </div>
  <h2>支持残疾人旅行</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>在火车站迎接残疾人</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>陪同乘客到列车/火车站主要地方</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>协助残疾人使用火车站服务</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>等待列车时提供休息的地方</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>协助移动行李（限于三件行李）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>协助上下长途列车</p> </div>
  <div class="line"><p>导盲犬可以由特别增列运送。</p></div>
</div>

<div class="sbcont" id="content5">
  <h2 class="title-tab">火车站额外服务</h2>
  <img src="/media/story_img/wifi.jpg">
  <h2>免费服务</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Wi-Fi （需要用个人信息登录）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>手机充电器等电器（充电点用特别标识指出）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>卫生间/WC（下车后两个小时内仍可以免费使用）</p> </div>
  <h2>收费服务</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>自动寄存处</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>休息室 （许多火车站设有浴室）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>高端休息室</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>复印/打印服务（大多数火车站提供这样的服务）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">在火车站信息台可以确定是否提供有关服务并查询价格</p> </div>
</div>

<div class="sbcont" id="content6">
  <h2 class="title-tab">通行检查</h2>
  <img src="/media/story_img/912.jpg">
  <h2>检查方式</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>固定金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>手提金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>X光（用于检查行李）</p> </div>
  <h2>检查程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>把行李和手提行李放上设备带 （把小东西和珍贵物品放入托盘）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>回答工作人员的问题 （如果工作人员怀疑游客带有违禁物品时重新进行检查）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">乘客拒绝通过检查时客运协议单方废除</p> </div>
  <h2>检查带有心脏起搏器者</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>不要通过固定金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>建议携带有关医疗文件</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">带有心脏起搏器的乘客和游客应该与火车站确定通行检查的过程.</p> </div>
  <h2>检查残疾人的程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>把折叠式轮椅折叠并放上设备带</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>大型轮椅或不可折叠的轮椅根据工作人员的要求进行手动检查</p> </div>
</div>

<div class="sbcont" id="content7">
  <h2 class="title-tab">安全规定</h2>
  <img src="/media/story_img/sochivokzal.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>禁止处于醉酒、中毒或者麻醉状态</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>禁止在火车站内部或列车上抽烟</p> </div>
  <h2>在轨道/站台禁止</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>在乘客台上跑或进行运动性游戏</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>带有可能打伤别人的无包装、无外套的东西</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>站在轨道上或把东西留在轨道上</p> </div>
  <h2>上车时禁止</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>列车完全停止之前接近车厢</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>列车移动时上下列车</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>探身窗外.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>在座位以外的地方坐下</p> </div>
  <h2>禁止携带</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>武器 / 弹药 / 子弹</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>危险物品</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>爆易燃易爆物 / 烟火</p> </div>
</div>

<div class="sbcont" id="content8">
  <h2 class="title-tab">可以咨询谁？</h2>
  <img src="/media/story_img/kkomu.jpg">
  <div class="line">
    <div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div>
    <p>火车站信息台联系英语志愿者火车站志愿者穿着带有2018年足球世界杯商标的亮色服装前线服务员穿着带有俄罗斯铁路股份公司商标的亮绿色短衫</p>
  </div>
</div>

<div class="sbcont" id="content9">
  <h2 class="title-tab">主要联系方式</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>俄罗斯铁路股份公司咨询热线<br> <span class="number-bold">8 800 775 00 00</span></p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>2018年足球世界杯交通司咨询热线 <br> <span class="number-bold">8 495 933-20-18</span></p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p>俄罗斯铁路股份公司网站 <span class="number-bold">www.pass.rzd.ru</span></p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p>电子邮件 <span class="number-bold">info@rzd.ru</span></p> </div>
</div>

<div class="sbcont" id="content10">
  <h2 class="title-tab">紧急情况部门呼救电话</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">消防部（紧急情况部）101</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">警察 102</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">医疗急救 103</p></div>
</div>

<div class="sbcont" id="content11">
  <h2>参与2018年世界杯国家驻俄领事馆联系信息</h2>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>阿根廷 </b> <br>+7 495 725-14-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>澳大利亚 </b> <br>+61 2 6261 3305</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>比利时 </b> <br>+7 495 763-55-42</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>巴西 </b> <br>+7 495 960-81-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>哥伦比亚 </b> <br>+7 499 248-30-73</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>哥斯达黎加 </b> <br>+7 495 415-40-14</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>克罗地亚 </b> <br>+7 495 785-39-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>丹麦 </b> <br>+7 495 642-68-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>埃及 </b> <br>+7 499 246-30-80</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>法国 </b> <br>+7 495 937-15-07</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>德国 </b> <br>+7 495 937-95-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/static/img/flag-eng.png"></div><p><b>英国 </b> <br>+7 495 956-72-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>冰岛 </b> <br>+7 495 956-76-04</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>伊朗 </b> <br>+7 495 917-72-82</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>日本 </b> <br>+7 495 229-25-20</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>墨西哥 </b> <br>+7 495 637-21-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>摩洛哥 </b> <br>+7 499 703-12-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>尼日利亚 </b> <br>+7 495 690-37-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>巴拿马 </b> <br>+7 495 956-07-29</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>秘鲁 </b> <br>+7 985 389-06-60</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>波兰 </b> <br>+7 495 231-15-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>葡萄牙 </b> <br>+7 965 348-13-28</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>沙特阿拉伯 </b> <br>+7 917 511-08-15</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>塞内加尔 </b> <br>+221 33 822-2325</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>塞尔维亚 </b> <br>+7 495 988-66-45</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>韩国 </b> <br>+7 495 783-27-27</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>西班牙 </b> <br>+7 499 136-39-02</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>瑞典 </b> <br>+7 495 937-92-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>瑞士 </b> <br>+7 495 258-38-30</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>突尼斯 </b> <br>+7 495 691-28-58</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>乌拉圭 </b> <br>+7 499 230-76-35</p> </div>
</div>
</div>


<div class="mob-sub-tabs">
<div class="back_menu"><img src="{% static "img/icons-bolel/back.svg" %}"></div>
<input id="mtab1" type="radio" name="tabs">
<label for="mtab1">免费乘车</label>
<input id="mtab2" type="radio" name="tabs">
<label for="mtab2">上车规定</label>
<input id="mtab3" type="radio" name="tabs">
<label for="mtab3">如果……怎么办？</label>
<input id="mtab4" type="radio" name="tabs">
<label for="mtab4">支持残疾人</label>
<input id="mtab5" type="radio" name="tabs">
<label for="mtab5">火车站额外服务</label>
<input id="mtab6" type="radio" name="tabs">
<label for="mtab6">通行检查</label>
<input id="mtab7" type="radio" name="tabs">
<label for="mtab7">安全规定</label>
<input id="mtab8" type="radio" name="tabs">
<label for="mtab8">可以咨询谁？</label>
<input id="mtab9" type="radio" name="tabs">
<label for="mtab9">主要联系方式</label>
<input id="mtab10" type="radio" name="tabs">
<label for="mtab10">紧急情况部门呼救电话</label>
<input id="mtab11" type="radio" name="tabs">
<label for="mtab11">参与2018年世界杯国家驻俄领事馆联系信息</label>
<div class="sbcont" id="mcontent1">
 	<h2 class="title-tab">免费乘车</h2>
	<img src="/media/story_img/kassir1.jpg">
  <p><strong>如果上不了网，是否可以在售票处领取免费列车票？</strong></p>
  <p>可在火车站设有的专门售票窗口当场领取车票，也可拨打热线电话办理：8-800-775-2018。免费列车出发两个小时前结束热线电话处理免费列车票事宜。可在免费列车出发之前不早于一天/不晚于10分钟领取免费列车票。</p>
  <p><strong>如果我赶不上免费列车， 是否可以用现有列车票前往目标地？</strong></p>
  <p>需要取消座号票并重新领取列车票。可在火车站设有的专业售票窗口领取车票，也可拨打热线电话办理：8-800-775-2018。</p>
  <p><strong>失去护照时我需要联系领事馆/信息台。在我前往发放新身份证的地方之前，领事馆需要证明跟我联系过。领事馆要怎么做？是否需要以书面方式确定我跟领事馆联系过？</strong></p>
  <p>出席比赛的球迷上免费列车时需要出示下列文件：</p>
  <ul>
    <li>比赛门票或让持有者获得比赛门票的证明；</li>
    <li>身份证明；</li>
    <li>个人球迷卡纸质版。</li>
  </ul>
  <p>无国籍人士需要出示：</p>
  <ul>
    <li>临时居留许可；</li>
    <li>居留证；</li>
    <li>俄罗斯法律和国际法律规定的其它身份证。</li>
  </ul>
  <p><strong>拨打热线电话时，听说现在可以订免费列车座位，以后可以领取车票？对吗？ 是否发到我电子邮箱的电子列车票就是？还是发到电子邮箱的订票确认被视为座号票？</strong></p>
  <p>处理免费列车手续之后会把座号票发到您的电子邮箱（不早于免费列车出发90天之前）。</p>
  <p>发到电子邮箱的订票确认不是座号票。</p>
  <p><strong>球迷是否能在比赛前一天和后一天享受免费列车？游客是否可以提前前往举办地或在举办地逗留更长的时间？这是否意味着比如说球迷只可订莫斯科–伏尔加格勒–莫斯科路线的车票？还是可以安排更复杂的旅行路线，如莫斯科–伏尔加格勒–下诺夫哥罗德？</strong></p>
  <p>球迷可以根据现有的路线和列车行驶时间表享受免费列车。时间表便于球迷提前抵达举办地，列车不晚于比赛开幕2-3小时之前抵达举办地，球迷可游览举办地的名胜古迹，列车最早于比赛闭幕2-3小时之后出发。免费列车主要在莫斯科和其它举办地之间行驶，也可以根据时间表在其它举办地之间旅行。</p>
  <p><strong>根据喀山市的有关资料，在列车禁止买酒，在火车站和列车上都不可以喝酒，餐车为例外。是否只可在餐车买酒喝酒？</strong></p>
  <p>餐车根据俄罗斯联邦法律出售酒精饮料。在公共空间不可喝酒。</p>
  <p><strong>免费车票需要网上购买，确认邮件发到电子邮箱。这是否意味车票不会丢失或损坏？</strong></p>
  <p>如果晚于列车出发1小时之前您才在火车站售票处处理免费旅行，上车时就需要出示座号票。在其它的条件下不要出示座号票。上免费列车时必须出示比赛门票或让持有者获得比赛门票的身份证、身份证以及个人球迷卡纸质版。不单独坐在座位上的孩子上车时必须出示无座的车票（纸板或电子版）和身份证。</p>

</div>

<div class="sbcont" id="mcontent2">
  <h2 class="title-tab">上车规定</h2>
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>为顺利通过检查，建议提前到达火车站：提前<span class="number-bold">30</span>分钟。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>根据车票信息上车（在中间站可在任何车厢上车）。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>乘客上车之后人员 将再次检查车票。</p> </div>
  <h2>列车服务时需要的文件</h2>
  <p>2018年足球世界杯： 使用举办比赛城市之间 行驶增开列车服务时需要的文件 </p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>足球比赛门票</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>能证明身份的证件</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>纸质个人球迷护照/FAN ID （非电子版）。为了安排乘车， 建议使用纸质车票。</p> </div>
</div>

<div class="sbcont" id="mcontent3">
  <h2 class="title-tab">如果……怎么办？</h2>
  <img src="/media/story_img/opozdanie.jpg">
  <h2>车票丢失/被偷/破损</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>车票丢失/被偷/破损联系信息台人员或火车站站长值班助手，按照他们的建议（车票丢失/破损时乘客须付费</p> </div>
  <h2>没赶上火车</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>联系信息台人员、火车站站长值班助手或志愿者，遵循他们的建议。</p> </div>
  <h2>身份证丢失/被偷</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>联系信息台人员、火车站站长值班助手或警察，遵循他们的建议（建议提前记下中国驻俄罗斯领事馆的电话）。</p> </div>
  <h2>球迷护照/FAN ID丢失/被偷</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>联系球迷护照发出中心，出示您用来办球迷护照手续的身份证（为确定球迷护照发出中心的所在地，联系信息台人员或志愿者，遵循他们的建议）。</p> </div>
</div>

<div class="sbcont" id="mcontent4">
  <h2 class="title-tab">支持残疾人</h2>
  <img src="/media/story_img/kolyaska.jpg">
  <h2>准备旅行</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>可以买到列车特别座位车票（需要向协助残疾人中心出示有关医疗文件）。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>在最早提前三天/最晚提前24小时可以预订下列服务（如果 没有预订服务，可以联系火车站信息台）。</p> </div>
  <h2>检查程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>坐着轮椅的乘客和游客无须通过金属探机，可以绕过金属探机。</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>工作人员手动进行检查。</p> </div>
  <h2>支持残疾人旅行</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>在火车站迎接残疾人</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>陪同乘客到列车/火车站主要地方</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>协助残疾人使用火车站服务</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>等待列车时提供休息的地方</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>协助移动行李（限于三件行李）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>协助上下长途列车</p> </div>
  <div class="line"><p>导盲犬可以由特别增列运送。</p></div>
</div>

<div class="sbcont" id="mcontent5">
  <h2 class="title-tab">火车站额外服务</h2>
  <img src="/media/story_img/wifi.jpg">
  <h2>免费服务</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Wi-Fi （需要用个人信息登录）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>手机充电器等电器（充电点用特别标识指出）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>卫生间/WC（下车后两个小时内仍可以免费使用）</p> </div>
  <h2>收费服务</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>自动寄存处</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>休息室 （许多火车站设有浴室）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>高端休息室</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>复印/打印服务（大多数火车站提供这样的服务）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">在火车站信息台可以确定是否提供有关服务并查询价格</p> </div>
</div>

<div class="sbcont" id="mcontent6">
  <h2 class="title-tab">通行检查</h2>
  <img src="/media/story_img/912.jpg">
  <h2>检查方式</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>固定金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>手提金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>X光（用于检查行李）</p> </div>
  <h2>检查程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>把行李和手提行李放上设备带 （把小东西和珍贵物品放入托盘）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>回答工作人员的问题 （如果工作人员怀疑游客带有违禁物品时重新进行检查）</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">乘客拒绝通过检查时客运协议单方废除</p> </div>
  <h2>检查带有心脏起搏器者</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>不要通过固定金探机</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>建议携带有关医疗文件</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">带有心脏起搏器的乘客和游客应该与火车站确定通行检查的过程.</p> </div>
  <h2>检查残疾人的程序</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>把折叠式轮椅折叠并放上设备带</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>大型轮椅或不可折叠的轮椅根据工作人员的要求进行手动检查</p> </div>
</div>

<div class="sbcont" id="mcontent7">
  <h2 class="title-tab">安全规定</h2>
  <img src="/media/story_img/sochivokzal.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>禁止处于醉酒、中毒或者麻醉状态</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>禁止在火车站内部或列车上抽烟</p> </div>
  <h2>在轨道/站台禁止</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>在乘客台上跑或进行运动性游戏</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>带有可能打伤别人的无包装、无外套的东西</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>站在轨道上或把东西留在轨道上</p> </div>
  <h2>上车时禁止</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>列车完全停止之前接近车厢</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>列车移动时上下列车</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>探身窗外.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>在座位以外的地方坐下</p> </div>
  <h2>禁止携带</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>武器 / 弹药 / 子弹</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>危险物品</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>爆易燃易爆物 / 烟火</p> </div>
</div>

<div class="sbcont" id="mcontent8">
  <h2 class="title-tab">可以咨询谁？</h2>
  <img src="/media/story_img/kkomu.jpg">
  <div class="line">
    <div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div>
    <p>火车站信息台联系英语志愿者火车站志愿者穿着带有2018年足球世界杯商标的亮色服装前线服务员穿着带有俄罗斯铁路股份公司商标的亮绿色短衫</p>
  </div>
</div>

<div class="sbcont" id="mcontent9">
  <h2 class="title-tab">主要联系方式</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>俄罗斯铁路股份公司咨询热线<br> <span class="number-bold">8 800 775 00 00</span></p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>2018年足球世界杯交通司咨询热线 <br> <span class="number-bold">8 495 933-20-18</span></p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p>俄罗斯铁路股份公司网站 <span class="number-bold">www.pass.rzd.ru</span></p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p>电子邮件 <span class="number-bold">info@rzd.ru</span></p> </div>
</div>

<div class="sbcont" id="mcontent10">
  <h2 class="title-tab">紧急情况部门呼救电话</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">消防部（紧急情况部）101</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">警察 102</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">医疗急救 103</p></div>
</div>

<div class="sbcont" id="mcontent11">
  <h2>参与2018年世界杯国家驻俄领事馆联系信息</h2>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>阿根廷 </b> <br>+7 495 725-14-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>澳大利亚 </b> <br>+61 2 6261 3305</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>比利时 </b> <br>+7 495 763-55-42</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>巴西 </b> <br>+7 495 960-81-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>哥伦比亚 </b> <br>+7 499 248-30-73</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>哥斯达黎加 </b> <br>+7 495 415-40-14</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>克罗地亚 </b> <br>+7 495 785-39-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>丹麦 </b> <br>+7 495 642-68-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>埃及 </b> <br>+7 499 246-30-80</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>法国 </b> <br>+7 495 937-15-07</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>德国 </b> <br>+7 495 937-95-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/static/img/flag-eng.png"></div><p><b>英国 </b> <br>+7 495 956-72-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>冰岛 </b> <br>+7 495 956-76-04</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>伊朗 </b> <br>+7 495 917-72-82</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>日本 </b> <br>+7 495 229-25-20</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>墨西哥 </b> <br>+7 495 637-21-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>摩洛哥 </b> <br>+7 499 703-12-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>尼日利亚 </b> <br>+7 495 690-37-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>巴拿马 </b> <br>+7 495 956-07-29</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>秘鲁 </b> <br>+7 985 389-06-60</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>波兰 </b> <br>+7 495 231-15-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>葡萄牙 </b> <br>+7 965 348-13-28</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>沙特阿拉伯 </b> <br>+7 917 511-08-15</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>塞内加尔 </b> <br>+221 33 822-2325</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>塞尔维亚 </b> <br>+7 495 988-66-45</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>韩国 </b> <br>+7 495 783-27-27</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>西班牙 </b> <br>+7 499 136-39-02</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>瑞典 </b> <br>+7 495 937-92-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>瑞士 </b> <br>+7 495 258-38-30</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>突尼斯 </b> <br>+7 495 691-28-58</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>乌拉圭 </b> <br>+7 499 230-76-35</p> </div>
</div>


</div>
</div>


  </div>

  <div id="buy-ticket">
    <a class="outer-link" href="https://pass.rzd.ru/main-pass/public/en">
      <div class="line">
        <div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div>
        <p>买列车票</p>
      </div>
    </a>
    <a class="outer-link" href="http://transport2018.com/">
      <div class="line">
        <div class="line-icon"><img src="{% static "img/icons-bolel/free-ride.png" %}"></div>
        <p>获得世界杯免费列车票</p>
      </div>
    </a>
  </div>


  <div id="map">
    <div class="map-bolel">
<p class="comment">详情点击城市名称</p>
        <a href="/guide/kaliningrad/"><div class="map-ball klg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>加里宁格勒</p></div></a>
        <a href="/guide/sankt-peterburg/"><div class="map-ball spb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>圣彼得堡</p></div></a>
        <a href="/guide/moskva/"><div class="map-ball msk"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>莫斯科</p></div></a>
        <a href="/guide/n-novgorod/"><div class="map-ball nov"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>下诺夫哥罗德</p></div></a>
        <a href="/guide/kazan/"><div class="map-ball kaz"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>喀山</p></div></a>
        <a href="/guide/saransk/"><div class="map-ball sar"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>萨兰斯克</p></div></a>
        <a href="/guide/ekaterinburg/"><div class="map-ball ekb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>叶卡捷琳堡</p></div></a>
        <a href="/guide/samara/"><div class="map-ball sam"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>萨马拉</p></div></a>
        <a href="/guide/rostov-na-donu/"><div class="map-ball rnd"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>顿河畔罗斯托夫</p></div></a>
        <a href="/guide/volgograd/"><div class="map-ball vlg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>伏尔加格勒</p></div></a>
        <a href="/guide/sochi/"><div class="map-ball sochi"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>索契</p></div></a>
    </div>
  </div>

</div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="{% static 'js/bolel-mobile.js' %}"></script>
<script>

$(document).ready(function() {
  currentTab();
$('.nav-bolelshik').on('click', function() { setTimeout(function() {currentTab();}, 10) });
  $('#tabs').on('click', '.tabs a', function(e) {
    if ($(this).attr("href")[0] == "#") {
      e.preventDefault();
      history.replaceState(null, null, $(this).attr("href"));
      currentTab();
    }
  });
});

function currentTab() {
  var href = location.hash || $('#tabs .tabs a').eq(0).attr("href");
  $('#tabs .tabs a').removeClass();
  $('#tabs .tabs a[href="' + href + '"]').addClass('active');
  $('.tabs-content > div').hide();
  $(href).show();
}

</script>
{% endblock extrajs %}
