{% extends "base.html" %}
{% load staticfiles %}
{% block title %}РЖД БОЛЕЛЬЩИКАМ | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/bolelshikam.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">РЖД БОЛЕЛЬЩИКАМ</div>
<!--Left Column-->
<h1>РЖД БОЛЕЛЬЩИКАМ</h1>
<section class="box">
<div id="tabs">
  <!-- Вкладки выполнены в виде списка с якорными ссылками -->
  <ul class="tabs">
    <li class="tab active"><a href="#info" class="active">Информация для пассажиров</a></li>
    <li class="tab"><a href="#buy-ticket">Купить или оформить билет</a></li>
    <li class="tab"><a href="#map">Карта движения бесплатных поездов во время ЧМ</a></li>
  </ul>
  <!-- Содержимое каждой вкладки имеет id в соответствии с якорной ссылкой -->
<div class="tabs-content">
  <div id="info">
  <div class="info"><div class="info-icon"><img src="{% static "img/icons-bolel/pic_info.svg" %}"></div><p>ИНФОРМАЦИЯ ДЛЯ ПАССАЖИРОВ ЖЕЛЕЗНЫХ ДОРОГ НА ВРЕМЯ ПРОВЕДЕНИЯ ЧМ ПО ФУТБОЛУ FIFA 2018 В РФ</p> </div>
<div class="pdf"><a href="{% static "pdf/z-card_RUS_0106.pdf" %}"><img src="{% static "img/icons-bolel/pdf-download.png" %}"> Скачать в формате PDF</a></div>
<div id="container">
<div class="sub-tabs">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Бесплатный проезд</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">Порядок посадки в поезд</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">Что делать, если…</label>
<input id="tab4" type="radio" name="tabs">
<label for="tab4">Пассажирам с ограниченными возможностями</label>
<input id="tab5" type="radio" name="tabs">
<label for="tab5">Дополнительные услуги на вокзалах</label>
<input id="tab6" type="radio" name="tabs">
<label for="tab6">Входной контроль</label>
<input id="tab7" type="radio" name="tabs">
<label for="tab7">Правила безопасности</label>
<input id="tab8" type="radio" name="tabs">
<label for="tab8">К кому можно обратиться</label>
<input id="tab9" type="radio" name="tabs">
<label for="tab9">Основные контакты</label>
<input id="tab10" type="radio" name="tabs">
<label for="tab10">Телефоны вызова экстренных служб</label>
<input id="tab11" type="radio" name="tabs">
<label for="tab11">Номера консульств стран-участниц</label>
<div class="sbcont" id="content1">
 <h2 class="title-tab">Бесплатный проезд</h2>
<img src="/media/story_img/kassir1.jpg">
  <div class="preview">Мы составили руководство, которое поможет вам в оформлении необходимых документов во время Чемпионата мира и обеспечит комфортное путешествие между городами ЧМ.</div>
  <p><strong>Могу ли я получить свой бесплатный билет в кассе, если у меня нет выхода в интернет? </strong>
  </p>
<p>В случае отсутствия доступа к сети Интернет, вы сможете оформить бесплатный проезд через специализированные билетные кассы, расположенные на вокзалах, и по номеру телефона горячей линии: 8-800-775-2018.
  </p>
<p>Оформление бесплатного проезда по телефону горячей линии прекращается за 2 часа до времени отправления дополнительного поезда. Оформление бесплатного проезда через билетные кассы осуществляется не ранее чем за сутки до даты отправления дополнительного поезда со станции и прекращается за десять минут до отправления дополнительного поезда со станции отправления.
  </p>
<p><strong>Если я опоздал на свой бесплатный поезд, могу ли я бесплатно добраться до пункта назначения по прежнему билету?</strong>
  </p>
<p>В случае если вы опоздали на бесплатный поезд, вам необходимо аннулировать посадочный купон на дополнительный поезд, на который вы опоздали, и заново оформить бесплатный проезд.
  </p>
<p>Оформить бесплатный проезд вы можете через специализированные билетные кассы, расположенные на вокзалах, и по номеру телефона горячей линии: 8-800-775-2018.
  </p>
<p><strong>При потере паспорта мне необходимо обратиться в Консульство / на информационную стойку. Консульству нужно подтвердить, что они связались со мной, чтобы я смог проехать к месту замены документов. Что должно предпринять Консульство, чтобы меня допустили к посадке на поезд? Например, подтвердить факт данного обращения в письменной форме?</strong>
  </p>
<p>Допуск к посадке зрителей спортивных соревнований в дополнительные поезда осуществляется с учетом требований по обеспечению транспортной безопасности на основании следующих документов:
  </p>
<ul><li>входной билет на матч или документ, который дает право на получение входного билета на матч;
  </li><li>документ, удостоверяющий личность;
  </li><li>персонифицированная карта зрителя на бумажном носителе.
  </li></ul>
<p>Документами, удостоверяющими личность лица без гражданства в Российской Федерации, являются:
  </p>
<ul><li>документ, выданный иностранным государством и признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность лица без гражданства;
  </li><li>разрешение на временное проживание;
  </li><li>вид на жительство;
  </li><li>иные документы, предусмотренные федеральным законом или признаваемые в соответствии с международным договором Российской Федерации в качестве документов, удостоверяющих личность лица без гражданства.
  </li></ul>
<p><strong>По телефону горячей линии мне сказали, что я могу забронировать места в бесплатных поездах уже сейчас, но не ранее чем за 60 дней до поездки, а позже я должен получить фактический билет. Это правда? Если это так, будет ли это электронный билет, отправленный на мою электронную почту? Или подтверждение, отправленное на мою электронную почту при бронировании, уже считается посадочным талоном?</strong>
  </p>
<p>С 27.10.2017 началась регистрация болельщиков на бесплатный проезд онлайн.
  </p>
<p>После оформления бесплатного проезда вам на адрес электронной почты направляется посадочный купон (не ранее чем за 90 дней до даты отправления дополнительного поезда).
  </p>
<p>Подтверждение, отправленное на электронную почту при бронировании, не считается посадочным купоном.
  </p>
<p><strong>Бесплатный железнодорожный проезд разрешен только -1 и +1 день после каждого матча? Как быть болельщикам, которые хотят добраться до города заранее или остаться подольше с целью туризма? Означает ли это, что болельщик, к примеру, может забронировать проезд только по маршруту Москва – Волгоград – Москва? Или можно будет организовать более сложный маршрут, например, Москва – Волгоград – Нижний Новгород?</strong>
  </p>
<p>Бесплатный проезд предоставляется болельщикам в дополнительных поездах, следующих по маршрутам спортивных соревнований в соответствии с графиком движения дополнительных поездов.
  </p>
<p>Расписание движения дополнительных поездов составлено таким образом, что болельщики могут прибывать в город-организатор заранее, но не позднее чем за 2-3 часа до начала матча, а отправляются из города-организатора не ранее чем через 2-3 часа после проведения матчей и остаться в городе подольше.
  </p>
<p>Дополнительные поезда в основном осуществляют перевозку болельщиков по направлению из Москвы и обратно, а также между городами-организаторами без проезда через Москву по принципу «Следуй за своей командой».
  </p>
<p><strong>В справочной информации указано, что продажа алкоголя будет запрещена, а потребление алкогольных напитков запрещено на вокзалах и поездах, за исключением вагонов-ресторанов. Поскольку ограничений на продажу алкоголя в поездах нет, я могу покупать и употреблять алкогольные напитки только в вагонах-ресторанах?</strong>
  </p>
<p>Торговля спиртными и слабоалкогольными напитками в вагонах-ресторанах осуществляется в соответствии с действующим законодательством Российской Федерации. Также в соответствии с действующим законодательством Российской Федерации распитие алкогольных напитков в общественных местах запрещается.
  </p>
<p><strong>Поскольку процедура выдачи бесплатных железнодорожных билетов происходит онлайн, и подтверждения отправляются по электронной почте, эти билеты не могут быть потеряны или повреждены</strong>?
  </p>
<p>Посадочный купон требуется при посадке только в том случае, если вы оформили бесплатный проезд в билетной кассе на железнодорожном вокзале менее чем за час до отправления поезда. В других случаях при посадке в дополнительные поезда не требуется предъявление посадочного купона на бумажном либо электронном носителе. Документами, необходимыми для посадки в дополнительный поезд, являются входной билет на матч или документ, который дает право на получение входного билета на матч, документ, удостоверяющий личность, и персонифицированная карта зрителя на бумажном носителе.
  </p>
<p>Посадка ребенка, если он не занимает отдельного места, в дополнительный поезд осуществляется при предъявлении посадочного купона на бумажном либо электронном носителе и документа, удостоверяющего личность.
  </p>
</div>

<div class="sbcont" id="content2">
  <h2 class="title-tab">Порядок посадки в поезд</h2>
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>Для комфортного прохождения входного контроля рекомендуется прибывать на вокзал заранее не менее чем за <span class="number-bold">30 минут</span> до отправления поезда.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>Посадка осуществляется в вагон, указанный в билете (На промежуточных станциях посадка осуществляется в любой вагон).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>После посадки может производиться повторный контроль билетов.</p> </div>
<h2>НЕОБХОДИМЫЕ ДОКУМЕНТЫ</h2>

  <p>Документы, необходимые для бесплатного проезда в специальных дополнительных поездах, курсирующих между городами проведения матчей Чемпионата Мира по футболу FIFA 2018</p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>Билет на матч.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>Документ, удостоверяющий личность.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>Персонифицированный Паспорт болельщика (FAN ID).  Для организации посадки в поезд дополнительно рекомендуем иметь иметь при себе посадочный талон.</p> </div>

  <div style="border: 2px solid #c50b17;padding: 10px;">
      <p>Для проезда в Калининград пассажирам необходимо иметь документ, разрешающий транзитный проезд через территорию Республики Беларусь и Литовской Республики. Согласно Шенгенскому договору, транзитная виза в Литовскую Республику не требуется, если страна входит в перечень государств, граждане которых въезжают без виз с целью краткосрочного пребывания или транзита через Литовскую Республику.</p>
      <p>Обратите внимание, что наличие только паспорта болельщика и билета на матч не дают права на транзитный проезд через территорию Литовской Республики. Пожалуйста, заранее убедитесь в наличии требуемых документов для транзитного проезда или своевременно обратитесь за их получением.</p>
      <p>Для проезда иностранных граждан по территории Республики Беларусь необходимо оформить транзитную визу.</p>
      <ul>Для оформления транзитной визы необходимы следующие документы:
        <li>действительный паспорт (либо иной действительный документ для выезда за границу);</li>
        <li>заполненная визовая анкета;</li>
        <li>входной билет на матч, персонифицированная карта зрителя на бумажном носителе;</li>
        <li>фотография (1 шт.).</li>
      </ul>
    </div>
</div>
<div class="sbcont" id="content3">
  <h2 class="title-tab">Что делать, если…</h2>
    <img src="/media/story_img/opozdanie.jpg">
<h2>УТЕРЯН/УКРАДЕН/ИСПОРЧЕН БИЛЕТ НА ПОЕЗД</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки или к дежурному помощнику начальника вокзала и следуйте их рекомендациям. За восстановление утерянного или испорченного билета с пассажира взимается сбор.</p> </div>
<h2>ВЫ ОПОЗДАЛИ НА ПОЕЗД</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки, к дежурному помощнику начальника вокзала или к волонтеру и следуйте их рекомендациям.</p> </div>
<h2>УТЕРЯНЫ/УКРАДЕНЫ ДОКУМЕНТЫ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки или к дежурному помощнику начальника вокзала или напрямую к сотрудникам полиции и слдуйте их рекомендациям. Рекомендуется иметь при себе телефон консульства вашей страны в РФ.</p> </div>
<h2>УТЕРЯН/УКРАДЕН ПАСПОРТ БОЛЕЛЬЩИКА (FAN ID)</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>Обратитесь в центр выдачи Паспорта болельщика и предъявите документ, удостоверяющий личность данные которого были указаны в заявке на получение Паспорта болельщика. Для получения информации о месте расположения центра выдачи Паспорта болельщика обратитесь к сотруднику информационной стойки или к волонтеру  и следуйте их указаниям.</p> </div>

</div>
<div class="sbcont" id="content4">
  <h2 class="title-tab">Пассажирам с ограниченными возможностями</h2>
    <img src="/media/story_img/kolyaska.jpg">
 <h2>ПОДГОТОВКА К ПОЕЗДКЕ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>Возможность приобретения билетов на специализированные места в вагонах. Необходимо представить в Центр содействия мобильности заверенные медицинские документы.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>За трое суток, но не менее чем за 24 часа до поездки возможно заказать обозначенные ниже услуги. Если предварительная заявка не была оформлена, необходимо обратиться на информационную стойку вокзала.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>Пассажиры и посетители в инвалидных колясках не проезжают через рамки металлодетекторов.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>Проход осуществляется в обход рамки. Входной контроль проводится в ручном режиме.</p> </div>
<h2>СОДЕЙСТВИЕ МОБИЛЬНОСТИ В ПОЕЗДКЕ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>Организация встречи маломобильного пассажира на территории вокзального комплекса.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>Сопровождение пассажира от/до поезда по территории вокзала, его основным зонам.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>Оказание помощи при получении услуг на вокзале.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>Предоставление места на вокзале для временного пребывания пассажира на период ожидания.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>Оказание содействия при перемещении багажа (не более 3-х мест).  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>Оказание помощи при посадке (высадке) в поезда дальнего следования.</p> </div>
</div>

<div class="sbcont" id="content5">
  <h2 class="title-tab">Дополнительные услуги на вокзалах</h2>
      <img src="/media/story_img/wifi.jpg">
<h2>БЕСПЛАТНЫЕ УСЛУГИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Бесплатный доступ в интернет посредством Wi-Fi. Для получения услуги необходима авторизация с предоставлением персональной информации.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>Возможность бесплатной зарядки электронных устройств. Места зарядки обозначены специальными пиктограммами.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>Бесплатное пользование туалетными комнатами (WC) при предъявлении билета. После поездки право бесплатного пользования услугой сохраняется в течение 2 часов.</p> </div>
<h2>ПЛАТНЫЕ УСЛУГИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>Автоматические камеры хранения. </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>Комнаты длительного отдыха.  На ряде вокзалов имеются душевые комнаты.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>Платные услуги ожидания в залах повышенной комфортности.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>Услуги ксерокопирования, печати (имеются на большинстве вокзалов).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">Уточнить наличие и стоимость услуг можно на информационных стойках вокзалов.</p> </div>


</div>
<div class="sbcont" id="content6">
    <h2 class="title-tab">Входной контроль</h2>
      <img src="/media/story_img/912.jpg">
    <h2>СПОСОБЫ ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>Стационарные (рамочные) металлодетекторы.</p> </div>
 <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>Ручные металлодетекторы. </p> </div>
 <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>Рентгенновизионное оборудование (для контроля багажа).</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>Самостоятельно поместите багаж и ручную кладь на ленту оборудования. Для мелких и ценных вещей имеются лотки.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>Ответьте на уточняющие вопросы работников. При наличии предположений о запрещенных веществах повторно пройдите входной контроль/обследование/опрос.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Отказ от проходжения входного контроля влечёт расторжение договора перевозки в одностороннем порядке.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА ДЛЯ ЛИЦ С КАРДИОСТИМУЛЯТОРАМИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>Исключается проход через стационарные (рамочные) метеллодетекторы.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>Рекомендуется иметть при себе подтверждающий медицинский документ.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Пассажиры с кардоистимуляторами должны уточнить порядок входного контроля у работников железнодорожных вокзалов.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА ДЛЯ ЛИЦ С ДЕТСКИМИ КОЛЯСКАМИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>Складные коляски необходимо сложить и разместить на ленте рентгенотелевизионного оборудования.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>Крупногабаритную коляску (люльку, нескоадную) предствавить к ручному обследованию по дополнительным указаниям работников.</p> </div>


</div>
<div class="sbcont" id="content7">
  <h2 class="title-tab">Правила безопасности</h2>
      <img src="/media/story_img/sochivokzal.jpg">
    <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>Не допускается нахождение в состоянии алкогольного, токсического или наркотического опьянения.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>Не допускается курение в помещениях железнодорожных вокзалов и курение в поездах.</p> </div>
<h2>НА ПУТЯХ И ПЛАТФОРМАХ ЗАПРЕЩЕНО</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>Бегать по пассажирской платформе и устраивать подвижные игры.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>Иметь при себе предметы, которые без упаковки или чехлов могут травмировать других граждан.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>Находиться на железнодорожных путях и оставлять на них предметы.</p> </div>
<h2>ПРИ ПОЛЬЗОВАНИИ ПОЕЗДАМИ ЗАПРЕЩЕНО</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>Подходить к вагонам до полной остановки поезда.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>Осуществлять посадку/высадку во время движения.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>Высовываться из окон и дверей тамбуров.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>Проезжать в не приспособленных для этого местах.</p> </div>
<h2>ЗАПРЕЩЕННЫЕ К ПРОНОСУ ВЕЩЕСТВА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>Оружие / Боеприпасы / Патроны</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>Опасные вещества</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>Взрывчатые вещества / Пиротехника</p> </div>

</div>
<div class="sbcont" id="content8">
    <h2 class="title-tab">К кому можно обратиться</h2>
      <img src="/media/story_img/kkomu.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div><p><b>Информационные стойки вокзалов</b> <br> свяжут с англоговорящим волонтером</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic55.svg" %}" class="small"></div><p><b>Волонтеры на вокзалах</b> <br> одеты в яркую однотипную одежду с логотипом  Чемпионата Мира по футболу FIFA 2018</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic56.svg" %}" class="small"></div><p><b>Фронт-лайн сотрудники</b> <br> одеты в ярко-зелёные жилеты  с логотипом ОАО «РЖД»</p> </div>
</div>
<div class="sbcont" id="content9">
  <h2 class="title-tab">Основные контакты</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Горячая линия ОАО «РЖД» <br>
  <span class="number-bold">8 800 775-00 00</span></p> </div>
   <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Горячая линия Транспортной дирекции  <br>
  Чемпионата Мира по футболу FIFA 2018™ <br>
  <span class="number-bold">8 495 933-20-18</span></p> </div>

  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p>Официальный сайт ОАО «РЖД» <br>
 <span class="number-bold">www.pass.rzd.ru</span></p> </div>

   <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p>Электронная почта: <br>
  <span class="number-bold">info@rzd.ru</span></p> </div>
</div>
<div class="sbcont" id="content10">
  <h2 class="title-tab">Телефоны вызова экстренных служб</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Пожарная (МЧС) 101</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Полиция 102</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Скорая помощь 103</p> </div>
</div>
<div class="sbcont" id="content11">
  <h2 class="title-tab">Номера консульств стран-участниц</h2>
   <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>Австралия </b> <br>+61 2 6261 3305</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>Аргентина </b> <br>+7 495 725-14-49</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>Бельгия </b> <br>+7 495 763-55-42</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>Бразилия </b> <br>+7 495 960-81-48</p> </div>
   <div class="line"><div class="line-flag"><img src="{% static "img/flag-eng.png" %}"></div><p><b>Великобритания </b> <br>+7 495 956-72-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>Германия </b> <br>+7 495 937-95-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>Дания </b> <br>+7 495 642-68-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>Египет </b> <br>+7 499 246-30-80</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>И.Р. Иран </b> <br>+7 495 917-72-82</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>Исландия </b> <br>+7 495 956-76-04</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>Испания </b> <br>+7 499 136-39-02</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>Колумбия </b> <br>+7 499 248-30-73</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>Коста-Рика </b> <br>+7 495 415-40-14</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>Марокко </b> <br>+7 499 703-12-85</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>Мексика </b> <br>+7 495 637-21-48</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>Нигерия </b> <br>+7 495 690-37-85</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>Панама </b> <br>+7 495 956-07-29</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>Перу </b> <br>+7 985 389-06-60</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>Польша </b> <br>+7 495 231-15-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>Португалия </b> <br>+7 965 348-13-28</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>Саудовская Аравия </b> <br>+7 917 511-08-15</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>Сенегал </b> <br>+221 33 822-2325</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>Сербия </b> <br>+7 495 988-66-45</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>Тунис </b> <br>+7 495 691-28-58</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>Уругвай </b> <br>+7 499 230-76-35</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>Франция </b> <br>+7 495 937-15-07</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>Хорватия </b> <br>+7 495 785-39-49</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>Швейцария </b> <br>+7 495 258-38-30</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>Швеция </b> <br>+7 495 937-92-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>Южная Корея </b> <br>+7 495 783-27-27</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>Япония </b> <br>+7 495 229-25-20</p> </div>
</div>
</div>



<div class="mob-sub-tabs">
<div class="back_menu"><img src="{% static "img/icons-bolel/back.svg" %}"></div>
 <input id="mtab1" type="radio" name="tabs">
<label for="mtab1">Бесплатный проезд</label>
<input id="mtab2" type="radio" name="tabs">
<label for="mtab2">Порядок посадки в поезд</label>
<input id="mtab3" type="radio" name="tabs">
<label for="mtab3">Что делать, если…</label>
<input id="mtab4" type="radio" name="tabs">
<label for="mtab4">Пассажирам с ограниченными возможностями</label>
<input id="mtab5" type="radio" name="tabs">
<label for="mtab5">Дополнительные услуги на вокзалах</label>
<input id="mtab6" type="radio" name="tabs">
<label for="mtab6">Входной контроль</label>
<input id="mtab7" type="radio" name="tabs">
<label for="mtab7">Правила безопасности</label>
<input id="mtab8" type="radio" name="tabs">
<label for="mtab8">К кому можно обратиться</label>
<input id="mtab9" type="radio" name="tabs">
<label for="mtab9">Основные контакты</label>
<input id="mtab10" type="radio" name="tabs">
<label for="mtab10">Телефоны вызова экстренных служб</label>
<input id="mtab11" type="radio" name="tabs">
<label for="mtab11">Номера консульств стран-участниц</label>
<div class="sbcont" id="mcontent1">
 <h2 class="title-tab">Бесплатный проезд</h2>
<img src="/media/story_img/kassir1.jpg">
  <div class="preview">Мы составили руководство, которое поможет вам в оформлении необходимых документов во время Чемпионата мира и обеспечит комфортное путешествие между городами ЧМ.</div>
  <p><strong>Могу ли я получить свой бесплатный билет в кассе, если у меня нет выхода в интернет? </strong>
  </p>
<p>В случае отсутствия доступа к сети Интернет, вы сможете оформить бесплатный проезд через специализированные билетные кассы, расположенные на вокзалах, и по номеру телефона горячей линии: 8-800-775-2018.
  </p>
<p>Оформление бесплатного проезда по телефону горячей линии прекращается за 2 часа до времени отправления дополнительного поезда. Оформление бесплатного проезда через билетные кассы осуществляется не ранее чем за сутки до даты отправления дополнительного поезда со станции и прекращается за десять минут до отправления дополнительного поезда со станции отправления.
  </p>
<p><strong>Если я опоздал на свой бесплатный поезд, могу ли я бесплатно добраться до пункта назначения по прежнему билету?</strong>
  </p>
<p>В случае если вы опоздали на бесплатный поезд, вам необходимо аннулировать посадочный купон на дополнительный поезд, на который вы опоздали, и заново оформить бесплатный проезд.
  </p>
<p>Оформить бесплатный проезд вы можете через специализированные билетные кассы, расположенные на вокзалах, и по номеру телефона горячей линии: 8-800-775-2018.
  </p>
<p><strong>При потере паспорта мне необходимо обратиться в Консульство / на информационную стойку. Консульству нужно подтвердить, что они связались со мной, чтобы я смог проехать к месту замены документов. Что должно предпринять Консульство, чтобы меня допустили к посадке на поезд? Например, подтвердить факт данного обращения в письменной форме?</strong>
  </p>
<p>Допуск к посадке зрителей спортивных соревнований в дополнительные поезда осуществляется с учетом требований по обеспечению транспортной безопасности на основании следующих документов:
  </p>
<ul><li>входной билет на матч или документ, который дает право на получение входного билета на матч;
  </li><li>документ, удостоверяющий личность;
  </li><li>персонифицированная карта зрителя на бумажном носителе.
  </li></ul>
<p>Документами, удостоверяющими личность лица без гражданства в Российской Федерации, являются:
  </p>
<ul><li>документ, выданный иностранным государством и признаваемый в соответствии с международным договором Российской Федерации в качестве документа, удостоверяющего личность лица без гражданства;
  </li><li>разрешение на временное проживание;
  </li><li>вид на жительство;
  </li><li>иные документы, предусмотренные федеральным законом или признаваемые в соответствии с международным договором Российской Федерации в качестве документов, удостоверяющих личность лица без гражданства.
  </li></ul>
<p><strong>По телефону горячей линии мне сказали, что я могу забронировать места в бесплатных поездах уже сейчас, но не ранее чем за 60 дней до поездки, а позже я должен получить фактический билет. Это правда? Если это так, будет ли это электронный билет, отправленный на мою электронную почту? Или подтверждение, отправленное на мою электронную почту при бронировании, уже считается посадочным талоном?</strong>
  </p>
<p>С 27.10.2017 началась регистрация болельщиков на бесплатный проезд онлайн.
  </p>
<p>После оформления бесплатного проезда вам на адрес электронной почты направляется посадочный купон (не ранее чем за 90 дней до даты отправления дополнительного поезда).
  </p>
<p>Подтверждение, отправленное на электронную почту при бронировании, не считается посадочным купоном.
  </p>
<p><strong>Бесплатный железнодорожный проезд разрешен только -1 и +1 день после каждого матча? Как быть болельщикам, которые хотят добраться до города заранее или остаться подольше с целью туризма? Означает ли это, что болельщик, к примеру, может забронировать проезд только по маршруту Москва – Волгоград – Москва? Или можно будет организовать более сложный маршрут, например, Москва – Волгоград – Нижний Новгород?</strong>
  </p>
<p>Бесплатный проезд предоставляется болельщикам в дополнительных поездах, следующих по маршрутам спортивных соревнований в соответствии с графиком движения дополнительных поездов.
  </p>
<p>Расписание движения дополнительных поездов составлено таким образом, что болельщики могут прибывать в город-организатор заранее, но не позднее чем за 2-3 часа до начала матча, а отправляются из города-организатора не ранее чем через 2-3 часа после проведения матчей и остаться в городе подольше.
  </p>
<p>Дополнительные поезда в основном осуществляют перевозку болельщиков по направлению из Москвы и обратно, а также между городами-организаторами без проезда через Москву по принципу «Следуй за своей командой».
  </p>
<p><strong>В справочной информации указано, что продажа алкоголя будет запрещена, а потребление алкогольных напитков запрещено на вокзалах и поездах, за исключением вагонов-ресторанов. Поскольку ограничений на продажу алкоголя в поездах нет, я могу покупать и употреблять алкогольные напитки только в вагонах-ресторанах?</strong>
  </p>
<p>Торговля спиртными и слабоалкогольными напитками в вагонах-ресторанах осуществляется в соответствии с действующим законодательством Российской Федерации. Также в соответствии с действующим законодательством Российской Федерации распитие алкогольных напитков в общественных местах запрещается.
  </p>
<p><strong>Поскольку процедура выдачи бесплатных железнодорожных билетов происходит онлайн, и подтверждения отправляются по электронной почте, эти билеты не могут быть потеряны или повреждены</strong>?
  </p>
<p>Посадочный купон требуется при посадке только в том случае, если вы оформили бесплатный проезд в билетной кассе на железнодорожном вокзале менее чем за час до отправления поезда. В других случаях при посадке в дополнительные поезда не требуется предъявление посадочного купона на бумажном либо электронном носителе. Документами, необходимыми для посадки в дополнительный поезд, являются входной билет на матч или документ, который дает право на получение входного билета на матч, документ, удостоверяющий личность, и персонифицированная карта зрителя на бумажном носителе.
  </p>
<p>Посадка ребенка, если он не занимает отдельного места, в дополнительный поезд осуществляется при предъявлении посадочного купона на бумажном либо электронном носителе и документа, удостоверяющего личность.
  </p>
</div>

<div class="sbcont" id="mcontent2">
  <h2 class="title-tab">Порядок посадки в поезд</h2>
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>Для комфортного прохождения входного контроля рекомендуется прибывать на вокзал заранее не менее чем за <span class="number-bold">30 минут</span> до отправления поезда.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>Посадка осуществляется в вагон, указанный в билете (На промежуточных станциях посадка осуществляется в любой вагон).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>После посадки может производиться повторный контроль билетов.</p> </div>
<h2>НЕОБХОДИМЫЕ ДОКУМЕНТЫ</h2>

  <p>Документы, необходимые для бесплатного проезда в специальных дополнительных поездах, курсирующих между городами проведения матчей Чемпионата Мира по футболу FIFA 2018</p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>Билет на матч.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>Документ, удостоверяющий личность.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>Персонифицированный Паспорт болельщика (FAN ID).  Для организации посадки в поезд дополнительно рекомендуем иметь иметь при себе посадочный талон.</p> </div>
  <div style="border: 2px solid #c50b17;padding: 10px;">
    <p>Для проезда в Калининград пассажирам необходимо иметь документ, разрешающий транзитный проезд через территорию Республики Беларусь и Литовской Республики. Согласно Шенгенскому договору, транзитная виза в Литовскую Республику не требуется, если страна входит в перечень государств, граждане которых въезжают без виз с целью краткосрочного пребывания или транзита через Литовскую Республику.</p>
    <p>Обратите внимание, что наличие только паспорта болельщика и билета на матч не дают права на транзитный проезд через территорию Литовской Республики. Пожалуйста, заранее убедитесь в наличии требуемых документов для транзитного проезда или своевременно обратитесь за их получением.</p>
    <p>Для проезда иностранных граждан по территории Республики Беларусь необходимо оформить транзитную визу.</p>
    <ul>Для оформления транзитной визы необходимы следующие документы:
      <li>действительный паспорт (либо иной действительный документ для выезда за границу);</li>
      <li>заполненная визовая анкета;</li>
      <li>входной билет на матч, персонифицированная карта зрителя на бумажном носителе;</li>
      <li>фотография (1 шт.).</li>
    </ul>
  </div>
</div>
<div class="sbcont" id="mcontent3">
  <h2 class="title-tab">Что делать, если…</h2>
    <img src="/media/story_img/opozdanie.jpg">
<h2>УТЕРЯН/УКРАДЕН/ИСПОРЧЕН БИЛЕТ НА ПОЕЗД</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки или к дежурному помощнику начальника вокзала и следуйте их рекомендациям. За восстановление утерянного или испорченного билета с пассажира взимается сбор.</p> </div>
<h2>ВЫ ОПОЗДАЛИ НА ПОЕЗД</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки, к дежурному помощнику начальника вокзала или к волонтеру и следуйте их рекомендациям.</p> </div>
<h2>УТЕРЯНЫ/УКРАДЕНЫ ДОКУМЕНТЫ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>Обратитесь к сотруднику информационной стойки или к дежурному помощнику начальника вокзала или напрямую к сотрудникам полиции и слдуйте их рекомендациям. Рекомендуется иметь при себе телефон консульства вашей страны в РФ.</p> </div>
<h2>УТЕРЯН/УКРАДЕН ПАСПОРТ БОЛЕЛЬЩИКА (FAN ID)</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>Обратитесь в центр выдачи Паспорта болельщика и предъявите документ, удостоверяющий личность данные которого были указаны в заявке на получение Паспорта болельщика. Для получения информации о месте расположения центра выдачи Паспорта болельщика обратитесь к сотруднику информационной стойки или к волонтеру  и следуйте их указаниям.</p> </div>

</div>
<div class="sbcont" id="mcontent4">
  <h2 class="title-tab">Пассажирам с ограниченными возможностями</h2>
    <img src="/media/story_img/kolyaska.jpg">
 <h2>ПОДГОТОВКА К ПОЕЗДКЕ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>Возможность приобретения билетов на специализированные места в вагонах. Необходимо представить в Центр содействия мобильности заверенные медицинские документы.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>За трое суток, но не менее чем за 24 часа до поездки возможно заказать обозначенные ниже услуги. Если предварительная заявка не была оформлена, необходимо обратиться на информационную стойку вокзала.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>Пассажиры и посетители в инвалидных колясках не проезжают через рамки металлодетекторов.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>Проход осуществляется в обход рамки. Входной контроль проводится в ручном режиме.</p> </div>
<h2>СОДЕЙСТВИЕ МОБИЛЬНОСТИ В ПОЕЗДКЕ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>Организация встречи маломобильного пассажира на территории вокзального комплекса.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>Сопровождение пассажира от/до поезда по территории вокзала, его основным зонам.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>Оказание помощи при получении услуг на вокзале.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>Предоставление места на вокзале для временного пребывания пассажира на период ожидания.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>Оказание содействия при перемещении багажа (не более 3-х мест).  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>Оказание помощи при посадке (высадке) в поезда дальнего следования.</p> </div>
</div>

<div class="sbcont" id="mcontent5">
  <h2 class="title-tab">Дополнительные услуги на вокзалах</h2>
      <img src="/media/story_img/wifi.jpg">
<h2>БЕСПЛАТНЫЕ УСЛУГИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Бесплатный доступ в интернет посредством Wi-Fi. Для получения услуги необходима авторизация с предоставлением персональной информации.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>Возможность бесплатной зарядки электронных устройств. Места зарядки обозначены специальными пиктограммами.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>Бесплатное пользование туалетными комнатами (WC) при предъявлении билета. После поездки право бесплатного пользования услугой сохраняется в течение 2 часов.</p> </div>
<h2>ПЛАТНЫЕ УСЛУГИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>Автоматические камеры хранения. </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>Комнаты длительного отдыха.  На ряде вокзалов имеются душевые комнаты.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>Платные услуги ожидания в залах повышенной комфортности.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>Услуги ксерокопирования, печати (имеются на большинстве вокзалов).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">Уточнить наличие и стоимость услуг можно на информационных стойках вокзалов.</p> </div>


</div>
<div class="sbcont" id="mcontent6">
    <h2 class="title-tab">Входной контроль</h2>
      <img src="/media/story_img/912.jpg">
    <h2>СПОСОБЫ ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>Стационарные (рамочные) металлодетекторы.</p> </div>
 <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>Ручные металлодетекторы. </p> </div>
 <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>Рентгенновизионное оборудование (для контроля багажа).</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>Самостоятельно поместите багаж и ручную кладь на ленту оборудования. Для мелких и ценных вещей имеются лотки.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>Ответьте на уточняющие вопросы работников. При наличии предположений о запрещенных веществах повторно пройдите входной контроль/обследование/опрос.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Отказ от проходжения входного контроля влечёт расторжение договора перевозки в одностороннем порядке.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА ДЛЯ ЛИЦ С КАРДИОСТИМУЛЯТОРАМИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>Исключается проход через стационарные (рамочные) метеллодетекторы.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>Рекомендуется иметть при себе подтверждающий медицинский документ.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Пассажиры с кардоистимуляторами должны уточнить порядок входного контроля у работников железнодорожных вокзалов.</p> </div>
<h2>ПРОЦЕСС ДОСМОТРА ДЛЯ ЛИЦ С ДЕТСКИМИ КОЛЯСКАМИ</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>Складные коляски необходимо сложить и разместить на ленте рентгенотелевизионного оборудования.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>Крупногабаритную коляску (люльку, нескоадную) предствавить к ручному обследованию по дополнительным указаниям работников.</p> </div>


</div>
<div class="sbcont" id="mcontent7">
  <h2 class="title-tab">Правила безопасности</h2>
      <img src="/media/story_img/sochivokzal.jpg">
    <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>Не допускается нахождение в состоянии алкогольного, токсического или наркотического опьянения.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>Не допускается курение в помещениях железнодорожных вокзалов и курение в поездах.</p> </div>
<h2>НА ПУТЯХ И ПЛАТФОРМАХ ЗАПРЕЩЕНО</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>Бегать по пассажирской платформе и устраивать подвижные игры.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>Иметь при себе предметы, которые без упаковки или чехлов могут травмировать других граждан.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>Находиться на железнодорожных путях и оставлять на них предметы.</p> </div>
<h2>ПРИ ПОЛЬЗОВАНИИ ПОЕЗДАМИ ЗАПРЕЩЕНО</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>Подходить к вагонам до полной остановки поезда.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>Осуществлять посадку/высадку во время движения.  </p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>Высовываться из окон и дверей тамбуров.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>Проезжать в не приспособленных для этого местах.</p> </div>
<h2>ЗАПРЕЩЕННЫЕ К ПРОНОСУ ВЕЩЕСТВА</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>Оружие / Боеприпасы / Патроны</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>Опасные вещества</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>Взрывчатые вещества / Пиротехника</p> </div>

</div>
<div class="sbcont" id="mcontent8">
    <h2 class="title-tab">К кому можно обратиться</h2>
      <img src="/media/story_img/kkomu.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div><p><b>Информационные стойки вокзалов</b> <br> свяжут с англоговорящим волонтером</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic55.svg" %}" class="small"></div><p><b>Волонтеры на вокзалах</b> <br> одеты в яркую однотипную одежду с логотипом  Чемпионата Мира по футболу FIFA 2018</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic56.svg" %}" class="small"></div><p><b>Фронт-лайн сотрудники</b> <br> одеты в ярко-зелёные жилеты  с логотипом ОАО «РЖД»</p> </div>
</div>
<div class="sbcont" id="mcontent9">
  <h2 class="title-tab">Основные контакты</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Горячая линия ОАО «РЖД» <br>
  <span class="number-bold">8 800 775-00 00</span></p> </div>
   <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Горячая линия Транспортной дирекции  <br>
  Чемпионата Мира по футболу FIFA 2018™ <br>
  <span class="number-bold">8 495 933-20-18</span></p> </div>

  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p>Официальный сайт ОАО «РЖД» <br>
 <span class="number-bold">www.pass.rzd.ru</span></p> </div>

   <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p>Электронная почта: <br>
  <span class="number-bold">info@rzd.ru</span></p> </div>
</div>
<div class="sbcont" id="mcontent10">
  <h2 class="title-tab">Телефоны вызова экстренных служб</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Пожарная (МЧС) 101</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Полиция 102</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Скорая помощь 103</p> </div>
</div>
<div class="sbcont" id="mcontent11">
  <h2 class="title-tab">Номера консульств стран-участниц</h2>
   <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>Австралия </b> <br>+61 2 6261 3305</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>Аргентина </b> <br>+7 495 725-14-49</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>Бельгия </b> <br>+7 495 763-55-42</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>Бразилия </b> <br>+7 495 960-81-48</p> </div>
   <div class="line"><div class="line-flag"><img src="{% static "img/flag-eng.png" %}"></div><p><b>Великобритания </b> <br>+7 495 956-72-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>Германия </b> <br>+7 495 937-95-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>Дания </b> <br>+7 495 642-68-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>Египет </b> <br>+7 499 246-30-80</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>И.Р. Иран </b> <br>+7 495 917-72-82</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>Исландия </b> <br>+7 495 956-76-04</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>Испания </b> <br>+7 499 136-39-02</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>Колумбия </b> <br>+7 499 248-30-73</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>Коста-Рика </b> <br>+7 495 415-40-14</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>Марокко </b> <br>+7 499 703-12-85</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>Мексика </b> <br>+7 495 637-21-48</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>Нигерия </b> <br>+7 495 690-37-85</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>Панама </b> <br>+7 495 956-07-29</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>Перу </b> <br>+7 985 389-06-60</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>Польша </b> <br>+7 495 231-15-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>Португалия </b> <br>+7 965 348-13-28</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>Саудовская Аравия </b> <br>+7 917 511-08-15</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>Сенегал </b> <br>+221 33 822-2325</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>Сербия </b> <br>+7 495 988-66-45</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>Тунис </b> <br>+7 495 691-28-58</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>Уругвай </b> <br>+7 499 230-76-35</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>Франция </b> <br>+7 495 937-15-07</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>Хорватия </b> <br>+7 495 785-39-49</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>Швейцария </b> <br>+7 495 258-38-30</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>Швеция </b> <br>+7 495 937-92-00</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>Южная Корея </b> <br>+7 495 783-27-27</p> </div>
   <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>Япония </b> <br>+7 495 229-25-20</p> </div>
</div>
</div>

  </div>
  </div>

  <div id="buy-ticket">
    <a class="outer-link" href="https://pass.rzd.ru/main-pass/public/ru">
			<div class="line">
				<div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div>
				<p>КУПИТЬ БИЛЕТ НА ПОЕЗД</p>
			</div>
		</a>
    <a class="outer-link" href="http://transport2018.com/">
			<div class="line">
				<div class="line-icon"><img src="{% static "img/icons-bolel/free-ride.png" %}"></div>
				<p>ОФОРМИТЬ БЕСПЛАТНЫЙ БИЛЕТ НА ПОЕЗД БОЛЕЛЬЩИКОВ</p>
			</div>
		</a>
  </div>


  <div id="map">                                               
    <div class="map-bolel">
<p class="comment">Нажмите на город и <br>узнайте о нём много интересного</p> 
        <a href="/guide/kaliningrad/"><div class="map-ball klg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Калининград</p></div></a>
        <a href="/guide/sankt-peterburg/"><div class="map-ball spb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Санкт-Петербург</p></div></a>
        <a href="/guide/moskva/"><div class="map-ball msk"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Москва</p></div></a>
        <a href="/guide/n-novgorod/"><div class="map-ball nov"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Нижний Новгород</p></div></a>
        <a href="/guide/kazan/"><div class="map-ball kaz"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Казань</p></div></a>
        <a href="/guide/saransk/"><div class="map-ball sar"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Саранск</p></div></a>
        <a href="/guide/ekaterinburg/"><div class="map-ball ekb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Екатеринбург</p></div></a>
        <a href="/guide/samara/"><div class="map-ball sam"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Самара</p></div></a>
        <a href="/guide/rostov-na-donu/"><div class="map-ball rnd"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Ростов-на-Дону</p></div></a>
        <a href="/guide/volgograd/"><div class="map-ball vlg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Волгоград</p></div></a>
        <a href="/guide/sochi/"><div class="map-ball sochi"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Сочи</p></div></a>
    </div>
  </div>

</div>
</section>

{% endblock content%}
{% block extrajs %}
<script src="{% static 'js/bolel-mobile.js' %}"></script>
<script>

$(document).ready(function() {
  currentTab();
$('.nav-bolelshik').on('click', function() { setTimeout(function() {currentTab();}, 10) });
  $('#tabs').on('click', '.tabs a', function(e) {
    if ($(this).attr("href")[0] == "#") {
      e.preventDefault();
      history.replaceState(null, null, $(this).attr("href"));
      currentTab();
    }
  });
});

function currentTab() {
  var href = location.hash || $('#tabs .tabs a').eq(0).attr("href");
  $('#tabs .tabs a').removeClass();
  $('#tabs .tabs a[href="' + href + '"]').addClass('active');
  $('.tabs-content > div').hide();
  $(href).show();
}

</script>
{% endblock extrajs %}
