{% extends "base.html" %}
{% load staticfiles %}
{% block title %}RUSSIAN RAILWAYS FOR THE FANS | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/bolelshikam.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_en.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">RUSSIAN RAILWAYS FOR THE FANS</div>
<!--Left Column-->
<h1>RUSSIAN RAILWAYS FOR THE FANS</h1>
<section class="box">
<div id="tabs">
  <!-- Вкладки выполнены в виде списка с якорными ссылками -->
  <ul class="tabs">
    <li class="tab active"><a href="#info" class="active">Travel information</a></li>
    <li class="tab"><a href="#buy-ticket">Buy or book tickets</a></li>
    <li class="tab"><a href="#map">World Cup free trains route map</a></li>
  </ul>
  <!-- Содержимое каждой вкладки имеет id в соответствии с якорной ссылкой -->
<div class="tabs-content">
  <div id="info">
  <div class="info"><div class="info-icon"><img src="{% static "img/icons-bolel/pic_info.svg" %}"></div><p>Information for railway passengers traveling during the 2018 FIFA World Cup in the Russian Federation</p> </div>
  <div class="pdf"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}"><img src="{% static "img/icons-bolel/pdf-download.png" %}"> Download PDF</a></div>
<div id="container">
<div class="sub-tabs">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Free Rides</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">Boarding the train</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">What should you do in case…</label>
<input id="tab4" type="radio" name="tabs">
<label for="tab4">Accessible travel</label>
<input id="tab5" type="radio" name="tabs">
<label for="tab5">Extra services at stations</label>
<input id="tab6" type="radio" name="tabs">
<label for="tab6">Entrance security</label>
<input id="tab7" type="radio" name="tabs">
<label for="tab7">Safety rules</label>
<input id="tab8" type="radio" name="tabs">
<label for="tab8">Who to contact if you need help</label>
<input id="tab9" type="radio" name="tabs">
<label for="tab9">Contact us</label>
<input id="tab10" type="radio" name="tabs">
<label for="tab10">Emergency numbers</label>
<input id="tab11" type="radio" name="tabs">
<label for="tab11">Contact your World Cup country’s consulate</label>
<div class="sbcont" id="content1">
  <h2 class="title-tab">Free tickets: useful information and boarding procedure</h2>
  <img src="/media/story_img/kassir1.jpg">
  <p><strong>Can I get my free ticket at the ticket office if I don’t have Internet access?</strong></p>
  <p>If you have no Internet access on the territory of the Russian Federation, you will be able to book free travel through the specialized ticket offices located at railway stations and by calling hotline: 8-800-775-2018.</p>
  <p>Booking free travel using the hot line is no longer possible 2 hours before the extra train departs from the departure station. Booking free travel through ticket offices can be done no earlier than one day before the departure date of the extra train and closes ten minutes before the extra train departs.</p>

  <p><strong>If I’m late for my free train, will I be able to reach the destination free of charge using the old free ticket?</strong></p>
  <p>If you are late for your free train, you must cancel the boarding card for the extra train for which you are late and rebook the free travel.</p>
  <p>You can book free travel through the specialized ticket offices located at railway stations and by calling our hotline: 8-800-775-2018.</p>

  <p><strong>What documents will I need for transit visa/travel permit through Belarus and Lithuania to travel to Kaliningrad?</strong></p>
  <p>In order to travel to Kaliningrad on an extra train, citizens of foreign states need to have a document permitting transit travel through the territory of Belarus and Lithuania.</p>
  <p>According to the Schengen Agreement, a transit visa to the Republic of Lithuania is not required if the country is on the list of states whose citizens may enter without a visa for the purpose of a short stay in or transit through the Republic of Lithuania.</p>
  <p>To obtain a transit visa for foreign citizens to the Republic of Belarus, it is necessary to apply for a transit visa.</p>
  <p>To receive a transit visa, the following documents are required:</p>
  <ul>
    <li>a valid passport (or other valid document for travelling abroad);</li>
    <li>a completed visa application form;</li>
    <li>a match ticket, a personalised 2018 FIFA World Cup Fan ID;</li>
    <li>one photo.</li>
  </ul>

  <p><strong>If I lose my passport, I need to inform the Consulate / Information Desk. They need to confirm that they have contacted me so that I could go to the place where lost documents can be replaced. What the Consulate should do to allow me to take the train? For example, do I have to confirm the fact that they have informed me in writing?</strong></p>
  <p>Taking into account the need to ensure transport security, sports fans need the following documents to board the extra trains:</p>
  <ul>
    <li>a match ticket or a document that entitles the fan to receive a match ticket;</li>
    <li>an identity document;</li>
    <li>a personalized Fan ID printed on paper.</li>
  </ul>
  <p>In accordance with Russian Federal Law No. 115-FZ of 25.07.2002 On the Legal Status of Foreign Citizens in the Russian Federation, documents certifying the identity of stateless persons in the Russian Federation are:</p>
  <ul>
    <li>a document issued by a foreign state and recognised in accordance with an international treaty of the Russian Federation as a document certifying the identity of the stateless person concerned;</li>
    <li>permission for temporary residence;</li>
    <li>a residence permit;</li>
    <li>other documents stipulated by federal law or recognised in accordance with an international treaty of the Russian Federation as documents certifying the identity of a stateless person.</li>
  </ul>

  <p><strong>The hotline told me that I can reserve seats on free train, but not earlier than 60 days before the journey, and later they need to get an actual ticket. Is this true? If so, will an electronic ticket be sent to my email address? Or is the confirmation sent to my e-mail when booking already considered as a boarding card?</strong></p>
  <p>The registration for free travel began on 27.10.2017</p>
  <p>After booking the free travel, the boarding card is sent to your e-mail address (no earlier than 90 days before the departure date of the extra train).</p>
  <p>A confirmation sent to your e-mail upon booking is not considered as a boarding card.</p>

  <p><strong>Is free rail travel allowed only -1 and +1 day after each match? What about fans who want to get to the city in advance or stay longer as tourists? Does this mean that a fan can, for example, book travel only on the Moscow – Volgograd – Moscow route? Or will it be possible to organise a more complex route, for example, Moscow – Volgograd – Nizhny Novgorod?</strong></p>
  <p>Free travel is available on the routes of sports competitions in accordance with the timetable of the extra trains.</p>
  <p>The timetable of the extra trains is designed in such a way that fans can arrive in the city hosting the game in advance, but no later than 2-3 hours before the start of the match and leave the city again no earlier than 2-3 hours after the match and stay in the city longer.</p>
  <p>In accordance with the timetable for extra trains, most trains will transport spectators of sports competitions from Moscow to the venue and back, as well as between the host cities without passing through Moscow in line with the principle Follow Your Team.</p>

  <p><strong>Reference information indicates that the sale of alcohol will be banned, and that consumption of alcoholic beverages is prohibited at train stations and on trains, with the exception of those offered on board (dining cars). Since there are no restrictions on the sale of alcohol on trains, can I buy and drink alcoholic beverages only in dining cars?</strong></p>
  <p>The sale of alcoholic and low-alcohol drinks in dining cars is carried out in accordance with the current legislation of the Russian Federation. In addition, in accordance with the current legislation of the Russian Federation, drinking alcoholic beverages in public places is prohibited.</p>

  <p><strong>Since the procedure for issuing free railway tickets is done online, and the confirmation is sent by e-mail, is it correct that these tickets cannot be lost or damaged? And that football fans are thus unlikely to experience such difficulties?</strong></p>
  <p>The boarding card is required for boarding only if you have booked a free ticket at a ticket office at the railway station less than one hour before the train departure. In other cases, when you  are boarding extra trains, it is not required to present a boarding card on paper or electronic media. The documents necessary for boarding an extra train are a match ticket or a document that entitles you to receive a match ticket, an identity document, and a personalized Fan ID printed on paper.</p>
  <p>A child boarding a train, if it does not occupy a separate seat, is carried on the extra train upon presentation of the boarding card on paper or electronic media and an identity document.</p>
</div>

<div class="sbcont" id="content2">
  <!--<h2 class="title-tab">Порядок посадки в поезд</h2>-->
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>To have enough time for passing entrance security, we advise you to arrive at the station ahead of time, at least <span class="number-bold">30 minutes</span> before your train is due to depart.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>The number of carriage that you should board is given in your ticket (You can board the train via any carriage at all stations other than terminus)</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>Your tickets can be checked again after boarding</p> </div>
  <h2>Travel documents</h2>
  <p>Documents required for a free travel on special charter trains between the 2018 FIFA World Cup host cities:</p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>Game ticket</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>Your ID</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>Personal FAN ID. For boarding, we also advise to have your boarding pass with you.</p> </div>
</div>

<div class="sbcont" id="content3">
  <!--<h2 class="title-tab">Что делать, если…</h2>-->
  <img src="/media/story_img/opozdanie.jpg">
  <h2>If your train ticket was lost/stolen/destroyed</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>Contact the information desk staff or the assistant station master on duty, and follow their advice. (There is a fee for reissuing a lost or destroyed ticket.)</p> </div>
  <h2>If you were late for the train</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>Contact the information desk staff, the assistant station master on duty or a volunteer, and follow their advice.</p> </div>
  <h2>If your documents were stolen/lost</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>Contact the information desk staff, the assistant station master on duty or the police, and follow their advice. (We recommend that you have the phone number of your country’s consulate in Russia.)</p> </div>
  <h2>If your Fan ID was lost/stolen</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>Contact a Fan ID distribution centre and provide the ID that you used to apply for the Fan ID. (To find a distribution centre, contact the information desk staff or a volunteer, and follow their advice.)</p> </div>

</div>
<div class="sbcont" id="content4">
  <!--<h2 class="title-tab">Пассажирам с ограниченными возможностями</h2>-->
  <img src="/media/story_img/kolyaska.jpg">
  <h2>Before you go</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>You can reserve tickets for accessible space (you will need to submit certified medical documents to the Mobility Assistance Centre).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>72 hours and no less than 24 hours before the journey you can order mobility assistance services (if you didn’t apply beforehand, you will need to contact the station information desk).</p> </div>
  <h2>Security check procedure</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>Passengers and station visitors using wheelchairs don’t have to go through metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>Security personnel then performs the entrance check with handheld devices</p> </div>
  <h2>Mobility assistance during travel</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>Members of staff meet the passenger with a disability at the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>Passengers are assisted off/onto the train and throughout the main areas of the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>Passengers get assistance in using station services</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>Seats are provided for the waiting period at the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>Baggage transportation assistance (up to 3 items)</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>Assistance in getting on/off long-distance trains</p> </div>
  <div class="line"><p>Guide dogs are permitted on special charter trains</p></div>
</div>

<div class="sbcont" id="content5">
  <!--<h2 class="title-tab">Дополнительные услуги на вокзалах</h2>-->
  <img src="/media/story_img/wifi.jpg">
  <h2>Free services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Free Wi-Fi access (authorization by submitting personal information is required to use the service).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>Free electronic device charging (charging stations are marked with special pictograms).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>Free use of restrooms (WC), valid train ticket required (the service can be used for free for two hours after the trip).</p> </div>
  <h2>Paid services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>Automatic luggage lockers.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>Accommodation services (some stations offer shower rooms).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>Paid VIP waiting lounges.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>Photocopying, printing (provided at most stations).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">You can check the availability and prices of any services at station information desks.</p> </div>
</div>
<div class="sbcont" id="content6">
  <!--<h2 class="title-tab">Входной контроль</h2>-->
  <img src="/media/story_img/912.jpg">
  <p>Security personnel at railway station entrances use walk-through and handheld metal detectors, as well as X-ray scanners for baggage security control. To pass entrance check you will have to place your baggage and hand luggage on the roller and use trays for valuables and small things.
Answer any security questions of the staff. If personnel suspects any prohibited items, please go through entrance security check / inspection / security questions again.</p>
  <p>Travelers wearing pacemakers don’t need to have the walk-through security check, but carrying your patient’s ID with you is recommended. If you are wearing a pacemaker, you should also contact railway station staff for details of the security check procedure.</p>
  <p>Travelers with pushchairs will have to fold collapsible pushchairs and place them on the X-ray roller, or follow the security staff’s instructions for hand search of oversized pushchairs.</p>
  <p>Please note that refusal to go through entrance security check entails unilateral termination of the transportation agreement.</p>
  <h2>Types of security check</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>Walk-through metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>Handheld metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>X-ray scanners (for baggage security checks)</p> </div>
  <h2>Procedure of security check</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>Place your baggage and hand luggage on the roller. Use trays for valuables and small things.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>Answer any security questions of the staff. If personnel suspects any prohibited items, please go through entrance security check / inspection / security questions again.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Refusal to go through entrance security check entails unilateral termination of the transportation agreement.</p> </div>
<h2>Security check procedure for travelers wearing a pacemaker</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>No walk-through metal detector checks</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>We recommend that you carry your patient’s ID with you</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Travelers wearing pacemakers should contact railway station staff for details of the security check procedure.</p> </div>
<h2>Security check procedure for travelers with pushchairs</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>Collapsible pushchairs must be folded and placed on the X-ray roller</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>Follow the security staff’s instructions for hand search of oversized pushchairs (prams or non-folding)</p> </div>
</div>

<div class="sbcont" id="content7">
  <!--<h2 class="title-tab">Правила безопасности</h2>-->
  <img src="/media/story_img/sochivokzal.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>Visitors in a state of alcohol, drug or other intoxication are not allowed</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>Smoking inside railway stations and on trains is prohibited</p> </div>
  <h2>On railway tracks and platforms it is not allowed to</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>Run along the railway platform or play active games</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>Carry items that, if not properly covered, can injure other passengers</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>Stay or leave anything on the tracks</p> </div>
  <h2>When using trains it is not allowed to</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>Come close to carriages until the train stops moving</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>Get on/off the train while it is moving</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>Lean out of windows or vestibule doors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>Travel in spaces not designed for passenger accommodation</p> </div>
  <div class="line"><p>Travel with animals on special charter trains (Guide dogs are permitted)</p> </div>
  <h2>Prohibited items</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>Weapons / Ammunition / Cartridges</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>Chemicals and toxic substances</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>Explosives / Fireworks</p> </div>

</div>
<div class="sbcont" id="content8">
  <h2 class="title-tab">Who can I contact for help?</h2>
  <img src="/media/story_img/kkomu.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div><p><b>Staff at station information desks</b> <br> will find an English-speaking volunteer.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic55.svg" %}" class="small"></div><p><b>Volunteers at railway stations</b> <br> wear bright uniform clothes with the 2018 FIFA World Cup logo.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic56.svg" %}" class="small"></div><p><b>Frontline staff members</b> <br> wear bright green vests with the Russian Railways logо.</p> </div>
</div>
<div class="sbcont" id="content9">
  <h2 class="title-tab">Contact us</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Russian Railways hotline<br> <span class="number-bold">8 800 775 00 00</span> (Domestic)<br> or <span class="number-bold">+7 499 605 20 00</span> (International)</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Hotline of ANO Transport Directorate 2018:<br> <span class="number-bold">8 800 775 20 18</span> (Domestic)<br> or <span class="number-bold">+7 495 741 18 18</span> (International)</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p><span class="number-bold">www.pass.rzd.ru</span></p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p><span class="number-bold">info@rzd.ru</span></p> </div>
</div>
<div class="sbcont" id="content10">
  <h2 class="title-tab">Emergency Services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Fire brigade (General emergency) 101</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Police 102</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Ambulance 103</p></div>
</div>
<div class="sbcont" id="content11">
  <h2>Consulate phone numbers of the 2018 FIFA World Cup participating countries</h2>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>Argentina </b> <br>+7 495 725-14-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>Australia </b> <br>+61 2 6261 3305</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>Belgium </b> <br>+7 495 763-55-42</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>Brazil </b> <br>+7 495 960-81-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>Colombia </b> <br>+7 499 248-30-73</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>Costa Rica </b> <br>+7 495 415-40-14</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>Croatia </b> <br>+7 495 785-39-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>Denmark </b> <br>+7 495 642-68-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>Egypt </b> <br>+7 499 246-30-80</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>France </b> <br>+7 495 937-15-07</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>Germany </b> <br>+7 495 937-95-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/static/img/flag-eng.png"></div><p><b>Great Britain </b> <br>+7 495 956-72-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>Iceland </b> <br>+7 495 956-76-04</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>I. R. Iran </b> <br>+7 495 917-72-82</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>Japan </b> <br>+7 495 229-25-20</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>Mexico </b> <br>+7 495 637-21-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>Morocco </b> <br>+7 499 703-12-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>Nigeria </b> <br>+7 495 690-37-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>Panama </b> <br>+7 495 956-07-29</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>Peru </b> <br>+7 985 389-06-60</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>Poland </b> <br>+7 495 231-15-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>Portugal </b> <br>+7 965 348-13-28</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>Saudi Arabia </b> <br>+7 917 511-08-15</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>Senegal </b> <br>+221 33 822-2325</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>Serbia </b> <br>+7 495 988-66-45</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>South Korea </b> <br>+7 495 783-27-27</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>Spain </b> <br>+7 499 136-39-02</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>Sweden </b> <br>+7 495 937-92-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>Switzerland </b> <br>+7 495 258-38-30</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>Tunisia </b> <br>+7 495 691-28-58</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>Uruguay </b> <br>+7 499 230-76-35</p> </div>
</div>
</div>


<div class="mob-sub-tabs">
  <div class="back_menu"><img src="{% static "img/icons-bolel/back.svg" %}"></div>
<input id="mtab1" type="radio" name="tabs" checked>
<label for="mtab1">Free Rides</label>
<input id="mtab2" type="radio" name="tabs">
<label for="mtab2">Boarding the train</label>
<input id="mtab3" type="radio" name="tabs">
<label for="mtab3">What should you do in case…</label>
<input id="mtab4" type="radio" name="tabs">
<label for="mtab4">Accessible travel</label>
<input id="mtab5" type="radio" name="tabs">
<label for="mtab5">Extra services at stations</label>
<input id="mtab6" type="radio" name="tabs">
<label for="mtab6">Entrance security</label>
<input id="mtab7" type="radio" name="tabs">
<label for="mtab7">Safety rules</label>
<input id="mtab8" type="radio" name="tabs">
<label for="mtab8">Who to contact if you need help</label>
<input id="mtab9" type="radio" name="tabs">
<label for="mtab9">Contact us</label>
<input id="mtab10" type="radio" name="tabs">
<label for="mtab10">Emergency numbers</label>
<input id="mtab11" type="radio" name="tabs">
<label for="mtab11">Contact your World Cup country’s consulate</label>
<div class="sbcont" id="mcontent1">
  <h2 class="title-tab">Free tickets: useful information and boarding procedure</h2>
  <img src="/media/story_img/kassir1.jpg">
  <p><strong>Can I get my free ticket at the ticket office if I don’t have Internet access?</strong></p>
  <p>If you have no Internet access on the territory of the Russian Federation, you will be able to book free travel through the specialized ticket offices located at railway stations and by calling hotline: 8-800-775-2018.</p>
  <p>Booking free travel using the hot line is no longer possible 2 hours before the extra train departs from the departure station. Booking free travel through ticket offices can be done no earlier than one day before the departure date of the extra train and closes ten minutes before the extra train departs.</p>

  <p><strong>If I’m late for my free train, will I be able to reach the destination free of charge using the old free ticket?</strong></p>
  <p>If you are late for your free train, you must cancel the boarding card for the extra train for which you are late and rebook the free travel.</p>
  <p>You can book free travel through the specialized ticket offices located at railway stations and by calling our hotline: 8-800-775-2018.</p>

  <p><strong>What documents will I need for transit visa/travel permit through Belarus and Lithuania to travel to Kaliningrad?</strong></p>
  <p>In order to travel to Kaliningrad on an extra train, citizens of foreign states need to have a document permitting transit travel through the territory of Belarus and Lithuania.</p>
  <p>According to the Schengen Agreement, a transit visa to the Republic of Lithuania is not required if the country is on the list of states whose citizens may enter without a visa for the purpose of a short stay in or transit through the Republic of Lithuania.</p>
  <p>To obtain a transit visa for foreign citizens to the Republic of Belarus, it is necessary to apply for a transit visa.</p>
  <p>To receive a transit visa, the following documents are required:</p>
  <ul>
    <li>a valid passport (or other valid document for travelling abroad);</li>
    <li>a completed visa application form;</li>
    <li>a match ticket, a personalised 2018 FIFA World Cup Fan ID;</li>
    <li>one photo.</li>
  </ul>

  <p><strong>If I lose my passport, I need to inform the Consulate / Information Desk. They need to confirm that they have contacted me so that I could go to the place where lost documents can be replaced. What the Consulate should do to allow me to take the train? For example, do I have to confirm the fact that they have informed me in writing?</strong></p>
  <p>Taking into account the need to ensure transport security, sports fans need the following documents to board the extra trains:</p>
  <ul>
    <li>a match ticket or a document that entitles the fan to receive a match ticket;</li>
    <li>an identity document;</li>
    <li>a personalized Fan ID printed on paper.</li>
  </ul>
  <p>In accordance with Russian Federal Law No. 115-FZ of 25.07.2002 On the Legal Status of Foreign Citizens in the Russian Federation, documents certifying the identity of stateless persons in the Russian Federation are:</p>
  <ul>
    <li>a document issued by a foreign state and recognised in accordance with an international treaty of the Russian Federation as a document certifying the identity of the stateless person concerned;</li>
    <li>permission for temporary residence;</li>
    <li>a residence permit;</li>
    <li>other documents stipulated by federal law or recognised in accordance with an international treaty of the Russian Federation as documents certifying the identity of a stateless person.</li>
  </ul>

  <p><strong>The hotline told me that I can reserve seats on free train, but not earlier than 60 days before the journey, and later they need to get an actual ticket. Is this true? If so, will an electronic ticket be sent to my email address? Or is the confirmation sent to my e-mail when booking already considered as a boarding card?</strong></p>
  <p>The registration for free travel began on 27.10.2017</p>
  <p>After booking the free travel, the boarding card is sent to your e-mail address (no earlier than 90 days before the departure date of the extra train).</p>
  <p>A confirmation sent to your e-mail upon booking is not considered as a boarding card.</p>

  <p><strong>Is free rail travel allowed only -1 and +1 day after each match? What about fans who want to get to the city in advance or stay longer as tourists? Does this mean that a fan can, for example, book travel only on the Moscow – Volgograd – Moscow route? Or will it be possible to organise a more complex route, for example, Moscow – Volgograd – Nizhny Novgorod?</strong></p>
  <p>Free travel is available on the routes of sports competitions in accordance with the timetable of the extra trains.</p>
  <p>The timetable of the extra trains is designed in such a way that fans can arrive in the city hosting the game in advance, but no later than 2-3 hours before the start of the match and leave the city again no earlier than 2-3 hours after the match and stay in the city longer.</p>
  <p>In accordance with the timetable for extra trains, most trains will transport spectators of sports competitions from Moscow to the venue and back, as well as between the host cities without passing through Moscow in line with the principle Follow Your Team.</p>

  <p><strong>Reference information indicates that the sale of alcohol will be banned, and that consumption of alcoholic beverages is prohibited at train stations and on trains, with the exception of those offered on board (dining cars). Since there are no restrictions on the sale of alcohol on trains, can I buy and drink alcoholic beverages only in dining cars?</strong></p>
  <p>The sale of alcoholic and low-alcohol drinks in dining cars is carried out in accordance with the current legislation of the Russian Federation. In addition, in accordance with the current legislation of the Russian Federation, drinking alcoholic beverages in public places is prohibited.</p>

  <p><strong>Since the procedure for issuing free railway tickets is done online, and the confirmation is sent by e-mail, is it correct that these tickets cannot be lost or damaged? And that football fans are thus unlikely to experience such difficulties?</strong></p>
  <p>The boarding card is required for boarding only if you have booked a free ticket at a ticket office at the railway station less than one hour before the train departure. In other cases, when you  are boarding extra trains, it is not required to present a boarding card on paper or electronic media. The documents necessary for boarding an extra train are a match ticket or a document that entitles you to receive a match ticket, an identity document, and a personalized Fan ID printed on paper.</p>
  <p>A child boarding a train, if it does not occupy a separate seat, is carried on the extra train upon presentation of the boarding card on paper or electronic media and an identity document.</p>
</div>

<div class="sbcont" id="mcontent2">
  <!--<h2 class="title-tab">Порядок посадки в поезд</h2>-->
  <img src="/media/story_img/besplatny.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic23.svg" %}"></div><p>To have enough time for passing entrance security, we advise you to arrive at the station ahead of time, at least <span class="number-bold">30 minutes</span> before your train is due to depart.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic24.svg" %}"></div><p>The number of carriage that you should board is given in your ticket (You can board the train via any carriage at all stations other than terminus)</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic25.svg" %}"></div><p>Your tickets can be checked again after boarding</p> </div>
  <h2>Travel documents</h2>
  <p>Documents required for a free travel on special charter trains between the 2018 FIFA World Cup host cities:</p>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic26.svg" %}"></div><p>Game ticket</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic27.svg" %}"></div><p>Your ID</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic28.svg" %}"></div><p>Personal FAN ID. For boarding, we also advise to have your boarding pass with you.</p> </div>
</div>

<div class="sbcont" id="mcontent3">
  <!--<h2 class="title-tab">Что делать, если…</h2>-->
  <img src="/media/story_img/opozdanie.jpg">
  <h2>If your train ticket was lost/stolen/destroyed</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic11.svg" %}"></div><p>Contact the information desk staff or the assistant station master on duty, and follow their advice. (There is a fee for reissuing a lost or destroyed ticket.)</p> </div>
  <h2>If you were late for the train</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic12.svg" %}"></div><p>Contact the information desk staff, the assistant station master on duty or a volunteer, and follow their advice.</p> </div>
  <h2>If your documents were stolen/lost</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic13.svg" %}"></div><p>Contact the information desk staff, the assistant station master on duty or the police, and follow their advice. (We recommend that you have the phone number of your country’s consulate in Russia.)</p> </div>
  <h2>If your Fan ID was lost/stolen</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic14.svg" %}"></div><p>Contact a Fan ID distribution centre and provide the ID that you used to apply for the Fan ID. (To find a distribution centre, contact the information desk staff or a volunteer, and follow their advice.)</p> </div>

</div>
<div class="sbcont" id="mcontent4">
  <!--<h2 class="title-tab">Пассажирам с ограниченными возможностями</h2>-->
  <img src="/media/story_img/kolyaska.jpg">
  <h2>Before you go</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div><p>You can reserve tickets for accessible space (you will need to submit certified medical documents to the Mobility Assistance Centre).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic30.svg" %}"></div><p>72 hours and no less than 24 hours before the journey you can order mobility assistance services (if you didn’t apply beforehand, you will need to contact the station information desk).</p> </div>
  <h2>Security check procedure</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic31.svg" %}" class="small"></div><p>Passengers and station visitors using wheelchairs don’t have to go through metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic32.svg" %}"></div><p>Security personnel then performs the entrance check with handheld devices</p> </div>
  <h2>Mobility assistance during travel</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic33.svg" %}"></div><p>Members of staff meet the passenger with a disability at the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic34.svg" %}"></div><p>Passengers are assisted off/onto the train and throughout the main areas of the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic35.svg" %}"></div><p>Passengers get assistance in using station services</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic36.svg" %}" class="small"></div><p>Seats are provided for the waiting period at the station</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic37.svg" %}"></div><p>Baggage transportation assistance (up to 3 items)</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic38.svg" %}"></div><p>Assistance in getting on/off long-distance trains</p> </div>
  <div class="line"><p>Guide dogs are permitted on special charter trains</p></div>
</div>

<div class="sbcont" id="mcontent5">
  <!--<h2 class="title-tab">Дополнительные услуги на вокзалах</h2>-->
  <img src="/media/story_img/wifi.jpg">
  <h2>Free services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic15.svg" %}"></div><p>Free Wi-Fi access (authorization by submitting personal information is required to use the service).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic16.svg" %}"></div><p>Free electronic device charging (charging stations are marked with special pictograms).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic17.svg" %}"></div><p>Free use of restrooms (WC), valid train ticket required (the service can be used for free for two hours after the trip).</p> </div>
  <h2>Paid services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic18.svg" %}" class="small"></div><p>Automatic luggage lockers.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic19.svg" %}" class="small"></div><p>Accommodation services (some stations offer shower rooms).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic20.svg" %}" class="small"></div><p>Paid VIP waiting lounges.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic21.svg" %}" class="small"></div><p>Photocopying, printing (provided at most stations).</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic22.svg" %}"></div><p class="red">You can check the availability and prices of any services at station information desks.</p> </div>
</div>
<div class="sbcont" id="mcontent6">
  <!--<h2 class="title-tab">Входной контроль</h2>-->
  <img src="/media/story_img/912.jpg">
  <p>Security personnel at railway station entrances use walk-through and handheld metal detectors, as well as X-ray scanners for baggage security control. To pass entrance check you will have to place your baggage and hand luggage on the roller and use trays for valuables and small things.
Answer any security questions of the staff. If personnel suspects any prohibited items, please go through entrance security check / inspection / security questions again.</p>
  <p>Travelers wearing pacemakers don’t need to have the walk-through security check, but carrying your patient’s ID with you is recommended. If you are wearing a pacemaker, you should also contact railway station staff for details of the security check procedure.</p>
  <p>Travelers with pushchairs will have to fold collapsible pushchairs and place them on the X-ray roller, or follow the security staff’s instructions for hand search of oversized pushchairs.</p>
  <p>Please note that refusal to go through entrance security check entails unilateral termination of the transportation agreement.</p>
  <h2>Types of security check</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic1.svg" %}"></div><p>Walk-through metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic2.svg" %}"></div><p>Handheld metal detectors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic3.svg" %}"></div><p>X-ray scanners (for baggage security checks)</p> </div>
  <h2>Procedure of security check</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic4.svg" %}"></div><p>Place your baggage and hand luggage on the roller. Use trays for valuables and small things.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic5.svg" %}"></div><p>Answer any security questions of the staff. If personnel suspects any prohibited items, please go through entrance security check / inspection / security questions again.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Refusal to go through entrance security check entails unilateral termination of the transportation agreement.</p> </div>
<h2>Security check procedure for travelers wearing a pacemaker</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic7.svg" %}" class="small"></div><p>No walk-through metal detector checks</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic8.svg" %}" class="small"></div><p>We recommend that you carry your patient’s ID with you</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic6.svg" %}"></div><p class="red">Travelers wearing pacemakers should contact railway station staff for details of the security check procedure.</p> </div>
<h2>Security check procedure for travelers with pushchairs</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic9.svg" %}"></div><p>Collapsible pushchairs must be folded and placed on the X-ray roller</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic10.svg" %}"></div><p>Follow the security staff’s instructions for hand search of oversized pushchairs (prams or non-folding)</p> </div>
</div>

<div class="sbcont" id="mcontent7">
  <!--<h2 class="title-tab">Правила безопасности</h2>-->
  <img src="/media/story_img/sochivokzal.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic39.svg" %}" class="small"></div><p>Visitors in a state of alcohol, drug or other intoxication are not allowed</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic40.svg" %}" class="small"></div><p>Smoking inside railway stations and on trains is prohibited</p> </div>
  <h2>On railway tracks and platforms it is not allowed to</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic41.svg" %}" class="small"></div><p>Run along the railway platform or play active games</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic42.svg" %}" class="small"></div><p>Carry items that, if not properly covered, can injure other passengers</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic43.svg" %}" class="small"></div><p>Stay or leave anything on the tracks</p> </div>
  <h2>When using trains it is not allowed to</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic44.svg" %}" class="small"></div><p>Come close to carriages until the train stops moving</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic45.svg" %}" class="small"></div><p>Get on/off the train while it is moving</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic46.svg" %}" class="small"></div><p>Lean out of windows or vestibule doors</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic47.svg" %}" class="small"></div><p>Travel in spaces not designed for passenger accommodation</p> </div>
  <div class="line"><p>Travel with animals on special charter trains (Guide dogs are permitted)</p> </div>
  <h2>Prohibited items</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic48.svg" %}" class="small"></div><p>Weapons / Ammunition / Cartridges</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic49.svg" %}" class="small"></div><p>Chemicals and toxic substances</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic50.svg" %}" class="small"></div><p>Explosives / Fireworks</p> </div>

</div>
<div class="sbcont" id="mcontent8">
  <h2 class="title-tab">Who can I contact for help?</h2>
  <img src="/media/story_img/kkomu.jpg">
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic54.svg" %}" class="small"></div><p><b>Staff at station information desks</b> <br> will find an English-speaking volunteer.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic55.svg" %}" class="small"></div><p><b>Volunteers at railway stations</b> <br> wear bright uniform clothes with the 2018 FIFA World Cup logo.</p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic56.svg" %}" class="small"></div><p><b>Frontline staff members</b> <br> wear bright green vests with the Russian Railways logо.</p> </div>
</div>
<div class="sbcont" id="mcontent9">
  <h2 class="title-tab">Contact us</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Russian Railways hotline<br> <span class="number-bold">8 800 775 00 00</span> (Domestic)<br> or <span class="number-bold">+7 499 605 20 00</span> (International)</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p>Hotline of ANO Transport Directorate 2018:<br> <span class="number-bold">8 800 775 20 18</span> (Domestic)<br> or <span class="number-bold">+7 495 741 18 18</span> (International)</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic52.svg" %}" class="small"></div><p><span class="number-bold">www.pass.rzd.ru</span></p> </div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic53.svg" %}" class="small"></div><p><span class="number-bold">info@rzd.ru</span></p> </div>
</div>
<div class="sbcont" id="mcontent10">
  <h2 class="title-tab">Emergency Services</h2>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Fire brigade (General emergency) 101</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Police 102</p></div>
  <div class="line"><div class="line-icon"><img src="{% static "img/icons-bolel/pic51.svg" %}" class="small"></div><p class="red">Ambulance 103</p></div>
</div>
<div class="sbcont" id="mcontent11">
  <h2>Consulate phone numbers of the 2018 FIFA World Cup participating countries</h2>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_argentine.jpg"></div><p><b>Argentina </b> <br>+7 495 725-14-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/australia.jpg"></div><p><b>Australia </b> <br>+61 2 6261 3305</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_belgique.jpg"></div><p><b>Belgium </b> <br>+7 495 763-55-42</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_brazil.jpg"></div><p><b>Brazil </b> <br>+7 495 960-81-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/colombia1.jpg"></div><p><b>Colombia </b> <br>+7 499 248-30-73</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/costa-rica.png"></div><p><b>Costa Rica </b> <br>+7 495 415-40-14</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_croatie.jpg"></div><p><b>Croatia </b> <br>+7 495 785-39-49</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_danemark.jpg"></div><p><b>Denmark </b> <br>+7 495 642-68-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_egypte.jpg"></div><p><b>Egypt </b> <br>+7 499 246-30-80</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_france.jpg"></div><p><b>France </b> <br>+7 495 937-15-07</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/germany1.jpg"></div><p><b>Germany </b> <br>+7 495 937-95-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/static/img/flag-eng.png"></div><p><b>Great Britain </b> <br>+7 495 956-72-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/iceland1.jpg"></div><p><b>Iceland </b> <br>+7 495 956-76-04</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_iran.jpg"></div><p><b>I. R. Iran </b> <br>+7 495 917-72-82</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_japon.jpg"></div><p><b>Japan </b> <br>+7 495 229-25-20</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/mexico.jpg"></div><p><b>Mexico </b> <br>+7 495 637-21-48</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_maroc.jpg"></div><p><b>Morocco </b> <br>+7 499 703-12-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_nigeria.jpg"></div><p><b>Nigeria </b> <br>+7 495 690-37-85</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/panama.jpg"></div><p><b>Panama </b> <br>+7 495 956-07-29</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/peru2.jpg"></div><p><b>Peru </b> <br>+7 985 389-06-60</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_pologne.jpg"></div><p><b>Poland </b> <br>+7 495 231-15-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/portugal.jpg"></div><p><b>Portugal </b> <br>+7 965 348-13-28</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/saudi_arabia.jpg"></div><p><b>Saudi Arabia </b> <br>+7 917 511-08-15</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/senegal.jpg"></div><p><b>Senegal </b> <br>+221 33 822-2325</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/serbia.jpg"></div><p><b>Serbia </b> <br>+7 495 988-66-45</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/korea_south.jpg"></div><p><b>South Korea </b> <br>+7 495 783-27-27</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/spain2.jpg"></div><p><b>Spain </b> <br>+7 499 136-39-02</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/sweden.jpg"></div><p><b>Sweden </b> <br>+7 495 937-92-00</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_suisse.jpg"></div><p><b>Switzerland </b> <br>+7 495 258-38-30</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/tunisia.jpg"></div><p><b>Tunisia </b> <br>+7 495 691-28-58</p> </div>
  <div class="line"><div class="line-flag"><img src="/media/country_img/flag_uruguay.jpg"></div><p><b>Uruguay </b> <br>+7 499 230-76-35</p> </div>
</div>

</div>
</div>


  </div>

  <div id="buy-ticket">
    <a class="outer-link" href="https://pass.rzd.ru/main-pass/public/en">
      <div class="line">
        <div class="line-icon"><img src="{% static "img/icons-bolel/pic29.svg" %}"></div>
        <p>Buy tickets</p>
      </div>
    </a>
    <a class="outer-link" href="http://en.transport2018.com/">
      <div class="line">
        <div class="line-icon"><img src="{% static "img/icons-bolel/free-ride.png" %}"></div>
        <p>Book free World Cup fan tickets</p>
      </div>
    </a>
  </div>


  <div id="map">
    <div class="map-bolel">

<p class="comment">Click on a city <br> to find out more about it</p>
        <a href="/guide/kaliningrad/"><div class="map-ball klg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Kaliningrad</p></div></a>
        <a href="/guide/sankt-peterburg/"><div class="map-ball spb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Saint Petersburg</p></div></a>
        <a href="/guide/moskva/"><div class="map-ball msk"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Moscow</p></div></a>
        <a href="/guide/n-novgorod/"><div class="map-ball nov"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Nizhny Novgorod</p></div></a>
        <a href="/guide/kazan/"><div class="map-ball kaz"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Kazan</p></div></a>
        <a href="/guide/saransk/"><div class="map-ball sar"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Saransk</p></div></a>
        <a href="/guide/ekaterinburg/"><div class="map-ball ekb"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Ekaterinburg</p></div></a>
        <a href="/guide/samara/"><div class="map-ball sam"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Samara</p></div></a>
        <a href="/guide/rostov-na-donu/"><div class="map-ball rnd"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Rostov-on-Don</p></div></a>
        <a href="/guide/volgograd/"><div class="map-ball vlg"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Volgograd</p></div></a>
        <a href="/guide/sochi/"><div class="map-ball sochi"><img src="{% static "img/icons-bolel/ball.svg" %}"><p>Sochi</p></div></a>
    </div>
  </div>

</div>
</section>

{% endblock content%}
{% block extrajs %}
<script src="{% static 'js/bolel-mobile.js' %}"></script>
<script>

$(document).ready(function() {
  currentTab();
$('.nav-bolelshik').on('click', function() { setTimeout(function() {currentTab();}, 10) });
  $('#tabs').on('click', '.tabs a', function(e) {
    if ($(this).attr("href")[0] == "#") {
      e.preventDefault();
      history.replaceState(null, null, $(this).attr("href"));
      currentTab();
    }
  });
});

function currentTab() {
  var href = location.hash || $('#tabs .tabs a').eq(0).attr("href");
  $('#tabs .tabs a').removeClass();
  $('#tabs .tabs a[href="' + href + '"]').addClass('active');
  $('.tabs-content > div').hide();
  $(href).show();
}

</script>
{% endblock extrajs %}
