{% for story in story_list %}
  {% if online == '2' %}
    {% if story.only_online == False %}
    <article class="news-block">
      <div class="news-img">
      {% if story.story_tag %}<span class="tag">{{story.story_tag}}</span>{% endif %}
      {% if story.story_img %}<a href="{{story.get_absolute_url}}"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
      </div>
    <a href="{{story.get_absolute_url}}" class="news-link">
      <h2 class="title">{{story.title|truncatechars:70}}</h2>
    </a>
    <p class="author">{{story.story_author}} <span class="date">
      | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
    </p>
    <p class="preview">{{story.preview}}</p>
    </article>
    {% endif %}
  {% else %}
  <article class="news-block">
    <div class="news-img">
    {% if story.story_tag %}<span class="tag">{{story.story_tag}}</span>{% endif %}
    {% if story.story_img %}<a href="{{story.get_absolute_url}}"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
    </div>
  <a href="{{story.get_absolute_url}}" class="news-link">
    <h2 class="title">{{story.title|truncatechars:70}}</h2>
  </a>
  <p class="author">{{story.story_author}} <span class="date">
    | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
  </p>
  <p class="preview">{{story.preview}}</p>
  </article>
  {% endif %}
{% endfor %}
