{% extends "base.html" %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}

{%block content%}

<h1>{{header}}</h1>
{% if story_list %}
<section class="box">
  {% for story in story_list %}
  {% if story.title_ch %}
    {% if online == '2' %}
      {% if story.only_online == False %}
      <article class="news-block">
      	<div class="news-img">
      	{% if story.story_tag_ch %}<span class="tag">{{story.story_tag_ch}}</span>{% endif %}
      	{% if story.story_img %}<a href="{{story.get_absolute_url}}ch/"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
      	</div>
      <a href="{{story.get_absolute_url}}ch/" class="news-link">
        <h2 class="title">{{story.title_ch|truncatechars:70}}</h2>
      </a>
      <p class="author">{{story.story_author_ch}} <span class="date">
        | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
      </p>
      <p class="preview">{{story.preview_ch}}</p>
      </article>
      {% endif %}
    {% else %}
    <article class="news-block">
    	<div class="news-img">
    	{% if story.story_tag_ch %}<span class="tag">{{story.story_tag_ch}}</span>{% endif %}
    	{% if story.story_img %}<a href="{{story.get_absolute_url}}ch/"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
    	</div>
    <a href="{{story.get_absolute_url}}ch/" class="news-link">
      <h2 class="title">{{story.title_ch|truncatechars:70}}</h2>
    </a>
    <p class="author">{{story.story_author_ch}} <span class="date">
      | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
    </p>
    <p class="preview">{{story.preview_ch}}</p>
    </article>
    {% endif %}
  {% endif %}
  {% endfor %}
  {% if story_list.has_next %}
  <div class="pagi-link">
    <a class="next_page" href="?page={{ story_list.next_page_number }}">Read more</a>
  </div>
  {% endif %}
</section>
{% endif %}
{% endblock content%}
