{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{story.title_ch}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/article.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">冠軍新聞</div>
<section class="text">
{% if story.story_tag_ch %}<div class="tag">{{story.story_tag_ch}}</div>{% endif %}
<h1>{{story.title_ch}}</h1>
<p class="author"><span class="date">
  {% if story.story_author_ch %}文本:</span> {{story.story_author_ch}} {% endif %}
  <span class="date">| {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span></p>
<div class="preview">{{story.preview_ch}}</div>
{% if story.story_img %}<div class="main-img"><img src="{{story.story_img.url}}"></div>{% endif %}
{% autoescape off %}{{story.story_content_ch}}{% endautoescape %}
</section>
{% endblock content%}
