{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{story.title_en}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/article.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_en.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">HISTORY OF FIFA</div>
<section class="text">
  {% if story.story_tag_en %}<div class="tag">{{story.story_tag_en}}</div>{% endif %}
  <h1>{{story.title_en}}</h1>
  <p class="author"><span class="date">
    {% if story.story_author_en %}text:</span> {{story.story_author_en}} {% endif %}
    <span class="date">| {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span></p>
  <div class="preview">{{story.preview_en}}</div>
  {% if story.story_img %}<div class="main-img"><img src="{{story.story_img.url}}"></div>{% endif %}
  {% autoescape off %}{{story.story_content_en}}{% endautoescape %}
</section>
{% endblock content%}
