{% extends "base.html" %}
{% block header %}{% include "nav/nav_en.html" %}{% endblock header %}

{%block content%}

<h1>{{header}}</h1>
{% if story_list %}
<section class="box">
  {% for story in story_list %}
    {% if online == '2' %}
      {% if story.only_online == False %}
      <article class="news-block">
      	<div class="news-img">
      	{% if story.story_tag_en %}<span class="tag">{{story.story_tag_en}}</span>{% endif %}
      	{% if story.story_img %}<a href="{{story.get_absolute_url}}en/"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
      	</div>
      <a href="{{story.get_absolute_url}}en/" class="news-link">
        <h2 class="title">{{story.title_en|truncatechars:70}}</h2>
      </a>
      <p class="author">{{story.story_author_en}} <span class="date">
        | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
      </p>
      <p class="preview">{{story.preview_en}}</p>
      </article>
      {% endif %}
    {% else %}
    <article class="news-block">
    	<div class="news-img">
    	{% if story.story_tag_en %}<span class="tag">{{story.story_tag_en}}</span>{% endif %}
    	{% if story.story_img %}<a href="{{story.get_absolute_url}}en/"><img class="announse" src="{{story.story_img.url}}"></a>{% endif %}
    	</div>
    <a href="{{story.get_absolute_url}}en/" class="news-link">
      <h2 class="title">{{story.title_en|truncatechars:70}}</h2>
    </a>
    <p class="author">{{story.story_author_en}} <span class="date">
      | {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span>
    </p>
    <p class="preview">{{story.preview_en}}</p>
    </article>
    {% endif %}
  {% endfor %}
</section>
<div class="pagi-link">
  <a id="LoadLink" class="next_page" href="javascript:void(0);" data-page="2">Read more</a>
</div>
{% endif %}
{% endblock content%}
{% block extrajs %}
<script type="text/javascript">
(function($) {
  $('#LoadLink').on('click', function() {
    var link = $(this);
    var page = link.data('page');

    $.ajax({
      type: 'get',
      url: '{{ajax_url}}',
      data: {'page': page},
      success: function(data) {
        if (data.has_next) {
          link.data('page', page+1);
        } else {
          link.hide();
        }
        $('.box').append(data.story_html);
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
}(jQuery));
</script>
{% endblock extrajs %}
