{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{story.title}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/article.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">НОВОСТИ ЧМ</div>
<section class="text">
  {% if story.story_tag %}<div class="tag">{{story.story_tag}}</div>{% endif %}
  <h1>{{story.title}}</h1>
  <p class="author"><span class="date">
    {% if story.story_author %}текст:</span> {{story.story_author}} {% endif %}
    <span class="date">| {{story.story_datetime|date:"d.m.Y"}} | {{story.story_datetime|date:"H:i"}}</span></p>
  <div class="preview">{{story.preview}}</div>
  {% if story.story_img %}<div class="main-img"><img src="{{story.story_img.url}}"></div>{% endif %}
  {% autoescape off %}{{story.story_content}}{% endautoescape %}
</section>
{% endblock content%}
