{% extends "base.html" %}
{% load staticfiles %}
{% block title %}视频 | {{block.super}}{% endblock title %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}

{%block content%}
<h1>视频</h1>
<section class="box">
  {% if online == '2' %}

  {% for video in videos %}
  {% if video.video_file %}
  <article class="news-block">
  	<div class="news-img">
  	{% if video.video_tag %}<span class="tag">{{video.video_tag_ch}}</span>{% endif %}
  	<a href="javascript:PopUpShow2()" id="vid{{video.id}}"><img class="announse" src="{% if video.video_img %}{{video.video_img.url}}{% endif %}"></a>
  	</div>
  <a href="javascript:PopUpShow2()" class="news-link"><h2 class="title">{{video.title_ch}}</h2></a>
  <p class="author"><span class="date">{{video.video_datetime|date:"d.m.Y"}} | {{video.video_datetime|date:"H:i"}}</span></p>
  </article>
  <script>
  $('#vid{{video.id}}').on('click', function() {
  $('.player source')[0].src= '{{video.video_file.url}}';
  $(".b-popup-content video")[0].load();
  });
  </script>
  {% endif %}
  {% endfor %}

  <div class="b-popup" id="popup2">
      <div class="b-popup-content">

  	<video poster="" id="videoContainer" class="player" playsinline controls>
      <source src="/media/videos/videoplayback.mp4" type="video/mp4">
  	</video>

      </div>
      <a href="javascript:PopUpHide2()" class="close-popup"><img src="{% static 'img/close.png' %}"></a>
  </div>

  {% endif %}

  {% if online == '1' %}

  {% for youtube in videos %}
    {% if youtube.youtube_url %}
    <article class="news-block">
    	<div class="news-img">
    	{% if youtube.video_tag %}<span class="tag">{{youtube.video_tag_ch}}</span>{% endif %}
    	<a href="javascript:PopUpShow()" id="vid{{youtube.id}}"><img class="announse" src="{% if youtube.video_img %}{{youtube.video_img.url}}{% endif %}"></a>
    	</div>
    <a href="javascript:PopUpShow()" class="news-link"><h2 class="title">{{youtube.title_ch}}</h2></a>
    <p class="author"><span class="date">{{youtube.video_datetime|date:"d.m.Y"}} | {{youtube.video_datetime|date:"H:i"}}</span></p>
    </article>
    <script>
    $('#vid{{youtube.id}}').on('click', function() {
    $('.plyr__video-wrapper iframe')[0].src= '{{youtube.youtube_url}}';
    $(".b-popup-content video")[0].load();
    });
    </script>
    {% else %}
    <article class="news-block">
    	<div class="news-img">
    	{% if youtube.video_tag %}<span class="tag">{{youtube.video_tag_ch}}</span>{% endif %}
    	<a href="javascript:PopUpShow2()" id="vid{{youtube.id}}"><img class="announse" src="{% if youtube.video_img %}{{youtube.video_img.url}}{% endif %}"></a>
    	</div>
    <a href="javascript:PopUpShow2()" class="news-link"><h2 class="title">{{youtube.title_ch}}</h2></a>
    <p class="author"><span class="date">{{youtube.video_datetime|date:"d.m.Y"}} | {{youtube.video_datetime|date:"H:i"}}</span></p>
    </article>
    <script>
    $('#vid{{youtube.id}}').on('click', function() {
    $('.player source')[0].src= '{{youtube.video_file.url}}';
    $(".b-popup-content video")[0].load();
    });
    </script>
    {% endif %}
  {% endfor %}

  <div class="b-popup" id="popup1">
      <div class="b-popup-content">

      	<div class="plyr__video-wrapper plyr__video-embed" style="padding-bottom: 56.25%;">
      		<iframe width="560" height="315" src=" " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      	</div>

      </div>
      <a href="javascript:PopUpHide()" class="close-popup"><img src="{% static 'img/close.png' %}"></a>
  </div>

  <div class="b-popup" id="popup2">
      <div class="b-popup-content">

        <video poster="" id="videoContainer" class="player" playsinline controls>
          <source src=" " type="video/mp4">
      	</video>

      </div>
      <a href="javascript:PopUpHide2()" class="close-popup"><img src="{% static 'img/close.png' %}"></a>
  </div>

  {% endif %}

</section>

{% endblock content%}
{% block extrajs %}
<script type="text/javascript">
$("#popup1").on('click', '.close-popup', function (e) {
  $("#popup1 iframe").attr("src", null);
});
$("#popup2 .close-popup").click(function() {
  $("#videoContainer")[0].pause();
  $("#popup2").hide();
  return false;
});
</script>
{% endblock extrajs %}
