section.text {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 15px;
}
.lokomotiv {                
display: none;
}
.city-tag, .tag {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 30px 5px 0 0;
    padding: 3px;
}

.city-tag {
    background: #e42313;
}

.tag {
    background: #000;
}

.wi-fi {
display:none;
}

.preview {
    font-size: 17px;
    margin: 15px 0 0px;
    display: block;
    font-weight: 600;
}

.text h1 {
    margin: 30px 0px 15px;
    text-transform: none;
    font-size: 29px;
}

.text h2,  .text h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0 30px;
    font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;
}

.text ul {
    padding-left: 15px;
}

.text li {
    margin: 15px 0;
}

.text li, .text p {
    font-size: 15px;
    line-height: 25px;
}

.text img {
    width: 100%;
    margin: 30px 0;
}

.hidden-categiry {
    display:none;
}


@media only screen and (max-width: 667px) {
span.date {
    color: #808080;
    display: inline;
}

 .lokomotiv.mobile {
display: none;
}

p.author {
    margin: 0px 0px;
    width: 100%;
}

.header-logo {
    display: none;
}

.top-banner-mobile {
    display: none;
}
.nav-toggle {
    margin: 20px 0 0 32px;
}

nav#nav_mobile {
    display: none;
}

#nav {
    position: absolute;
    margin-top: 0px;
    padding-top: 5px !important;
    top: 10px !important;
}

  ul.mobul.opened {
    margin-top: 35px !important;
}
header {
    height: 50px;
}

.text h1 {
    margin: 30px 0px 15px;
    text-transform: none;
    font-size: 29px;
    text-align: left !important;
    width: 100%;
    display: block;
}

.city-tag, .tag {
    display: block;
    margin: 15px 5px 0 0;
    width: fit-content;
      width: intrinsic; 
  width: -moz-max-content;
  width: -webkit-max-content; 
}

.city-tag {
    margin: 20px 5px 0 0;
}

.hidden-categiry {
    display: inline;
    font-size: 15px;
    position: absolute;
    text-align: center;
    width: 85%;
    right: 0;
    top: 17px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;
}

#nav:target > ul {
    margin-top: -15px;
    margin-left: 58px;
}

.main {
    margin: 15px auto 0;
}
}

@media only screen and (max-width: 375px)  {
ul.mobul.opened {
    margin-top: 35px !important;
    margin-left: 58px !important;
}
}