h1 {

font-size: 23px;

text-transform: uppercase;

font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;

margin: 30px 53px;
                         

}

.info {

margin: 0px 0px 50px 10px;

width: 69%;

-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;

}

.pdf {

width: 20%;

display: inline-flex;

float: right;

margin: 5px 10px;

}

.pdf a {
    font-size: 15px;
-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;
    color: #13171a;
}

.pdf a img {
    width: 45px;
    float: left;
    margin-right: 5px;
}

div#tabs {

font-size: 15px;

}

ul.tabs {

padding-left: 50px;

margin: 0;

margin-top: 30px;

}

li.tab { display: inline-block;

color: #fff;

font-weight: bold;

text-transform: uppercase;

font-size: 14px;

height: 37px;

margin-right: 0px;

}

li.tab a {

color: #fff;

padding: 10px;

background: #b2b2b2;

font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;

font-weight: normal;

}

li.tab a.active {

background: #c4161c;

}

.tabs-content {

font-size: 1rem;

max-width: 1124px;

margin: 30px auto 30px 35px;

}

.tabs-content img {

width: 100%;

}

.tabs-content .sbcont img {
    width: 100%;
    margin-bottom: 30px;
}


.tabs-content ul {

padding-left: 15px;

}

.tabs-content div#content1 li, .tabs-content div#content1 p, .tabs-content div#mcontent1 li, .tabs-content div#mcontent1 p {

font-size: 15px;

line-height: 25px;

}

h2, h3 {

font-size: 18px;

text-transform: uppercase;

font-weight: 700;

margin: 25px 0;

font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;

}

h2.title-tab {

font-size: 22px;

text-transform: uppercase;

margin: 0px 0 25px;

font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;

font-weight: normal;

color: #c4161c;

}

.line {

-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

display: flex;

display: -webkit-flex;

display: -ms-flex;

}

.info p {

font-size: 17px;

text-transform: uppercase;

font-weight: 700;

font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;

color: #000;

line-height: 1.4;

margin-left: 10px;

}

.line-icon {

width: 45px;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;

}

.info-icon {

width: 35px;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;

}

.line-icon img {

width: 30px !important;

height: 30px;

    margin-bottom: 0;

}

.info-icon img {

width: 25px !important;

height: 25px;

}

.sbcont .line-icon img { 
    margin-bottom: 0;
}


.sbcont .line p {
    margin: 10px;
    line-height: 1.4;
}

.line-icon img.small {
    height: 25px;
    margin-bottom: 0;
}

.line-flag {

width: 50px;

margin: 15px 15px 15px 0;

}

.tabs-content .sbcont .line-flag img {

width: 100%;

border-radius: 4px;

border: 1px solid #cccccc;

height: 33px;
    margin-bottom: 0px;

}

span.number-bold {

font-weight: bold;

color: #c4161c;

}




.tabs-content .info-icon p {

width: 50%;

-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

font-size: 17px;

margin: 8px 0;

}

p.red {

color: #c4161c;

}

div#map .map-bolel {

width: 100%;

display: block;

background: url('../img/map.svg') no-repeat -30px -264px;

background-size: 1300px;

height: 500px;

}

.map-ball {

position: absolute;

display: block;

}

.map-ball img {

width: 21px;

height: 21px;

display: inline-block;

position: absolute;

margin-top: 6px;

}

div#map .map-ball p {
font-size: 11px;

font-weight: normal;

color: #ffffff;

margin-bottom: 0px;

display: inline-block;

text-align: left;

font-family: 'Roboto-Regular', Helvetica, sans-serif;

background: #e44c43;

padding: 3px 5px 3px 9px;

line-height: 1;

margin-left: 15px;

width: fit-content;

width: intrinsic; /* Safari/WebKit uses a non-standard name */

width: -moz-max-content; /* Firefox/Gecko */

width: -webkit-max-content;

}

.map-ball.spb {

margin: 112px 0 30px 164px;

}

.map-ball.klg {

float: left;

margin: 91px 0 0 34px;

}

.map-ball.msk {

margin-left: 158px;

margin-top: 207px;

}

.map-ball.nov {

margin-left: 210px;

margin-top: 243px;

}

.map-ball.kaz {

margin-left: 246px;

margin-top: 279px;

}

.map-ball.sar {

margin-left: 186px;

margin-top: 292px;

}

.map-ball.ekb {

    margin-top: 314px;
    margin-left: 340px;

}


.map-ball.sam {

margin-left: 232px;

margin-top: 321px;

}

.map-ball.rnd {

margin: 330px 0 0 81px;

width: 120px;

}

.map-ball.vlg {

margin-left: 136px;

margin-top: 352px;

}

.map-ball.sochi {

margin-top: 375px;

margin-left: 40px;

}


p.comment {
    font-size: 13px;
    position: absolute;
    margin-top: 0;
    margin-left: 15px;
}

.map-ball-list {

display: none;

}

div#buy-ticket {

text-align: center;

}

a.outer-link .line {

-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

display: flex;

display: -webkit-flex;

display: -ms-flex;

max-width: 500px;

padding: 30px;

border-radius: 15px;

background: #e9e8e6;

margin: 20px auto;

box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);

}

a.outer-link .line p {

font-size: 19px;

text-transform: uppercase;

font-weight: 700;

font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;

color: #000;

line-height: 1.4;

text-align: left;

}

a.outer-link .line-icon img {

width: 50px !important;

height: 50px;

}

a.outer-link .line-icon {

width: 75px;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;

}

.main {

min-height: calc(110vh - 110px);

}

@media only screen and ( max-width: 667px ) {


h1 {
                   
margin: 0 auto 30px 53px;

}

li.tab {

font-size: 11px;

margin: 7px 3px;

text-align: center;

height: 18px;

}

ul.tabs {

padding-left: 0px;

margin: 0;

}

.tabs-content {

margin: 30px 15px;

}

ul.tabs {

padding-left: 0px;

margin-top: 10px;

text-align: center;

}

@media only screen and ( max-width: 480px ) {

p.comment {
    font-size: 12px;
    position: absolute;
    margin-top: -5px;
}

div#map .map-bolel {

width: 100%;

display: block;

background: url('../img/icons-bolel/map.svg') no-repeat -22px -191px;

background-size: 950px;

height: 350px;

}

div#map .map-ball p {

font-size: 9px;

font-weight: normal;

color: #ffffff;

margin-bottom: 0px;

display: inline-block;

text-align: left;

font-family: 'Roboto-Regular', Helvetica, sans-serif;

background: #e44c43;

padding: 3px 5px 3px 7px;

line-height: 1;

margin-left: 13px;

width: fit-content;

width: intrinsic;

width: -moz-max-content;

width: -webkit-max-content;

}

.map-ball img {

width: 19px;

height: 19px;

display: inline-block;

position: absolute;

margin-top: 6px;

}

.map-ball.klg {

float: left;

margin: 24px 0 0 8px;

}

.map-ball.spb {
margin: 39px 0 30px 101px;

width: 100px;

}

.map-ball.msk {

margin-left: 96px;

margin-top: 113px;

}

.map-ball.nov {

margin-left: 136px;

margin-top: 140px;

}

.map-ball.kaz {

margin-left: 162px;

margin-top: 162px;

}

.map-ball.sar {

margin-left: 118px;

margin-top: 178px;

}

.map-ball.ekb {

margin-top: 191px;

    margin-left: 233px;

}


.map-ball.rnd {

margin: 200px 0 0 34px;

width: 100px;

}

.map-ball.vlg {

margin-left: 82px;

margin-top: 218px;

}

.map-ball.sam {

margin-left: 151px;

margin-top: 207px;

}

.map-ball.sochi {

margin-top: 235px;

margin-left: 0px;

}

}

}

@media only screen and ( max-width: 359px ) {

li.tab {

font-size: 10px;

}

ul.tabs {

padding-left: 0px;

margin-top: 10px;

text-align: center;

}

}

.sub-tabs {

max-width: 1124px;

padding: 0px;

margin: 0 auto;

position: relative;

border: none;

}

.sbcont {

display: none;

padding: 15px;

background: transparent;

position: absolute;

top: 0;

left: 29%;

max-height: calc(100vh - 360px);

overflow: scroll;

overflow-x: hidden;

padding-top: 0;

}

.sbcont::-webkit-scrollbar { width: 0; }

.sbcont { -ms-overflow-style: none; }

.sbcont { overflow: -moz-scrollbars-none; }

p {

margin: 0;

}

input {

display: none;

}

label {

display: block;

width: 25%;

padding: 5px;

font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;

cursor: pointer;

font-size: 13px;

text-transform: uppercase;

line-height: 1.3;

margin: 10px;

margin-right: 0px;

}

input:checked + label {

color:#fff;

background: #3874a9;

}

input + label:hover {

color: #3874a9;

}

input:checked + label:hover {

color: #fff;

}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9, #tab10:checked ~ #content10, #tab11:checked ~ #content11 {

display: block;

}

.sbcont {

animation: scale 0.7s ease-in-out;

}

@keyframes scale {

0% {

transform: scale(0.9);

opacity: 0;

}

50% {

transform: scale(1.005);

opacity: 0.5;

}

100% {

transform: scale(1);

opacity: 1;

}

}

.back_menu {

display: none;

}

.mob-sub-tabs {

display: none;

}

@media only screen and ( max-width: 870px ) {

.sbcont {

max-height: calc(100vh - 330px);

}

.info p {

font-size: 15px;

}

.pdf {

width: 25%;

}

}

@media only screen and ( max-width: 667px ) {

.sub-tabs {

display: none;

}

.mob-sub-tabs {

display: block;

}


    .pdf a {
    font-size: 13px;
}

.pdf a img {
    width: 30px;
}



input:checked + label {

color: #000;

background: transparent;

}

label {

width: 97%;

}

#mtab1:checked ~ #mcontent1, #mtab2:checked ~ #mcontent2, #mtab3:checked ~ #mcontent3, #mtab4:checked ~ #mcontent4,

#mtab5:checked ~ #mcontent5, #mtab6:checked ~ #mcontent6, #mtab7:checked ~ #mcontent7,

#mtab8:checked ~ #mcontent8, #mtab9:checked ~ #mcontent9, #mtab10:checked ~ #mcontent10, #mtab11:checked ~ #mcontent11 {

display: none;

}

.sbcont {
    max-height: calc(100vh - 30px);
    width: calc(100% - 30px);
    left: 0;
    min-height: 500px;
    position: relative;
}

.back_menu {

position: fixed;

top: 273px;    
    left: 0;
width: 27px;

background: rgba(56, 116, 169, 0.7);

padding: 12px;

border-radius: 0 15px 15px 0;

cursor: pointer;

z-index: 1000;

}

.back_menu img {

width: 100%;

margin-left: -4px;

}  

li.tab {

font-size: 11px;

margin: 7px 0px;

text-align: center;

height: 22px;

}

ul.tabs {

padding-left: 0px;

margin: 10px;

text-align: left;

margin-top: 30px;

}

.info {

width: 60%;

margin: 0 10px 10px;

}

.info p {

font-size: 11px;

}

.pdf {

width: 28%;

margin: 18px 15px 0 0;

}

.tabs-content {

margin: 15px 15px;

}

}

@media only screen and ( max-width: 414px ) {



li.tab {

font-size: 9px;

}

.pdf {

width: 60%;

margin: 5px 0 10px 10px;

display: block;

float: none;

}

.info {

width: 100%;

margin: 0 10px 10px;

}

.back_menu {

top: 370px;   
    left: 0;

}

}