.main {
    background: url('../img/Map_Russia.svg') no-repeat -100px -172px;
    background-size: 1650px;
}

section.box {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

section.box:first-child {
    width: 512px;
    display: inline-block;
    vertical-align: top;
}

article {
    display: inline-block;
    font-size: 1rem;
    width: calc(50% - 31px);
    padding: 15px;
    margin: 0;
    border-right: 1px solid #cccccc;
    vertical-align: top;
    padding-top: 0;
    min-height: 210px;
}

article:nth-of-type(odd) {
    border: none;
}


article:first-child {
    float: left;
    width: calc(100% - 30px);
    border: none;
}

article:nth-of-type(2), article:nth-of-type(4) {
    border-left: none;
}

.marker-box {
    width: 100%;
    display: block;
}


.marker {
    background: url('../img/ball.svg') no-repeat top center;
    width: 100px;
    height: 40px;
    background-size: 25px;
    display: inline-block;
}

.marker p {
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    margin-top: 27px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    font-family: 'Gotham SPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

.marker.spb {
    width: 120px;
    display: block;
    margin: 42px 0 30px 127px;
    text-align: center;
}

.marker.klg {
    display: block;
    float: left;
    margin: 36px 0 0 0px;
    text-align: center;
}

.marker.msk {
    display: block;
    margin-left: 126px;
    margin-top: 49px;
    text-align: center;
}

.marker.nov {
    display: block;
    margin-left: 167px;
    margin-top: -1px;
    text-align: center;
}

.marker.kaz {
    display: block;
    text-align: center;
    margin-left: 236px;
    margin-top: -13px;
}

.marker.sar {
    display: block;
    text-align: center;
    margin-left: 150px;
    margin-top: -20px;
}

.marker.ekb {
    margin-top: -21px;
    margin-left: 366px;
    text-align: center;
}

.marker.sam {
    display: block;
    margin-left: 201px;
    text-align: center;
    margin-top: -36px;
}

.marker.rnd {
    margin: -29px 0 0 30px;
    display: block;
    width: 120px;
    text-align: center;
}

.marker.vlg {
    display: block;
    margin-left: 119px;
    margin-top: -21px;
    text-align: center;
}

.marker.sochi {
    text-align: center;
    margin-left: 10px;
}

.marker-list {
    display: none;
}

.city-name {
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 0 50px 30px;
    color: #fff;
    font-weight: bold;
}


.city-name span {
    background: #c4161c;
    padding: 10px;
}

.pdf {
    width: 50%;
    display: flex;
    margin: 70px 41px 0;
}

.pdf a {
    font-size: 15px;
-webkit-align-items: center;

-webkit-box-align: center;

-ms-flex-align: center;

align-items: center;

display: inline-flex;

display: -webkit-inline-flex;

display: -ms-inline-flex;
    color: #13171a;
}

.pdf a img {
    width: 45px;
    float: left;
    margin-right: 5px;
}

 @media only screen and ( max-width: 902px ) {
article {
    display: inline-block;
    font-size: 1rem;
    width: calc(100% - 30px);
    padding: 15px;
    margin: 0;
    border-right: none;
    vertical-align: top;
    padding-top: 0;
}

img.announse {
    width: 100%;
    max-height: 216px;
}

.marker-box {
    display: none;
}


.marker-list {
    display: block;
    font-size: 18px;
}

.marker-list li {
    list-style: none;
    background: url('../img/ball.svg') no-repeat 0 0px;
    background-size: 19px;
    padding-left: 26px;
    margin: 15px 0;
}

.marker-list li a {
    font-weight: normal;
    color: #484848;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

}

 @media only screen and ( max-width: 667px ) {
    section.box {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.marker-list {
    display: block;
    font-size: 18px;
    width: 67%;
    margin: 20px auto;
}
article {
    border-top: 1px solid #cccccc  !important; 
    min-height: 10px;

}
  img.announse {
    margin-top: 10px;
}

.pdf {
    width: 100%;
    display: flex;
    margin: 50px auto 30px;
    text-align: center;
}

.pdf a {
    font-size: 15px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    color: #13171a;
    text-align: center;
    margin: 0 auto;
}

}

 @media only screen and ( max-width: 359px ) {
.city-name {
    font-size: 18px;
}
 }