article:nth-of-type(2) h2.title {
    font-size: 23px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 10px 0;
}

article:nth-of-type(2) {
    float: left;
    width: calc(50% - 31px);
        border: none;
}

article:nth-of-type(2) img.announse {
    width: 100%;
    max-height: none;
}


article:nth-of-type(2) .preview{
    display: block;
    font-size: 13px;
    margin: 10px 0;
}

article:first-child h2.title-rozanov {
    font-size: 20px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
}

article:first-child p.obozrev{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
}


article:first-child {
    float: left;
        width: calc(25% - 30px);
        border: none;
}

article:first-child img {
    width: 90%;
    max-height: none;
    border-radius: 50%;
    border: 3px solid #fff;
}

div.razanov-img {
    display: inline-block;
    position: relative;
    text-align: center;
}


article:first-child h2.title-rozanov-mobile {
    display: none;
    }

article:first-child p.obozrev-mobile {
    display: none;
}

article:first-child .slogan {
    display: block;
    font-size: 27px;
    margin: 30px 0;
    background: url('../img/kav.png') no-repeat center;
    background-size: contain;
    text-align: center;
    height: 85px;
    font-weight: 200;
    font-family: 'GothamSPN XLight', 'Roboto-Regular', Helvetica, sans-serif;
        width: 100%;
}

article:nth-of-type(3), article:nth-of-type(4) {
    min-height: 230px;
}

article:nth-of-type(3), article:nth-of-type(4) {
/* border-left: 1px solid #cccccc;*/
}


 @media only screen and ( max-width: 933px ) {
article:first-child .slogan {
    font-size: 25px;
}
}

 @media only screen and ( min-width: 668px ) and ( max-width: 902px ) {

article {
    width: calc(33.3% - 31px);
    min-height: 235px;
}

article:first-child {
    width: calc(33.3% - 31px);
}

article:nth-of-type(2) {
    width: calc(66.6% - 31px);
   /* border-right: 1px solid #cccccc;*/
}

article:nth-of-type(4) {
        border-left: none;
}

article:nth-of-type(3), article:nth-of-type(4) {
    border-left: none;
}

article:nth-of-type(3), article:nth-of-type(4) {
    min-height: 206px;
}

a.guade-banner {
    width: 53%;
    margin-top: 26px;
}

.poputchik {
    height: 86px;
    width: 222px;
}

.footer-logo {
    height: 86px;
    width: 136px;
    margin: 10px 30px;
}

.header-logo {
    height: 115px;
    width: 190px;
}

header {
    height: 180px;
}

}


@media only screen and ( max-width: 667px ) {

article {
    width: calc(100% - 30px);
    border-top: 1px solid #cccccc;
    border-right: none;
    padding: 15px;
    min-height: 120px;
}

article:nth-of-type(3), article:nth-of-type(4) {
    min-height: 120px;
}

article:nth-of-type(2) {
    width: calc(100% - 30px);
    float:none;
}

article:nth-of-type(2) .preview{
    font-size: 15px;
}

article:nth-of-type(2) p.author {
    font-size: 14px;
}

article:nth-of-type(3), article:nth-of-type(4) {
    border-left: none;
}

div.news-img {
    display: inline-block;
    position: relative;
    width: 40%;
    float: left;
    min-height: 100px;
}

div.news-img .tag {
    display:none;
}

article:nth-of-type(2) div.news-img .tag {
    display:inline;
}

article:nth-of-type(2) div.news-img {
    float:none;
    width: 100%;
}

article:nth-of-type(2) h2.title {
    font-size: 18px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}

article:nth-of-type(2) span.date {
    color: #808080;
    display: inline;
}

article:nth-of-type(2) p.author {
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 13px;
    color: #c4161c;
    margin: 0px 0px;
    display: inline-block;
    width: 100%;
}

article:nth-of-type(2) span.tag-mobile {
    display: none;
}

div.razanov-img {
    display: inline-block;
    position: relative;
    text-align: center;
    float: left;
    border-radius: 15px;
    background: #cccccc;
    padding: 15px 10px;
    max-width: 33%;
}

article:first-child {
	float: left;
    width: calc(100% - 30px);
    border: none;
    border-radius: 15px;
    background: #e0e0e0;
    padding: 0;
	margin: 5px 15px;
}

article:first-child h2.title-rozanov {
    display: none;
}

article:first-child h2.title-rozanov-mobile {
    font-size: 12px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase; 
     display: block;
    }

 article:first-child p.obozrev {
    display: none;
}

article:first-child p.obozrev-mobile {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 8px;    
    display: block;
}

article:first-child .slogan {
    display: inline-block;
    height: 88px;
    width: 60%;
    font-size: 23px;
}

article:first-child img {
    width: 70%;
}
}

@media only screen and ( max-width: 359px ) {
    div.razanov-img {
    max-width: 32%;
}

article:first-child .slogan {
    font-size: 20px;
}

div.news-img {
    min-height: 0px;
}
    }
