div#tabs {
    font-size: 15px;
}

ul.tabs {
    padding-left: 50px;
    margin: 0;
}

li.tab {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

li.tab a {
    color: #fff;
    padding: 7px;
    background: #b2b2b2;                                                 
font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;
    }

li.tab a.active {
    background: #c4161c;
    }

    .tabs-content {
    margin-top: 30px;
}

h3.match-date {
    font-size: 23px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: -10px;
}


.match-block {
    display: table;
    width: calc(100% - 90px);
    background: #e9e8e6;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
    margin: 15px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

.match-place {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}

.match-place p {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
}

p.level {
    text-transform: uppercase;
    font-weight: bold;
}

.match-place hr {
    display: none;
}

.first-country {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
}

.first-country .score {
    float: right;
}

.first-country .flag {
float: left;
}

.match-time {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 23px;
    font-family: 'Gotham A Cyr', 'Roboto-Regular', Helvetica, sans-serif;
}

.second-country {
    display: table-cell;
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

.second-country .score {
    float: left;
}

.second-country .flag {
float: right;
}


.match-block .flag {
    width: 60px;
    display: inline-block;
    margin-top: 7px;
}

.match-block .flag img {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #cccccc;
    height: 39px;
}

.match-block .score {
    display: inline-block;
    font-size: 55px;
}

.match-block .county {
display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    font-size: 22px;
    margin: 0 10px;
    height: 54px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    max-width: 49%;
}

.county-mobile {
    display: none;
}

.match-block.chetvertaya {
    background: #e6ebf4;
}

.match-block.polufinal {
    background: #f9e3d9;
}

.match-block.tretie {
    background: #2c73a7;
    color: #fff;
}

.match-block.final {
    background: #c4161c;
    color: #fff;
}

.competitive-img {
    width: 100%;
}

.competitive-img img {
    width: 100%;
}

.table-block {
    width: calc(100% - 60px);
    background: #e9e8e6;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
    margin: 15px;
}

table.turnir-table {
    width: 100%;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    border-collapse: collapse;
}

table.turnir-table th {
    font-size: 13px;
    font-weight: normal;
    color: #808080;
    padding: 5px;
}

table.turnir-table td {
    border-top: 1px solid #cccccc;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    min-width: 27px;
}

table.turnir-table td.country-name {
    text-align: left;
    width: 33%;
}


table.turnir-table th.groupe {
    text-align: left;
    color: #c4161c;
    font-weight: normal;
    font-size: 22px;
    padding-left: 20px;
}

td.country-flag {
    width: 60px;
}

td.country-flag img {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #cccccc;
    height:39px;
}


 @media only screen and ( max-width: 902px ) {

    .match-block .score {
        font-size: 45px;
    }
.match-block .county, .match-time {
    font-size: 20px;
}

.match-block .county {
    max-width: 44%;
}
}

 @media only screen and ( max-width: 768px ) {

p.arena, p.city {
    display: inline-block;
}
.match-block, .match-place {
    display: block;
}

.match-place {
    text-align: center;
    width: 100%;
}

p.arena::after {
    content: ",";
}

.match-place hr {
    display: block;
}

.first-country, .second-country {
    display: inline-block;
    width: 37%;
    text-align: center;
}

.match-time {
    display: inline-block;
    width: 20%;
}

.match-block .flag {
    text-align: center;
    width: 65%;
}

.match-block .flag img {
    width: 60px;
}

.match-block .county {
display: none;
}

.county-mobile {
    display: block;
}

.match-block .score {
margin-top: 0px;
    line-height: 76px;
}
.match-time {
    font-size: 17px;
}

.match-block {
    width: calc(100% - 60px);
    padding: 15px;
}
}

 @media only screen and ( max-width: 667px ) {

li.tab {
    font-size: 13px;
    display: inline-block;
    margin: 9px 2px;
    text-align: center;
    }

    ul.tabs {
    padding-left: 0px;
    margin: 0; 
    text-align: center;

}

h3.match-date {
    padding-left: 0px;
    text-align: center;
margin-top: 35px;
}

.competitive-img {
    display: none;
}

table.turnir-table td {
    font-size: 15px;
    min-width: 17px;
}

table.turnir-table th.groupe {
    font-size: 18px;
    padding-left: 5px;
}
}

 @media only screen and ( max-width: 414px ) {

table.turnir-table td {
    font-size: 11px;
    min-width: 6px;
}

table.turnir-table th.groupe {
    font-size: 13px;
    padding-left: 5px;
}

table.turnir-table th {
    font-size: 10px;
}
    td.country-flag img {
    height: auto;
}
}


 @media only screen and ( max-width: 359px ) {

    td.country-flag img {
    height: 23px;
}

table.turnir-table td {
    font-size: 9px;
    min-width: 4px;
}
table.turnir-table th.groupe {
    font-size: 11px;
    padding-left: 5px;
}

table.turnir-table th {
    font-size: 7px;
}

.county-mobile {
    font-size: 11px;
}
}

span.penalti-big {
    font-size: 14px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    width: 120px;
    margin-top: 5px;
}


.second-country .flag span.penalti-big {
    text-align: right;
    margin-left: -120px;
}

span.penalti-mobile {
display: none;
}

@media only screen and (max-width: 768px) {

span.penalti-big {
display: none;
}

span.penalti-mobile {
display: inline-block;
}

span.penalti-mobile.right {
font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 67px;
}

span.penalti-mobile.left {
    font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    left: 0;
    margin-left: 75px;
    margin-top: 67px;
}

}


@media only screen and (max-width: 630px) {

span.penalti-mobile.right {
font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    right: 0;
    margin-right: 77px;
    margin-top: 67px;
}

span.penalti-mobile.left {
    font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    left: 0;
    margin-left: 57px;
    margin-top: 67px;
}

}

@media only screen and (max-width: 530px) {

span.penalti-mobile.right {
font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    right: 0;
    margin-right: 56px;
    margin-top: 67px;
}

span.penalti-mobile.left {
    font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    left: 0;
    margin-left: 41px;
    margin-top: 67px;
}

}

@media only screen and (max-width: 414px) {

span.penalti-mobile.left {
    font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    width: auto;
    left: 0;
    margin-left: 30px;
    margin-top: 67px;
}

span.penalti-mobile.right {
    font-size: 11px;
    color: #808080;
    font-family: 'Cera Pro', 'Roboto-Regular', Helvetica, sans-serif;
    position: absolute;
    width: auto;
    right: 0;
    margin-right: 35px;
    margin-top: 67px;
}

}