

@font-face {
    font-family: 'Gotham A Cyr';
    src: url('../fonts/GothamACyr-Bold.eot');
    src: url('../fonts/GothamACyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamACyr-Bold.woff2') format('woff2'),
        url('../fonts/GothamACyr-Bold.woff') format('woff'),
        url('../fonts/GothamACyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSPN-Medium';
    src: url('../fonts/GothamSPN-Medium.eot');
    src: url('../fonts/GothamSPN-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamSPN-Medium.woff2') format('woff2'),
        url('../fonts/GothamSPN-Medium.woff') format('woff'),
        url('../fonts/GothamSPN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham A Cyr';
    src: url('../fonts/GothamACyr-Regular.eot');
    src: url('../fonts/GothamACyr-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamACyr-Regular.woff2') format('woff2'),
        url('../fonts/GothamACyr-Regular.woff') format('woff'),
        url('../fonts/GothamACyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSPN XLight';
    src: url('../fonts/GothamSPNXLight.eot');
    src: url('../fonts/GothamSPNXLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamSPNXLight.woff2') format('woff2'),
        url('../fonts/GothamSPNXLight.woff') format('woff'),
        url('../fonts/GothamSPNXLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSPN-Bold';
    src: url('../fonts/GothamSPN-Bold.eot');
    src: url('../fonts/GothamSPN-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamSPN-Bold.woff2') format('woff2'),
        url('../fonts/GothamSPN-Bold.woff') format('woff'),
        url('../fonts/GothamSPN-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



body {
    font-family: 'Gotham A Cyr', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 0;
    background: #f2f1f1;
}

ul ul, ol ul {
    list-style-type: none;
}

header {
    font-size: 1rem;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
}

header p {
    margin: 0;
}

.lokomotiv.mobile {
display: none;
}

.header-logo {
    display: inline-block;
    float: left;
    height: 130px;
    background: url('../img/logo_rus.png') no-repeat center;
        background-size: contain;
    width: 215px;
    margin: 15px 50px 0px;
}

.header-logo.eng {
    background: url('../img/logo_eng.png') no-repeat center;
    background-size: contain;
}

a.guade-banner {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 65%;
    max-height: 135px;
}

a.guade-banner img {
    width: 100%;
}

a.guade-banner-mobile {
    display: none;
}

img.flag {
    width: 19px;
    margin: -2px 3px 2px 0;
    float: left;
    border-radius: 2px;
}

.main {
  width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    padding-bottom: 60px;
    min-height: calc(100vh - 110px);
}

.header-content, .footer-content {
  width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

h1 {
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 30px 50px;
}

a.news-link {
    color: #000;
}

a.news-link:hover, a.news-link:active {
color:#e42313;
}

h2.title {
    font-size: 14px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 10px 0;
    font-weight: normal;
}

article:first-child h2.title {
    font-size: 23px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 10px 0;
}

a{text-decoration:none; outline: none; }

article {
    display: inline-block;
    font-size: 1rem;
    width: calc(25% - 31px);
    padding: 15px;
    margin: 0;
    /* border-right: 1px solid #cccccc; */
    vertical-align: top;
    padding-top: 0;
    min-height: 243px;
}

article:first-child {
    float: left;
    width: calc(50% - 31px);
        border: none;
}

/* article:nth-of-type(2), article:nth-of-type(4) {border-left: 1px solid #cccccc;} */

div.news-img {
    display: inline-block;
    position: relative;
}

img.announse {
    width: 100%;
    max-height: 150px;
}

article:first-child img.announse {
    width: 100%;
    max-height: none;
}

span.tag {
    position: absolute;
    color: #fff;
    background: #000;
    padding: 4px 7px;
    font-size: 12px;
    bottom: 3px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

.preview{
    display: none;
}

article:first-child .preview{
    display: block;
    font-size: 13px;
    margin: 10px 0;
}

p.author {
  font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 12px;
    color: #c4161c;
    margin: 10px 0;
}

span.date {
    color: #808080;
     font-size: 11px;
}

span.tag-mobile {
    display: none;    }


footer {
    font-size: 1rem;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    color: #000;
    background: #d9d9d9;
        -webkit-box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.2);
box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.2);
text-align: center;
}

footer a {
    color: #000;
}

.copyright {
    padding-top: 30px;
    font-size: 13px;
    display: inline-block;
}

.photo-comment {        margin-top: -25px;
    color: #808080;
    margin-bottom: 30px;
}


.footer-logo {
    display: inline-block;
    float: left;
    height: 90px;
    background: url('../img/logo_rus.png') no-repeat center;
    background-size: contain;
    width: 182px;
    margin: 10px 60px;
}

.footer-logo.eng {
    background: url('../img/logo_eng.png') no-repeat center;
    background-size: contain;
}

.poputchik {
    display: inline-block;
    height: 90px;
    background: url('../img/Puputchik_Logo_RU_black.svg') no-repeat center;
    background-size: contain;
    width: 260px;
    margin: 10px 35px;
    float: right;
}

.poputchik.eng {
    background: url('../img/Puputchik_Logo_EN_black.svg') no-repeat center;
}

div#popup1, div#popup2 {
    display: none;
}

.b-popup{
width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0;
}
.b-popup .b-popup-content{
margin: 40px auto 0px auto;
    width: 65%;
    height: auto;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0px 0px 10px #000;
    font-size: 30px;
}

a.close-popup {
    position: absolute;
    top: 5px;
    right: 15px;
}

.b-popup-content .descript {
    font-size: 17px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

.b-popup-content .descript a {
    color: #c4161c;
}

#nav_mobile {
    display: none;
}

button.nav-toggle {
    display: none;
}

#nav {
    width: 100%;
    position: relative;
    display: inline-block;
}
#nav > a {
    display: none;
}
#nav li {
    position: relative;
}
#nav li a {
    display: block;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

#nav li a:hover, #nav li a:active {
color:#e42313;
}

#nav li a.active {
color:#e42313;
}

#nav > ul > li:last-child span:after {
    width: 10px;
    height: 10px;
    background: url('../img/ico2.png') no-repeat 0 -2px;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
    background-size: cover;
}

#nav > ul > li.lokomotiv {
    display: none;
}

#nav > ul > li.logo_menu {
    display: none;
}

/* first level */


#nav > ul {
    padding: 0;
    height: 39px;
    margin-bottom: 11px;
}

#nav > ul > li {
    height: 100%;
    display: inline-block;
    list-style: none;
    background: url('../img/ico.png') no-repeat 0 7px;
    background-size: 11px;
    padding: 12px 9px;
    padding-left: 20px;
}

#nav > ul > li:first-child {
    background: none;
    padding-left: 50px;
}

#nav > ul > li:last-child {
    background: none;
    padding-left: 20px;
}

#nav > ul > li:last-child {
float:right;
}

#nav > ul > li > a {
    height: 100%;
    text-align: center;
}

/* second level */
#nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin-left: 20px;
    margin-top: -20px;
}
#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}
#nav li:not( :first-child ):hover ul {
    left: -1px;
}

#nav li ul li a {
    background-color: rgba(0,0,0,0.7);
    display: block;
    margin: 2px 0;
    border-radius: 3px;
    width: fit-content;
    color:#fff;
    z-index: 1000;
    list-style: none;
    padding: 0.75em;
    border: 1px solid #ccc;
}

#nav li.nav-raspisanie ul {
    margin: 0;
    background: #c4161c;
    width: 170px;
    margin-top: -24px;
    margin-left: -10px;
    z-index: 10;
}

#nav li.nav-bolelshik ul {
    margin: 0;
    background: #c4161c;
    width: 220px;
    margin-top: -24px;
    margin-left: -30px;
    z-index: 10;
}

#nav li.nav-raspisanie ul::after {
    content: '';
    position: absolute;
    right: 38%;
    top: -27px;
    border: 15px solid transparent;
    border-bottom: 15px solid #c4161c;
}

 #nav li.nav-bolelshik ul::after {
    content: '';
    position: absolute;
    right: 42%;
    top: -27px;
    border: 15px solid transparent;
    border-bottom: 15px solid #c4161c;
}

#nav li.nav-raspisanie ul li a {
    background-color: transparent;
    display: block;
    margin: 10px 0 0;
    border-radius: 0;
    width: fit-content;
    color: #fff;
    z-index: 1000;
    list-style: none;
    padding: 0 5px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    width: calc(100% - 10px);
}

#nav li.nav-bolelshik ul li a {
    background-color: transparent;
    display: block;
    margin: 8px 0 0;
    border-radius: 0;
    width: fit-content;
    color: #fff;
    z-index: 1000;
    list-style: none;
    padding: 0 6px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    width: calc(100% - 12px);
}

#nav li.nav-raspisanie ul li:last-child a, #nav li.nav-bolelshik ul li:last-child a {
margin-bottom: 8px;
}

#nav li.nav-raspisanie ul li a:hover, #nav li.nav-bolelshik ul li a:hover {
text-decoration: underline;
}

 @media only screen and ( min-width: 903px ) and ( max-width: 1111px )  {
#nav {
    width: 100%;
    position: static;
    margin: 0;
}

#nav > ul > li {
    background-size: 11px;
    padding: 10px 7px;
    padding-left: 18px;
}

article {
    min-height: 230px;
}


#nav > ul > li {
    background: url('../img/ico.png') no-repeat 0 4px;
    background-size: 8px;
    padding: 4px;
    padding-left: 13px;
}

#nav > ul > li:last-child {
    background: none;
    padding-left: 13px;
}

#nav > ul > li:first-child {
        background: none;
    padding-left: 50px;
}

#nav > ul {
    margin-top: 20px;
}

#nav li.nav-raspisanie ul, #nav li.nav-bolelshik ul {
    margin-top: -14px;
}

}



 @media only screen and ( max-width: 983px ) {
a.guade-banner {
    width: 62%;
    margin-top: 20px;
}

#nav li a {
    font-size: 9px;
    }

}


 @media only screen and ( min-width: 668px ) and ( max-width: 902px ) {

article {
    width: calc(33.3% - 31px);
    min-height: 235px;
}

article:first-child {
    width: calc(66.6% - 31px);
}

article:nth-of-type(4) {
        border-left: none;
}

/* article:nth-of-type(2), article:nth-of-type(3) {
    border-left: 1px solid #cccccc;
} */

a.guade-banner {
    width: 53%;
    margin-top: 26px;
}

.poputchik {
    height: 86px;
    width: 222px;
}

.footer-logo {
    height: 86px;
    width: 136px;
    margin: 10px 30px;
}

.header-logo {
    height: 115px;
    width: 190px;
}

header {
    height: 180px;
}

}


.lokomotiv {
    text-align: center;
    margin: 30px auto 0;
}

.lokomotiv img.big {
    width: 100%;           
max-width: 658px;
}

.lokomotiv img.medium {
display: none;
}


.lokomotiv img.small {
display: none;
}

    .lokomotiv img.big-mobile {
display: none;
}



/* ÃÂ¡Ã‘â€šÃÂ¸ÃÂ»Ã‘Å’ ÃÂ²Ã‘â€¹ÃÂ¿ÃÂ°ÃÂ´ÃÂ°Ã‘Å½Ã‘â€°ÃÂµÃÂ³ÃÂ¾ ÃÂ¼ÃÂµÃÂ½Ã‘Å½ ÃÂ² ÃÂ°ÃÂ´ÃÂ°ÃÂ¿Ã‘â€šÃÂ¸ÃÂ²ÃÂµ */

 @media only screen and ( max-width: 902px ) {
html {
    font-size: 75%; /* 12 */
}
#nav {
    width: 90%;
}
#nav > a {
    width: 50px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

#nav > ul {
    height: auto;
}

.lokomotiv {
    margin: 30px auto 0;
}

#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
    display: block;
}
/* first level */

ul.mobul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}

ul.mobul.opened {
    display: block;
    width: 80%;
    margin: 0 auto;
    background: #e42313;
    z-index: 1000;
    margin-top: 40px;
}

#nav > ul > li {
    width: calc(100% - 20px);
    float: none;
}

#nav > ul > li {
    height: 100%;
    display: inline-block;
    list-style: none;
    background: url('../img/divider_white.png') no-repeat 50% 36px;
    background-size: 30px;
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

#nav > ul > li.lokomotiv {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

#nav > ul > li.lokomotiv a {
    width: 98%;
    margin: 0;
    background: #1d9c42;
    border: 1px solid #fff;
    border-bottom: 1px solid !important;
    border-right: 1px solid !important;
}

#nav > ul > li.lokomotiv a p {
    color:#000;
}

#nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em; /* 20 (24) */
}

#nav > ul > li:first-child {
    background: url('../img/divider_white.png') no-repeat 50% 36px;
    padding-left: 10px;
    background-size: 30px;
}


#nav > ul > li:not( :last-child ) > a {
    border-right: none;
    border-bottom: none;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 4px;
}
/* second level */

#nav li.nav-raspisanie ul, #nav li.nav-bolelshik ul {
    display: none;
}

                #nav li ul {
    position: static;
    padding: 1.25em; /* 20 */
    padding-top: 0;
}

#nav > ul > li:last-child {
    display: none;
}

#nav > ul > li.logo_menu {
    display: block;
    background: none;
}

#nav > ul > li.logo_menu a img {
    max-height: 80px;
}



button.nav-toggle  {
    position: absolute;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 10px 0 0 32px;
    transform: translate(-50%, -50%);
    display: block;
    cursor: pointer;
    left: 0;

}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #000;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 8px;
    height: 2px;
    width: 35px;
    margin-bottom: 8px;

  /*
   * Practical values:
   * border-radius: 2px;
   * height: 2px;
   * width: 25px;
   * margin-bottom: 4px;
  */
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 5% 15%;
          transform-origin: 5% 15%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 17% 95%;
    transform-origin: 17% 95%;

}


#nav_mobile {display: block;display: block;display: block;width: 30px;float: right;margin-right: 10px;}

#nav_mobile li ul li a {
    background-color: rgba(0,0,0,0.7);
    display: block;
    margin: 2px 0;
    border-radius: 3px;
    width: fit-content;
    color:#fff;
    z-index: 1000;
    list-style: none;
    padding: 0.75em;
}

#nav_mobile li ul {
    display: none;
    position: absolute;
    padding: 0;
 margin-left: -30px;
    z-index: 1000;
    margin-right: 10px;
}

#nav_mobile li:hover ul {
    display: block;

}


#nav_mobile ul{
    padding-left: 0;
    list-style-type: none;
}

#nav_mobile > ul > li > a {
    height: 100%;
    text-align: center;
}

#nav_mobile li a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

#nav_mobile li a:hover {
color:#e42313;
}

#nav_mobile > ul > li span:after {
    width: 10px;
    height: 10px;
    background: url('../img/ico2.png') no-repeat 0 -2px;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: 0;
    background-size: cover;
}

#nav > ul > li.logo_menu img {
        max-height: 100px;
}

}


 @media only screen and ( max-width: 667px ) {
ul.mobul.opened {
    display: block;
    width: 80%;
    margin-left: 60px;
    background: #e42313;
    z-index: 1000;
    margin-top: -30px;
}

.lokomotiv.mobile {
display: block;
}

.nav-toggle {
    margin: 20px 0 0 32px;
}
article {
    width: calc(100% - 30px);
    border-top: 1px solid #cccccc;
    border-right: none;
    padding: 15px;
}

article:first-child {
    width: calc(100% - 30px);
    float:none;
}

article:first-child .preview{
    font-size: 15px;
}

article:first-child p.author {
    font-size: 14px;
}

article:nth-of-type(2), article:nth-of-type(4) {
    border-left: none;
}

article {
    min-height: 100px;
}

div.news-img {
    display: inline-block;
    position: relative;
    width: 40%;
    float: left;
    min-height: 100px;
}

div.news-img .tag {
    display:none;
}

article:first-child div.news-img .tag {
    display:inline;
}


article:first-child div.news-img {
    float:none;
    width: 100%;
}

.header-logo {
    height: 90px;
    width: 100%;
    margin: 15px auto;
    background-size: 150px;
}

a.guade-banner-mobile {
    display: block;
    margin: 0 auto;
    width: 95%;
    text-align: center;
}
.top-banner-mobile {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

a.guade-banner-mobile img {
    width: 100%;
    max-height: 63px;
    max-width: 368px;
}

a.guade-banner {
display: none;
}


header {
    height: 195px;
}



#nav {
    position: absolute;
    margin-top: 0px;
    padding-top: 40px;
    left: 0;
    top: 291px;
}

#nav_mobile {
    margin-top: 21px;
}

img.flag {
    width: 27px;
    margin: -2px 3px 2px 0;
}

#nav_mobile li ul {
    margin-left: -30px;
margin-right: 10px;
}

.main {                 
 margin: 135px auto 0;
}


ul.mobul.opened {
    display: block;
    width: 80%;
    margin-left: 60px;
    background: #e42313;
    z-index: 1000;
    margin-top: -136px;
}


.poputchik {
    height: 83px;
    width: 100%;
    float: none;
    margin: 0 auto;
    background-size: 217px;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
}

.poputchik.eng {
    height: 83px;
    width: 100%;
    float: none;
    margin: 0 auto;
    background-size: 217px;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
}


.copyright {
    width: 100%;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    padding-bottom: 15px;
}

.footer-logo {
    height: 86px;
    width: 100%;
    margin: 10px auto;
    background-size: contain;
    margin: 20px 0;
}

footer {
    height: auto;
}

.copyright {
    font-size: 15px;
}

span.tag-mobile {
    position: relative;
    color: #fff;
    background: #000;
    padding: 4px 7px;
    font-size: 13px;
    margin: 0 7px;
    display: inline-block;
}

h2.title {
    font-size: 15px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 7px 7px;
    display: inline-block;
    width: calc(60% - 14px);
}

p.author {
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 13px;
    color: #c4161c;
    margin: 0px 7px;
    display: inline-block;
    width: calc(60% - 14px);
}

span.date {
    color: #808080;
    display: inline-block;
    margin-top: 4px;
}

article:first-child h2.title {
    font-size: 18px;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}

article:first-child span.date {
    color: #808080;
    display: inline;
}

article:first-child p.author {
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    font-size: 13px;
    color: #c4161c;
    margin: 0px 0px;
    display: inline-block;
    width: 100%;
}

.b-popup .b-popup-content {
    margin: 10px auto 0px auto;
    width: 95%;
}
a.close-popup {
    position: absolute;
    top: 5px;
    right: 27px;
    width: 30px;
}

    .lokomotiv img.big {
display: none;
}
.lokomotiv.desctop {
    display: none;
}
    .lokomotiv img.big-mobile {
display: block; 
    width: calc(100% - 30px);
    margin: 0 15px;
    max-width: 658px;
}

h1 {
     text-align: center !important;
     display: inline-block;
     width: 70%;
     margin: 0 auto 30px 53px;
}
}
 

@media only screen and ( max-width: 540px ) {

        .lokomotiv img.big {
display: none;
}

.lokomotiv img.small {
display: none;
}

.lokomotiv img.medium {
display: block; 
    max-width: 540px;
    max-height: 100px;
    width: calc(100% - 30px);
    margin: 0 15px;
}

#nav {
    top: 303px;
}
    .lokomotiv img.big-mobile {
display: none;
}

#nav_mobile {
    margin-top: 8px;
}
    }


 @media only screen and ( max-width: 414px ) {
#nav_mobile {
    margin-top: 10px;
}

ul.mobul.opened {
    margin-top: -147px;
}

.main {
    margin: 147px auto 0;
}
}

 @media only screen and ( max-width: 375px ) {
ul.mobul.opened {
    margin-top: -134px;
    margin-left: 58px;
}

#nav_mobile li ul {
    margin-left: -40px;
    margin-right: 10px;
}

#nav {
    top: 289px;
}
.main {
    margin: 130px auto 0;
}
}

 @media only screen and ( max-width: 359px ) {
h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
    margin: 20px auto 30px 54px;
}

#nav {
    top: 262px;
}

ul.mobul.opened {
    margin-top: -107px;
    margin-left: 58px;
}

.main {
    margin: 89px auto 0;
}
}

#popup {
    position: fixed;
    background: rgba(33, 33, 33, 0.9);
    text-align: center;
    color: #fff;
    width: calc(100% - 90px);
    max-width: 500px;
    height: auto;
    max-height: 650px;
    font-size: 14px;
    z-index: 100001;
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popru .ontime {
    background: url('../img/on_time.svg') no-repeat center;
    width: 140px;
    height: 80px;
    margin: auto;
    background-size: 511px;
}

.popeng .ontime {
    background: url('../img/on_time.svg') no-repeat center;
    width: 180px;
    height: 80px;
    margin: auto;
    background-size: 511px;
    background-position-y: -64px;
}

.popch .ontime {
    background: url('../img/on_time.svg') no-repeat center;
    width: 180px;
    height: 80px;
    margin: auto;
    background-size: 511px;
    background-position-y: -225px;
}

#popup p {
    max-width: 300px;
    text-align: center;
    margin: 15px auto;
    font-size: 13px;
}

div#popup-close {
    padding: 5px 10px;
    border: 1px solid;
    width: fit-content;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    margin: auto;
   cursor: pointer;
}


@media only screen and ( max-width: 375px ) {
    .lokomotiv img.big {
display: none;
}

.lokomotiv img.medium {
display: none;
}

.lokomotiv img.small {
    display: block;
    width: calc(100% - 20px);
    max-width: 414px;
    margin: 0 10px;
}
    }



div.pagi-link {
    text-align: center;
    margin-top: 30px;
}

a.next_page { 
    font-size: 16px;
    color: #000;
    padding: 9px 40px;
    border: 1px solid #000;
    text-align: center;
    font-family: 'GothamSPN-Medium', 'Roboto-Regular', Helvetica, sans-serif;
}

a.next_page:hover {       
    color: #fff;      
    border: 1px solid #fff;
background: #000;                                                   
 }

