{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Расписание | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/raspisanie.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}
{%block content%}
<h1>Расписание матчей</h1>
<section class="box">

<div id="tabs">
  <!-- Вкладки выполнены в виде списка с якорными ссылками -->
  <ul class="tabs">
    <li class="tab"><a href="#playoff" class="active">ПЛЕЙ-ОФФ</a></li>
    <li class="tab active"><a href="#group">групповой этап</a></li>
    <li class="tab"><a href="#turnir">ТУРНИРНАЯ ТАБЛИЦА</a></li>
  </ul>
  <!-- Содержимое каждой вкладки имеет id в соответствии с якорной ссылкой -->
  <div class="tabs-content">
    <div id="group">
      {% for gameday in group_list %}
      <h3 class="match-date">{{gameday.game_datetime_ru}}</h3>
        {% for game in gameday.game.all %}
          {% if not game.game_group == None %}
           <div class="match-block">
          	<div class="match-place">
          		<p class="level">{{game.game_group}}</p>
          		<p class="arena">{{game.stadeon}}</p>
          		<p class="city">{{game.stadeon.city.game_city}}</p>
          		<hr>
          	</div>
          	<div class="first-country">
          		<div class="flag">
                {% if game.game_country_1.country_img %}
                <img src="{{game.game_country_1.country_img.url}}">
                {% endif %}
                <div class="county-mobile">{{game.game_country_1.title}}</div>
              </div>
          		<div class="county">{{game.game_country_1.title}}</div>
          		<div class="score">
                {% if game.game_datetime.date <= today.date  %}
                {{game.game_country_1_score}}
                {% endif %}
              </div>
          	</div>
          	<div class="match-time">{{game.game_datetime|date:"H:i"}}</div>
          	<div class="second-country">
          		<div class="score">
                {% if game.game_datetime.date <= today.date %}
                {{game.game_country_2_score}}
                {% endif %}
              </div>
          		<div class="county">{{game.game_country_2.title}}</div>
          		<div class="flag">
                {% if game.game_country_2.country_img %}
                <img src="{{game.game_country_2.country_img.url}}">
                {% endif %}
                <div class="county-mobile">{{game.game_country_2.title}}</div>
              </div>
          	</div>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div id="playoff">
      {% if playoff_img %}
        {% for playoff in playoff_img %}
          {% if playoff.title == 'RU' %}
          <div class="competitive-img"><img src="{{playoff.img.url}}"></div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% for gameday in play_off_list %}
      <h3 class="match-date">{{gameday.game_datetime_ru}}</h3>
      {% for game in gameday.game.all %}
        {% if game.game_group == None %}
         <div class="match-block
         {% if game.game_title == 'Четвертьфинал' %}chetvertaya
         {% elif game.game_title == 'Полуфинал' %}polufinal
         {% elif game.game_title == 'Матч за 3-е место' %}tretie
         {% elif game.game_title == 'Финал' %}final{% else %}{% endif %}">
          <div class="match-place">
            <p class="level">{{game.game_title}}</p>
            <p class="arena">{{game.stadeon}}</p>
            <p class="city">{{game.stadeon.city.game_city}}</p>
            <hr>
          </div>
          <div class="first-country">
            {% if game.game_country_1 == None %}
            <div class="flag">
              <img src="{% static 'img/empty.png' %}">
              <div class="county-mobile">{{game.game_prefix_1}}</div>
            </div>
            <div class="county">{{game.game_prefix_1}}</div>
            {% else %}
            <div class="flag">
                {% if game.game_country_1.country_img %}
                <img src="{{game.game_country_1.country_img.url}}">
                {% endif %}
                <span class="penalti-big">{{game.game_prefix_1}}</span>
                <div class="county-mobile">{{game.game_country_1.title}}</div>
            </div>
            <div class="county">{{game.game_country_1.title}}</div>
            {% endif %}
            <div class="score">
              {% if game.game_datetime.date <= today.date  %}
              {{game.game_country_1_score}}
              {% else %}
               - 
              {% endif %}
            </div>
          </div>
          <div class="match-time">{{game.game_datetime|date:"H:i"}}</div>
          <div class="second-country">
            <div class="score">
              {% if game.game_datetime.date <= today.date %}
              {{game.game_country_2_score}}
              {% else %}
               - 
              {% endif %}
            </div>
            {% if game.game_country_2 == None %}
            <div class="county">{{game.game_prefix_2}}</div>
            <div class="flag">
              <img src="{% static 'img/empty.png' %}">
              <div class="county-mobile">{{game.game_prefix_2}}</div>
            </div>
            {% else %}
            <div class="county">{{game.game_country_2.title}}</div>
            <div class="flag">
              {% if game.game_country_2.country_img %}
              <img src="{{game.game_country_2.country_img.url}}">
              {% endif %}
              <span class="penalti-big">{{game.game_prefix_2}}</span>
              <div class="county-mobile">{{game.game_country_2.title}}</div>
            </div>
            {% endif %}
          </div>
        <span class="penalti-mobile left">{{game.game_prefix_1}}</span>
	      <span class="penalti-mobile right">{{game.game_prefix_2}}</span>
        </div>
        {% endif %}        
      {% endfor %}
      {% endfor %}
    </div>
    <div id="turnir">
      {% for group in tabel_list %}
      <div class="table-block">
        <table class="turnir-table">
            <tr>
                <th colspan="2" class="groupe">{{group.title}}</th>
                <th>И</th>
                <th>В</th>
                <th>Н</th>
                <th>П</th>
                <th>ЗГ</th>
                <th>Пр.</th>
                <th>+/–</th>
                <th>Оч</th>
            </tr>
            {% for country in group.country.all|dictsortreversed:"score" %}
            <tr>
                <td class="country-flag">
                  {% if country.country_img %}
                  <img src="{{country.country_img.url}}">
                  {% else %}
                  <img src="{% static 'img/empty.png' %}">
                  {% endif %}
                </td>
                <td class="country-name">{{ country.title }}</td>
                <td>{{ country.games }}</td>
                <td>{{ country.wins }}</td>
                <td>{{ country.draws }}</td>
                <td>{{ country.defeats }}</td>
                <td>{% if country.goals_scored == '' %}0{% else %}{{ country.goals_scored }}{% endif %}</td>
                <td>{{ country.missed_goals }}</td>
                <td>{{ country.difference }}</td>
                <td>{{ country.score }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      {% endfor %}
    </div>
  </div>

</section>

{% endblock content%}

{% block extrajs %}
<script>

$(document).ready(function() {
  currentTab();
$('.nav-raspisanie').on('click', function() { setTimeout(function() {currentTab();}, 10) });
  $('#tabs').on('click', '.tabs a', function(e) {
    if ($(this).attr("href")[0] == "#") {
      e.preventDefault();
      history.replaceState(null, null, $(this).attr("href"));
      currentTab();
    }
  });
});

function currentTab() {
  var href = location.hash || $('#tabs .tabs a').eq(0).attr("href");
  $('#tabs .tabs a').removeClass();
  $('#tabs .tabs a[href="' + href + '"]').addClass('active');
  $('.tabs-content > div').hide();
  $(href).show();
}

</script>
{% endblock extrajs %}
