{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Schedule of games | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/raspisanie.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}
{%block content%}
<h1>赛程表</h1>
<section class="box">

<div id="tabs">
  <!-- Вкладки выполнены в виде списка с якорными ссылками -->
  <ul class="tabs">
    <li class="tab"><a href="#playoff" class="active">挑拨</a></li>
    <li class="tab active"><a href="#group">组舞台</a></li>
    <li class="tab"><a href="#turnir">锦标赛表</a></li>
  </ul>
  <!-- Содержимое каждой вкладки имеет id в соответствии с якорной ссылкой -->
  <div class="tabs-content">
    <div id="group">
      {% for gameday in group_list %}
      <h3 class="match-date">{{gameday.game_datetime_ch}}</h3>
        {% for game in gameday.game.all %}
        {% if not game.game_group == None %}

         <div class="match-block">
        	<div class="match-place">
        		<p class="level">{{game.game_group.title_ch}}</p>
        		<p class="arena">{{game.stadeon.game_stadeon_ch}}</p>
        		<p class="city">{{game.stadeon.city.game_city_ch}}</p>
        		<hr>
        	</div>
        	<div class="first-country">
        		<div class="flag">
              {% if game.game_country_1.country_img %}
              <img src="{{game.game_country_1.country_img.url}}">
              {% endif %}
              <div class="county-mobile">{{game.game_country_1.title_ch}}</div>
            </div>
        		<div class="county">{{game.game_country_1.title_ch}}</div>
        		<div class="score">
              {% if game.game_datetime.date <= today.date  %}
              {{game.game_country_1_score}}
              {% endif %}
            </div>
        	</div>
        	<div class="match-time">{{game.game_datetime|date:"H:i"}}</div>
        	<div class="second-country">
        		<div class="score">
              {% if game.game_datetime.date <= today.date %}
              {{game.game_country_2_score}}
              {% endif %}
            </div>
        		<div class="county">{{game.game_country_2.title_ch}}</div>
        		<div class="flag">
              {% if game.game_country_2.country_img %}
              <img src="{{game.game_country_2.country_img.url}}">
              {% endif %}
              <div class="county-mobile">{{game.game_country_2.title_ch}}</div>
            </div>
        	</div>
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div id="playoff">
      {% if playoff_img %}
        {% for playoff in playoff_img %}
          {% if playoff.title == 'CH' %}
          <div class="competitive-img"><img src="{{playoff.img.url}}"></div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% for gameday in play_off_list %}
      <h3 class="match-date">{{gameday.game_datetime_ch}}</h3>
        {% for game in gameday.game.all %}
        {% if game.game_group == None %}
        <div class="match-block
        {% if game.game_title == 'Четвертьфинал' %}chetvertaya
        {% elif game.game_title == 'Полуфинал' %}polufinal
        {% elif game.game_title == 'Матч за 3-е место' %}tretie
        {% elif game.game_title == 'Финал' %}final{% else %}{% endif %}">
        	<div class="match-place">
        		<p class="level">{{game.game_title_ch}}</p>
        		<p class="arena">{{game.stadeon.game_stadeon_ch}}</p>
        		<p class="city">{{game.stadeon.city.game_city_ch}}</p>
        		<hr>
        	</div>
        	<div class="first-country">
            {% if game.game_country_1 == None %}
        		<div class="flag">
              <img src="{% static 'img/empty.png' %}">
              <div class="county-mobile">{{game.game_prefix_1}}</div>
            </div>
            <div class="county">{{game.game_prefix_1}}</div>
            {% else %}
            <div class="flag">
                {% if game.game_country_1.country_img %}
                <img src="{{game.game_country_1.country_img.url}}">
                {% endif %}
                <div class="county-mobile">{{game.game_country_1.title_ch}}</div>
            </div>
            <div class="county">{{game.game_country_1.title_ch}}</div>
            {% endif %}
        		<div class="score">
              {% if game.game_datetime.date <= today.date  %}
              {{game.game_country_1_score}}
              {% endif %}
            </div>
        	</div>
        	<div class="match-time">{{game.game_datetime|date:"H:i"}}</div>
        	<div class="second-country">
        		<div class="score">
              {% if game.game_datetime.date <= today.date %}
              {{game.game_country_2_score}}
              {% endif %}
            </div>
            {% if game.game_country_2 == None %}
            <div class="county">{{game.game_prefix_2}}</div>
        		<div class="flag">
              <img src="{% static 'img/empty.png' %}">
              <div class="county-mobile">{{game.game_prefix_2}}</div>
            </div>
            {% else %}
        		<div class="county">{{game.game_country_2.title_ch}}</div>
        		<div class="flag">
              {% if game.game_country_2.country_img %}
              <img src="{{game.game_country_2.country_img.url}}">
              {% endif %}
              <div class="county-mobile">{{game.game_country_2.title_ch}}</div>
            </div>
            {% endif %}
        	</div>
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div id="turnir">
      {% for group in tabel_list %}
      <div class="table-block">
        <table class="turnir-table">
            <tr>
                <th colspan="2" class="groupe">{{group.title_ch}}</th>
                <th>比赛</th>
                <th>胜利</th>
                <th>平局</th>
                <th>失利</th>
                <th>进球数</th>
                <th>界外球数</th>
                <th>+/–</th>
                <th>得分</th>
            </tr>
            {% for country in group.country.all|dictsortreversed:"score" %}
            <tr>
                <td class="country-flag">
                  {% if country.country_img %}
                  <img src="{{country.country_img.url}}">
                  {% else %}
                  <img src="{% static 'img/empty.png' %}">
                  {% endif %}
                </td>
                <td class="country-name">{{ country.title_ch }}</td>
                <td>{{ country.games }}</td>
                <td>{{ country.wins }}</td>
                <td>{{ country.draws }}</td>
                <td>{{ country.defeats }}</td>
                <td>{% if country.goals_scored == '' %}0{% else %}{{ country.goals_scored }}{% endif %}</td>
                <td>{{ country.missed_goals }}</td>
                <td>{{ country.difference }}</td>
                <td>{{ country.score }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      {% endfor %}
    </div>
  </div>

</section>

{% endblock content%}

{% block extrajs %}
<script>

$(document).ready(function() {
  currentTab();
$('.nav-raspisanie').on('click', function() { setTimeout(function() {currentTab();}, 10) });
  $('#tabs').on('click', '.tabs a', function(e) {
    if ($(this).attr("href")[0] == "#") {
      e.preventDefault();
      history.replaceState(null, null, $(this).attr("href"));
      currentTab();
    }
  });
});

function currentTab() {
  var href = location.hash || $('#tabs .tabs a').eq(0).attr("href");
  $('#tabs .tabs a').removeClass();
  $('#tabs .tabs a[href="' + href + '"]').addClass('active');
  $('.tabs-content > div').hide();
  $(href).show();
}

</script>
{% endblock extrajs %}
