{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Rozanov | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/mnenie.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}
{%block content%}
<h1>Rozanov視圖</h1>
{% if articles %}
<section class="box">
  <article class="razanov-block">
  	<div class="razanov-img">
  	<img src="{% static 'img/rozanov.jpg' %}">
  	<h2 class="title-rozanov-mobile">尤里·罗扎诺夫</h2>
  	<p class="obozrev-mobile"><strong>笔者</strong></p>
  	</div>
  <h2 class="title-rozanov">尤里·罗扎诺夫</h2>
  <p class="obozrev"><strong>笔者</strong></p>
  <p class="slogan">我幻想当个运动评论员</p>
  </article>

  {% for article in articles %}
  {% if article.title_ch %}
  <article class="news-block">
    <div class="news-img">
      {% if article.article_tag_ch %}<span class="tag">{{article.article_tag_ch}}</span>{% endif %}
      {% if article.article_img %}<a href="{{article.get_absolute_url}}ch/"><img class="announse" src="{{article.article_img.url}}"></a>{% endif %}
    </div>
    <a href="{{article.get_absolute_url}}ch/" class="news-link"><h2 class="title">{{article.title_ch}}</h2></a>
    <p class="author"><span class="date">{{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span></p>
    <p class="preview">{{article.preview_ch}}</p>
  </article>
  {% endif %}
  {% endfor %}
</section>
{% endif %}
{% endblock content%}
