{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Глазами Юрия Розанова | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/mnenie.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}
{%block content%}
<h1>ГЛАЗАМИ РОЗАНОВА</h1>
{% if articles %}
<section class="box">
  <article class="razanov-block">
  	<div class="razanov-img">
  	<img src="{% static 'img/rozanov.jpg' %}">
  	<h2 class="title-rozanov-mobile">Юрий Розанов</h2>
  	<p class="obozrev-mobile"><strong>обозреватель</strong></p>
  	</div>
  <h2 class="title-rozanov">Юрий Розанов</h2>
  <p class="obozrev"><strong>обозреватель</strong></p>
  <p class="slogan">{{citat_rus}}</p>
  </article>
  {% for article in articles %}
  <article class="news-block">
    <div class="news-img">
      {% if article.article_tag %}<span class="tag">{{article.article_tag}}</span>{% endif %}
      {% if article.article_img %}<a href="{{article.get_absolute_url}}"><img class="announse" src="{{article.article_img.url}}"></a>{% endif %}
    </div>
    <a href="{{article.get_absolute_url}}" class="news-link"><h2 class="title">{{article.title}}</h2></a>
    <p class="author"><span class="date">{{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span></p>
    <p class="preview">{{article.preview}}</p>
  </article>
  {% endfor %}
</section>
{% endif %}
{% endblock content%}
