{% extends "base.html" %}
{% load staticfiles %}
{% block title %}MATCH POINT BY YURI ROZANOV | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/mnenie.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_en.html" %}{% endblock header %}
{%block content%}
<h1>MATCH POINT BY YURI ROZANOV</h1>
{% if articles %}
<section class="box">
  <article class="razanov-block">
  	<div class="razanov-img">
  	<img src="{% static 'img/rozanov.jpg' %}">
  	<h2 class="title-rozanov-mobile">Yuri Rozanov</h2>
  	<p class="obozrev-mobile"><strong>opinion</strong></p>
  	</div>
  <h2 class="title-rozanov">Yuri Rozanov</h2>
  <p class="obozrev"><strong>opinion</strong></p>
  <p class="slogan">{{citat_eng}}</p>
  </article>

  {% for article in articles %}
  <article class="news-block">
    <div class="news-img">
      {% if article.article_tag_en %}<span class="tag">{{article.article_tag_en}}</span>{% endif %}
      {% if article.article_img %}<a href="{{article.get_absolute_url}}en/"><img class="announse" src="{{article.article_img.url}}"></a>{% endif %}
    </div>
    <a href="{{article.get_absolute_url}}en/" class="news-link"><h2 class="title">{{article.title_en}}</h2></a>
    <p class="author"><span class="date">{{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span></p>
    <p class="preview">{{article.preview_en}}</p>
  </article>
  {% endfor %}
</section>
{% endif %}
{% endblock content%}
