{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{article.title}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/article.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}

{%block content%}
<div class="hidden-categiry">ГЛАЗАМИ ЮРИЯ РОЗАНОВА</div>
<section class="text">
{% if article.article_tag %}<div class="tag">{{article.article_tag}}</div>{% endif %}
<h1>{{article.title}}</h1>
<p class="author"><span class="date">
  <span class="date">{{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span></p>
<div class="preview">{{article.preview}}</div>
{% if article.article_img %}<div class="main-img"><img src="{{article.article_img.url}}"></div>{% endif %}
{% autoescape off %}{{article.article_content}}{% endautoescape %}
</section>

{% endblock content%}
