{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{city.game_city_en}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/guide.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_en.html" %}{% endblock header %}

{%block content%}
<h1>World Cup 2018 Cities Guide</h1>
<section class="box">
	<div class="city-name"><span>{{city.game_city_en}}</span></div>
  <div class="marker-box">
    {% for city in cities %}{% if city.game_city == 'Калининград' %}<a href="{{city.get_absolute_url}}en/"><div class="marker klg"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Санкт-Петербург' %}<a href="{{city.get_absolute_url}}en/"><div class="marker spb"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Москва' %}<a href="{{city.get_absolute_url}}en/"><div class="marker msk"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Н. Новгород' %}<a href="{{city.get_absolute_url}}en/"><div class="marker nov"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Казань' %}<a href="{{city.get_absolute_url}}en/"><div class="marker kaz"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Саранск' %}<a href="{{city.get_absolute_url}}en/"><div class="marker sar"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Екатеринбург' %}<a href="{{city.get_absolute_url}}en/"><div class="marker ekb"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Самара' %}<a href="{{city.get_absolute_url}}en/"><div class="marker sam"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Ростов-на-Дону' %}<a href="{{city.get_absolute_url}}en/"><div class="marker rnd"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Волгоград' %}<a href="{{city.get_absolute_url}}en/"><div class="marker vlg"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Сочи' %}<a href="{{city.get_absolute_url}}en/"><div class="marker sochi"><p>{{city.game_city_en}}</p></div></a>{% endif %}{% endfor %}
	</div>

	<ul class="marker-list">
    {% for city in cities|dictsort:"game_city" %}
      <li><a href="{{city.get_absolute_url}}">{{city.game_city_en}}</a></li>
    {% endfor %}
	</ul>
	<div class="pdf"><a href="{% static "pdf/Football2018_1807_RU.pdf" %}"><img src="{% static "img/icons-bolel/pdf-download.png" %}"> Download PDF</a></div>
</section>

{% if articles %}
<section class="box">
  {% for article in articles %}
  <article class="news-block">
  	<div class="news-img">
  	<span class="tag">{{article.article_tag_en}}</span>
  	{% if article.article_img %}<a href="{{article.get_absolute_url}}en/"><img class="announse" src="{{article.article_img.url}}"></a>{% endif %}
  	</div>
  <a href="{{article.get_absolute_url}}en/" class="news-link"><h2 class="title">{{article.title_en}}</h2></a>
  <p class="author">{{article.article_author_en}} <span class="date">
    | {{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span>
  </p>
  <p class="preview">{{article.preview_en}}</p>
  </article>
  {% endfor %}
</section>
{% endif %}
{% endblock content%}
