{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{city.game_city_ch}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/guide.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ch.html" %}{% endblock header %}

{%block content%}
<h1>2018年国际足联世界杯 城市指南</h1>
<section class="box">
	<div class="city-name"><span>{{city.game_city_ch}}</span></div>
  <div class="marker-box">
    {% for city in cities %}{% if city.game_city == 'Калининград' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker klg"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Санкт-Петербург' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker spb"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Москва' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker msk"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Н. Новгород' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker nov"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Казань' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker kaz"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Саранск' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker sar"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Екатеринбург' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker ekb"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Самара' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker sam"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Ростов-на-Дону' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker rnd"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Волгоград' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker vlg"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
    {% for city in cities %}{% if city.game_city == 'Сочи' %}<a href="{{city.get_absolute_url}}ch/"><div class="marker sochi"><p>{{city.game_city_ch}}</p></div></a>{% endif %}{% endfor %}
	</div>

	<ul class="marker-list">
    {% for city in cities|dictsort:"game_city" %}
      <li><a href="{{city.get_absolute_url}}">{{city.game_city_ch}}</a></li>
    {% endfor %}
	</ul>
	<div class="pdf"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}"><img src="{% static "img/icons-bolel/pdf-download.png" %}"> 下载 PDF</a></div>
</section>

{% if articles %}
<section class="box">
  {% for article in articles %}
  <article class="news-block">
  	<div class="news-img">
  	<span class="tag">{{article.article_tag_ch}}</span>
  	{% if article.article_img %}<a href="{{article.get_absolute_url}}ch/"><img class="announse" src="{{article.article_img.url}}"></a>{% endif %}
  	</div>
  <a href="{{article.get_absolute_url}}ch/" class="news-link">
    <h2 class="title">{{article.title_ch}}</h2>
  </a>
  <p class="author">{{article.article_author_ch}} <span class="date">
    | {{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span>
  </p>
  <p class="preview">{{article.preview_ch}}</p>
  </article>
  {% endfor %}
</section>
{% endif %}
{% endblock content%}
