{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{article.title}} | {{block.super}}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static '/css/article.css' %}" media="all">
{% endblock extracss %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}

{%block content%}
<style> .tag {   margin: 0px 5px 0 0; }</style>
<div class="hidden-categiry">ГИД ПО ГОРОДАМ ЧМ-2018</div>
<section class="text">
  <div class="city-tag">{{article.article_city.game_city}}</div>
  {% if article.article_tag %}<div class="tag">{{article.article_tag}}</div>{% endif %}
  <h1>{{article.title}}</h1>
  <p class="author"><span class="date">
    {% if article.article_author %}текст:</span> {{article.article_author}} {% endif %}
    <span class="date">| {{article.article_datetime|date:"d.m.Y"}} | {{article.article_datetime|date:"H:i"}}</span>
  </p>
  <div class="preview">{{article.preview}}</div>
  {% if article.article_img %}<div class="main-img"><img src="{{article.article_img.url}}"></div>{% endif %}
  {% autoescape off %}{{article.article_content}}{% endautoescape %}
</section>
{% endblock content%}
