
{% load staticfiles %}
{% load wifi_tag %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
	  <link rel="stylesheet" href="{% static '/css/style.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/css/plyr.css' %}" media="all">
    {% block extracss %}{% endblock extracss %}
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <!--meta name="viewport" content="width=1024"/-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favico/apple-touch-icon.png' %}">
  	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favico/favicon-32x32.png' %}">
  	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favico/favicon-16x16.png' %}">
  	<link rel="manifest" href="{% static 'img/favico/site.webmanifest' %}">
  	<link rel="mask-icon" href="{% static 'img/favico/safari-pinned-tab.svg' %}" color="#5bbad5">
  	<meta name="msapplication-TileColor" content="#da532c">
  	<meta name="theme-color" content="#ffffff">
    <title>
      {%block title%}
      {% if '/en/' in request.path %}Football 2018
      {% elif '/ch/' in request.path %}Football 2018
      {% else %}Футбол 2018{% endif %}
      {%endblock title%}
    </title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	</head>

  <body>
    {% if '/en/' in request.path %}{% get_wifi_en %}
    {% elif '/ch/' in request.path %}{% get_wifi_ch %}
    {% else %}{% get_wifi %}{% endif %}

    {% block header %}{% endblock header %}
    <div class="main">
      <div class="lokomotiv desctop">
        {% if '/en/' in request.path %}
        <a href="{% url 'gold_en' %}"><img src="{% static "img/Lokomotiv_658x81_eng.gif" %}" class="big"></a>
        {% elif '/ch/' in request.path %}
        <a href="{% url 'gold_en' %}"><img src="{% static "img/Lokomotiv_658x81_eng.gif" %}" class="big"></a>
        {% else %}
        <a href="{% url 'gold' %}"><img src="{% static "img/Lokomotiv_658x81_rus.gif" %}" class="big"></a>
        {% endif %}
      </div>
    {% block content %}{% endblock content %}
    </div>

    {% if '/en/' in request.path %}
    <div id="popup" style="display:none" class="popeng">
        <div>
          <div class="ontime"></div>
              <p>Dear travelers, please note that security screening is required at all stations during the <strong>2018 FIFA</strong> World Cup.</p>
              <p>Please allow enough time for going through entrance security to have an enjoyable journey.</p>
            <div id="popup-close">Got it</div>
        </div>
    </div>
    {% elif '/ch/' in request.path %}
    <div id="popup" style="display:none" class="popch">
        <div>
          <div class="ontime"></div>
              <p>尊敬的乘客！</p>
              <p>俄罗斯举办2018年世界杯期间，火车站实行高标准安全检查措施。</p>
              <p>敬请观众理解并提前抵达火车站</p>
            <div id="popup-close">都明白了</div>
        </div>
    </div>
    {% else %}
    <div id="popup" style="display:none" class="popru">
        <div>
          <div class="ontime"></div>
              <p>Уважаемые пассажиры!</p>
              <p>На железнодорожные вокзалы введены повышенные меры безопасности и досмотра на время проведения чемпионата мира по футболу <strong>FIFA 2018</strong><sup>тм</sup>.</p>
              <p>Просим вас с пониманием отнестись к временным изменениям и прибывать на вокзалы заблаговременно.</p>
            <div id="popup-close">Всё понятно</div>
        </div>
    </div>
    {% endif %}

    <footer>
    	<div class="footer-content">
    		<div class="footer-logo {% if '/en/' in request.path %}eng{% endif %}{% if '/ch/' in request.path %}eng{% endif %}"></div>
    		<div class="copyright">
    		  <a href="mailto:football2018@rm-tech.ru">football2018@rm-tech.ru</a>
    		  <p>Content @ 2018 ООО «РМ»</p>
      		</div>
      		<div class="poputchik {% if '/en/' in request.path %}eng{% endif %}{% if '/ch/' in request.path %}eng{% endif %}"></div>
    	</div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/doubletaptogo.js' %}"></script>
    <script src="{% static 'js/plyr.js' %}"></script>
    <script src="{% static 'js/plyr.polyfilled.js' %}"></script>
    <script>
	$( function()
	{
		$( '#nav li:has(ul)' ).doubleTapToGo();
	});
	$( function()
	{
		$( '#nav-mobile li:has(ul)' ).doubleTapToGo();
	});

    	$( ".nav-toggle" ).click(function(event) {
var btn = $(event.target).closest('.nav-toggle');
btn.toggleClass( "opened" );
$('ul.mobul').toggleClass( "opened" );
});
    </script>
    {% block extrajs %}{% endblock extrajs %}
 <!-- Yandex.Metrika counter -->
 <script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49201597 = new Ya.Metrika2({
                    id:49201597,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script> <noscript><div><img
src="https://mc.yandex.ru/watch/49201597"
style="position:absolute; left:-9999px;" alt=""
/></div></noscript>
 <!-- /Yandex.Metrika counter -->
</body>
</html>
