{% load staticfiles %}

{% if not wifi == '1' %}
{% if not online == '1' %}
{% if sapsan == '1' %}
<div class="header2">
<style>
.header2 {
  background: #00aeda;
  color: #FFF;
  height: 49px;
  padding: 0 20px;
  text-align: center;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  width: calc(100% - 40px);
}

.arrow {
  width: 36px;
  height: 36px;
  margin: 5px 10px 0 0;
  cursor: pointer;
}

.header2 .spn-logo {    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline;
  padding: 0 25px;
  text-decoration: none;
  color: white;
  line-height: 49px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 14px;
  margin: 0;
}

.main {
  min-height: calc(110vh - 80px);
}


@media only screen and (max-width: 667px) {
#nav {
  position: absolute;
  margin-top: 0px;
  padding-top: 40px;
  left: 0;
  top: 330px;
}

ul.mobul.opened {
  margin-top: -88px;
}
}
@media only screen and (max-width: 540px) {
#nav {
  top: 352px;
}
}

@media only screen and (max-width: 414px){
ul.mobul.opened {
  margin-top: -98px;
}
}

@media only screen and (max-width: 375px) {
#nav {
  top: 339px;
}

ul.mobul.opened {
  margin-top: -85px;
  margin-left: 58px;
}
}

@media only screen and ( max-width: 359px ) {
#nav {
  top: 311px;
}
}

</style>

<div data-ng-if="vm.showMenu" class="arrow" onclick="history.back(); /* var n = location.host.split('.');n.shift(); window.location.replace('http://' + n.join('.')); */" class="ng-scope">
  <img src="{% static "img/back-arrow.svg" %}">
</div>

<p class="spn-logo ng-binding"><img style="width:40px;position: relative;top: 5px;margin-right: 20px;" src="{% static "img/logo.svg" %}">FIFA 2018</p>

</div>
{% endif %}
{% endif %}
{% endif %}
