{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Success | {{block.super}}{% endblock title %}
{% block header %}{% include "nav/nav_ru.html" %}{% endblock header %}
{%block content%}
<style>
input[type="submit"] {
    color: #fff;
    padding: 10px;
    background: #b2b2b2;
    font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

form {
    margin: 0 0 0 50px;
}

input[type="submit"]:hover, input[type="submit"]:active {
    background: #c4161c;
}
.info p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'GothamSPN-Bold', 'Roboto-Regular', Helvetica, sans-serif;
    color: #515151;
}
.info-icon {
    width: 35px;
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
}
 .info-icon img {
    width: 25px;
    height: 25px;
}
 .info {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
margin-left: 50px;
}

</style>
<h1>Контент проверен и готов к отправке на поезда</h1>
{% if messages %}
    {% for message in messages %}
        <div class="info">
          <div class="info-icon">
            <img src="{% static 'img/icons-bolel/pic_info.svg' %}">
          </div>
          <p>{{ message }}</p>
        </div>
    {% endfor %}
{% else %}
<!--<div class="info">
  <div class="info-icon">
    <img src="{% static 'img/icons-bolel/pic_info.svg' %}">
  </div>
  <p>Синхронизация временно отключена</p>
</div>-->
<form action="" method="post">
  {% csrf_token %}
  {{form}}
  <input type="submit"  value="Отправить">
</form>
{% endif %}
{% endblock content%}
