{% load staticfiles %}
{% if wifi == '1' %}
{% if not online == '1' %}
<style>

.wi-fi { text-align: center;
    background: #fff;
    z-index: 10000;
    position: relative;  
}

.wi-fibanner {
    text-align: right;
    max-width: 1124px;
    margin: auto;
}

.wi-fibanner img {
    margin-right: 9px;
    max-width: 928px;
    width: 100%;
}

.wi-fibanner-mobile {
    display: none;
}

 @media only screen and ( max-width: 667px ) {



.wi-fibanner-mobile {
display: block;
max-width: 667px;
}

.wi-fibanner-mobile img {
    width: 100%;
}

.wi-fibanner {
    display: none;
}


#nav {
    position: absolute;
    margin-top: 0px;
    padding-top: 40px;
    left: 0;
    top: 323px;
}
ul.mobul.opened {
margin-top: -30px;
}
}
   @media only screen and ( max-width: 568px ) {
#nav {
    top: 304px;
}
}
 @media only screen and ( max-width: 480px ) {
#nav {
    top: 284px;
}
}

 @media only screen and ( max-width: 414px ) {
#nav {
    position: absolute;
    margin-top: 0px;
    padding-top: 40px;
    left: 0;
    top: 271px;
}
}

 @media only screen and ( max-width: 375px ) {
ul.mobul.opened {
        margin-top: -30px;
    margin-left: 58px;
}

#nav_mobile li ul {
    margin-left: -40px;
    margin-right: 10px;
}
#nav {
    margin-top: 0;
    top: 263px;
}
}
 @media only screen and ( max-width: 359px ) {

 #nav {
    margin-top: 0;
    top: 241px;
}
ul.mobul.opened {
    margin-top: -20px;
}
}
</style>
  <div class="wi-fi"><a href="http://auth.spn.ru"><div class="wi-fibanner"><img src="{% static 'img/3r.png' %}"></div>
    <div class="wi-fibanner-mobile"><img src="{% static 'img/2r.png' %}"></a></div>
  </div>
{% endif %}
{% endif %}
