{% load staticfiles %}
{% load sapsan_tag %}
{% get_sapsan %}
<header>
	<div class="header-content">
		<a href="{% url 'fans_ch' %}"><div class="header-logo eng"></div></a>
		<div class="top-banner"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}" target="_blank" class="guade-banner"><img src="{% static 'img/banner680_chn.png' %}"></a></div>
		<div class="top-banner-mobile"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}" target="_blank" class="guade-banner-mobile"><img src="{% static 'img/banner359_chn.png' %}"></a></div>
		<div class="lokomotiv mobile">
			<a href="{% url 'gold_en' %}">
				<img src="{% static "img/Lokomotiv_658x81_eng.gif" %}" class="big-mobile">
				<img src="{% static "img/Lokomotiv_359x90_eng.gif" %}" class="small">
				<img src="{% static "img/Lokomotiv_718x180_eng.gif" %}" class="medium">
			</a>
		</div>
		<nav id="nav" role="navigation">
			<button class="nav-toggle">
				<span class="bar-top"></span>
			  <span class="bar-mid"></span>
			  <span class="bar-bot"></span>
			</button>
			<ul class="clearfix mobul">
		    <li>
					{% url 'stories_ch' as stories_url %}
					<a href="{{stories_url}}" {% if stories_url == request.path %}class="active"{% endif %}>冠軍新聞</a>
				</li>
		    <!--<li>
					{% url 'fifa_ch' as fifa_url %}
					<a href="{{fifa_url}}" {% if fifa_url == request.path %}class="active"{% endif %}>國際足聯比賽的歷史</a>
				</li>-->
				<li class="nav-raspisanie">
					{% url 'timing_ch' as timing_url %}
					<a href="{{timing_url}}" {% if timing_url == request.path %}class="active"{% endif %}>遊戲時間表</a>
		    	<ul>
		        <li><a href="{% url 'timing_ch' %}#group">组舞台</a></li>
		        <li><a href="{% url 'timing_ch' %}#playoff">挑拨</a></li>
		        <li><a href="{% url 'timing_ch' %}#turnir">锦标赛表</a></li>
		    	</ul>
		    </li>
				<li class="nav-bolelshik">
					{% url 'fans_ch' as fans_url %}
					<a href="{{fans_url}}" {% if fans_url == request.path %}class="active"{% endif %}>俄羅斯鐵路的球迷</a>
          <ul>
            <li><a href="{% url 'fans_ch' %}#info" class="active">乘客信息</a></li>
            <li><a href="{% url 'fans_ch' %}#buy-ticket">买票</a></li>
            <li><a href="{% url 'fans_ch' %}#map">世界杯举办时期免费列车时间表</a></li>
          </ul>
        </li>
		    <!--<li>
					{% url 'video_ch' as video_url %}
					<a href="{{video_url}}" {% if video_url == request.path %}class="active"{% endif %}>視頻</a>
				</li>-->
		    <li>
					{% url 'rozanov_page_ch' as rozanov_page_url %}
					<a href="{{rozanov_page_url}}" {% if rozanov_page_url == request.path %}class="active"{% endif %}>Rozanov視圖</a>
				</li>
		    <!--<li>
					<a href="/guide/moskva/ch/"  {% if '/guide/moskva/ch/' == request.path %}class="active"{% endif %}>世界冠軍</a>
				</li>
		    <li class="lokomotiv"> <a href="{% url 'gold_ch' %}"><p>特别项目</p>火车头：前进胜利</a></li>-->
		    <li class="logo_menu"> <a href=""><img src="{% static 'img/logo-white.svg' %}"></a></li>
		    <li> <a ><span><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</span></a>
		       <ul>
		        <li><a href="{{request.path|cut:"/ch"}}"><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</a></li>
		        <li><a href="{{request.path|cut:"/ch/"}}/en/"><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</a></li>
		      </ul>
		     </li>
		  </ul>
		</nav>
		<nav id="nav_mobile" role="navigation">
		      <ul class="clearfix">
		    	<li> <a ><span><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</span></a>
		       <ul>
		        <li><a href="{{request.path|cut:"/ch"}}"><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</a></li>
		        <li><a href="{{request.path|cut:"/ch/"}}/en/"><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</a></li>
		      </ul>
		     </li>
		  </ul>
		</nav>
</div>
</header>
