{% load staticfiles %}
{% load sapsan_tag %}
{% get_sapsan %}
<header>

	<div class="header-content">
		<a href="/"><div class="header-logo"></div></a>
		<div class="top-banner"><a href="{% static "pdf/z-card_RUS_0106.pdf" %}" target="_blank" class="guade-banner"><img src="{% static 'img/banner680.png' %}"></a></div>
		<div class="top-banner-mobile"><a href="{% static "pdf/z-card_RUS_0106.pdf" %}" target="_blank" class="guade-banner-mobile"><img src="{% static 'img/banner359.png' %}"></a></div>
		      <div class="lokomotiv mobile">
						<a href="{% url 'gold' %}">
							<img src="{% static "img/Lokomotiv_658x81_rus.gif" %}" class="big-mobile">
							<img src="{% static "img/Lokomotiv_359x90_rus.gif" %}" class="small">
							<img src="{% static "img/Lokomotiv_718x180_rus.gif" %}" class="medium">
						</a>
					</div>
		<nav id="nav" role="navigation">
			<button class="nav-toggle">
			    <span class="bar-top"></span>
			    <span class="bar-mid"></span>
			    <span class="bar-bot"></span>
			  </button>
		      <ul class="clearfix mobul">
		    <li>
					{% url 'stories' as stories_url %}
					<a href="{{stories_url}}" {% if stories_url == request.path %}class="active"{% endif %}>НОВОСТИ ЧМ</a>
				</li>
		    <li>
					{% url 'fifa' as fifa_url %}
					<a href="{{fifa_url}}" {% if fifa_url == request.path %}class="active"{% endif %}>ИСТОРИЯ ТУРНИРОВ FIFA</a>
				</li>
				<li class="nav-raspisanie">
					{% url 'timing' as timing_url %}
					<a onClick="window.location='{{timing_url}}'" href="{{timing_url}}" {% if timing_url == request.path %}class="active"{% endif %}>РАСПИСАНИЕ ИГР</a>
		    	<ul>
		        <li><a href="{% url 'timing' %}#group">групповой этап</a></li>
		        <li><a href="{% url 'timing' %}#playoff">плей-офф</a></li>
		        <li><a href="{% url 'timing' %}#turnir">турнирная таблица</a></li>
		    	</ul>
		    </li>
				<li class="nav-bolelshik">
					{% url 'fans' as fans_url %}
					<a onClick="window.location='{{fans_url}}'" href="{{fans_url}}" {% if fans_url == request.path %}class="active"{% endif %}>РЖД БОЛЕЛЬЩИКАМ</a>
          <ul>
            <li><a href="{% url 'fans' %}#info" class="active">Информация для пассажиров</a></li>
            <li><a href="{% url 'fans' %}#buy-ticket">Купить или оформить билет</a></li>
            <li><a href="{% url 'fans' %}#map">Карта движения бесплатных поездов во время ЧМ</a></li>
          </ul>
        </li>
		    <li>
					{% url 'video' as video_url %}
					<a href="{{video_url}}" {% if video_url == request.path %}class="active"{% endif %}>ВИДЕО</a>
				</li>
		    <li>
					{% url 'rozanov_page' as rozanov_page_url %}
					<a href="{{rozanov_page_url}}" {% if rozanov_page_url == request.path %}class="active"{% endif %}>ГЛАЗАМИ ЮРИЯ РОЗАНОВА</a>
				</li>
		    <li>
					<a href="/guide/moskva/" {% if '/guide/moskva/' == request.path %}class="active"{% endif %}>ГИД ПО ГОРОДАМ ЧМ</a>
				</li>
		    <li class="lokomotiv"><a href="{% url 'gold' %}"><p>СПЕЦПРОЕКТ</p>ЛОКОМОТИВ: ДОРОГА К ЗОЛОТУ</a></li>
		    <li class="logo_menu"> <a href=""><img src="{% static 'img/logo-white.svg' %}"></a></li>
		    <li> <a ><span><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</span></a>
		       <ul>
		        <li><a href="{{request.path}}en/"><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</a></li>
		        <li>
							{% if timing_url == request.path %}
							<a href="{% url 'timing_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% else %}
							<a href="{% url 'fans_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% endif %}
						</li>
		      </ul>
		     </li>
		  </ul>
		</nav>
		<nav id="nav_mobile" role="navigation">
		      <ul class="clearfix">
		    	<li> <a ><span><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</span></a>
		       <ul>
						<li><a href="{{request.path}}en/"><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</a></li>
						<li>
							{% if timing_url == request.path %}
							<a href="{% url 'timing_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% else %}
							<a href="{% url 'fans_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% endif %}
						</li>
		      </ul>
		     </li>
		  </ul>
		</nav>
</div>
</header>
