{% load staticfiles %}
{% load sapsan_tag %}
{% get_sapsan %}
<header>
	<div class="header-content">
		<a href="/en/"><div class="header-logo eng"></div></a>
		<div class="top-banner"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}" target="_blank" class="guade-banner"><img src="{% static 'img/banner680_eng.png' %}"></a></div>
		<div class="top-banner-mobile"><a href="{% static "pdf/z-card_ENG_0106.pdf" %}" target="_blank" class="guade-banner-mobile"><img src="{% static 'img/banner359_eng.png' %}"></a></div>
		<div class="lokomotiv mobile">
			<a href="{% url 'gold_en' %}">
				<img src="{% static "img/Lokomotiv_658x81_eng.gif" %}" class="big-mobile">
				<img src="{% static "img/Lokomotiv_359x90_eng.gif" %}" class="small">
				<img src="{% static "img/Lokomotiv_718x180_eng.gif" %}" class="medium">
			</a>
		</div>
		<nav id="nav" role="navigation">
			<button class="nav-toggle">
			    <span class="bar-top"></span>
			    <span class="bar-mid"></span>
			    <span class="bar-bot"></span>
			  </button>
		      <ul class="clearfix mobul">
		    <li>
					{% url 'stories_en' as stories_url %}
					<a href="{{stories_url}}" {% if stories_url == request.path %}class="active"{% endif %}>WORLD CUP NEWS</a>
				</li>
		    <li>
					{% url 'fifa_en' as fifa_url %}
					<a href="{{fifa_url}}" {% if fifa_url == request.path %}class="active"{% endif %}>HISTORY OF FIFA</a>
				</li>
				<li class="nav-raspisanie">
					{% url 'timing_en' as timing_url %}
					<a href="{{timing_url}}" {% if timing_url == request.path %}class="active"{% endif %}>FULL SCHEDULE</a>
		    	<ul>
		        <li><a href="{% url 'timing_en' %}#group">GROUP STAGE</a></li>
		        <li><a href="{% url 'timing_en' %}#playoff">KNOCKOUT STAGE</a></li>
		        <li><a href="{% url 'timing_en' %}#turnir">TOURNAMENT TABLE</a></li>
		    	</ul>
		    </li>
				<li class="nav-bolelshik">
					{% url 'fans_en' as fans_url %}
					<a href="{{fans_url}}" {% if fans_url == request.path %}class="active"{% endif %}>RUSSIAN RAILWAYS FOR THE FANS</a>
          <ul>
            <li><a href="{% url 'fans_en' %}#info" class="active">Travel information</a></li>
            <li><a href="{% url 'fans_en' %}#buy-ticket">Buy or book tickets</a></li>
            <li><a href="{% url 'fans_en' %}#map">World Cup free trains route map</a></li>
          </ul>
        </li>
		    <li>
					{% url 'video_en' as video_url %}
					<a href="{{video_url}}" {% if video_url == request.path %}class="active"{% endif %}>VIDEOS</a>
				</li>
		    <li>
					{% url 'rozanov_page_en' as rozanov_page_url %}
					<a href="{{rozanov_page_url}}" {% if rozanov_page_url == request.path %}class="active"{% endif %}>MATCH POINT BY YURI ROZANOV</a>
				</li>
		    <li>
					<a href="/guide/moskva/en/" {% if '/guide/moskva/en/' == request.path %}class="active"{% endif %}>FAN GUIDE</a>
				</li>
		    <li class="lokomotiv"> <a href="{% url 'gold_en' %}"><p>SPECIAL SECTION</p>LOKOMOTIV: PATH TO GOLD</a></li>
		    <li class="logo_menu"> <a href=""><img src="{% static 'img/logo-white.svg' %}"></a></li>
		    <li> <a ><span><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</span></a>
		       <ul>
		        <li><a href="{{request.path|cut:"/en"}}"><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</a></li>
						<li>
							{% if timing_url == request.path %}
							<a href="{% url 'timing_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% else %}
							<a href="{% url 'fans_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
							{% endif %}
						</li>
		      </ul>
		     </li>
		  </ul>
		</nav>
		<nav id="nav_mobile" role="navigation">
		      <ul class="clearfix">
		    	<li> <a ><span><img class="flag" src="{% static 'img/flag-eng.png' %}">EN</span></a>
		       <ul>
		        <li><a href="{{request.path|cut:"/en"}}"><img class="flag" src="{% static 'img/flag-rus.png' %}">RU</a></li>
		        <li>
								{% if timing_url == request.path %}
								<a href="{% url 'timing_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
								{% else %}
								<a href="{% url 'fans_ch' %}"><img class="flag" src="{% static 'img/flag-ch.png' %}">CH</a>
								{% endif %}
							</li>
		      </ul>
		     </li>
		  </ul>
		</nav>
</div>
</header>
